<div class="dashboard-con settings">
  <div class="top-container">
    <div class="col-md-9 col-xs-9 top-links product-search">
      <div class="top-links-container ng-scope">
        <ul class="open-nav ng-scope">
          <li><a href="">{{'communication.main_heading' | translate:translationData}}</a></li>
        </ul>
      </div>
      <div class="top-links-container ng-scope top-search-con communicate-search">
        <input type="text" class="form-control" ng-model="pagingData.fromFilter" ng-change="communicationLogs(pagingData)" placeholder="{{'communication.search_placeholder' | translate:translationData}}"/>
        <button type="submit" ng-click="clearLogs()" ng-show="pagingData.fromFilter!=''"><i class="fa fa-times"></i></button>
        <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
      </div>
    </div>
    <div class="col-md-3 col-xs-3 top-btn cart-btn"> <span ui-sref="communication.new" style="cursor: pointer;">{{'communication.send_sms' | translate:translationData}}</span>
      <button class="save add_com" type="submit" ui-sref="communication.new"><i class="fa fa-commenting-o"></i></button>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 form-content no_topbar" ng-scrollbars>
    <div class="text-center noRecord" ng-if="noRecordFount">
      <h4>{{'communication.no_match' | translate:translationData}}</h4>
    </div>
    <div class="text-center noRecordToDisplay" ng-if="CommunicationList == null">
        <i></i>
        <h4><span>"{{'communication.oops' | translate:translationData}} </span> {{'communication.no_info' | translate:translationData}}"</h4>
    </div>
    <div class="product-con">
      <uib-accordion close-others="true">
      <uib-accordion-group  ng-repeat="Communications in CommunicationList" is-open="Communications.isopen" class="my-group communication">
      <uib-accordion-heading>
        <div class="productsdetails" style="outline:none"  ng-click="opened($index, Communications.id)">
          <div class="col-sm-2"><span>{{'communication.date' | translate:translationData}}</span> : {{Communications.date}}</div>
          <div class="col-sm-3"><span>{{'communication.category' | translate:translationData}}</span> : {{Communications.category}}</div>
          <div class="col-sm-2"><span>{{'communication.type' | translate:translationData}}</span> : {{Communications.comm_type}}</div>
          <div class="col-sm-3"><span>{{'communication.patient' | translate:translationData}}</span> : {{Communications.patient}} </div>
          <div class="col-sm-2 text-right right">
            <label class="sent" ng-if="Communications.direction=='sent'"><span>{{'communication.sent' | translate:translationData}}</span></label>
            <label class="sent pending" ng-if="Communications.direction=='fail'"><span>{{'communication.pending' | translate:translationData}}</span></label>
          </div>
        </div>
      </uib-accordion-heading>
      <div class="no-animate"  ng-if="showCommunicationDetails($index)">
        <div class="col-sm-12 productInfo sms-detail">
          <div class="col-sm-4">
            <h4>
              <label>{{'communication.time' | translate:translationData}} </label>
              <span>{{commDetails.communication_time | date:'dd/MMM/yyyy hh:mm:ss a'}}</span> </h4>
          </div>
          <div class="col-sm-4">
            <h4>
              <label>{{'communication.type' | translate:translationData}}</label>
              <span>{{commDetails.type}}</span> </h4>
          </div>
          <div class="col-sm-4">
            <h4>
              <label>{{'communication.to' | translate:translationData}}</label>
              <span>{{commDetails.to}}</span> </h4>
          </div>
          <div class="col-sm-4">
            <h4>
              <label>{{'communication.category' | translate:translationData}}</label>
              <span>{{commDetails.category}}</span> </h4>
          </div>
          <div class="col-sm-4">
            <h4>
              <label>{{'communication.from' | translate:translationData}}</label>
              <span>{{commDetails.from}}</span> </h4>
          </div>
          <div class="col-sm-4">
            <h4>
              <label>{{'communication.direction' | translate:translationData}}</label>
              <span>{{commDetails.direction}}</span> </h4>
          </div>
          <div class="col-sm-4">
            <h4>
              <label>{{'communication.sent_successful' | translate:translationData}}</label>
              <span ng-if="commDetails.send_status==true">{{'communication.sent' | translate:translationData}}</span>
              <span ng-if="commDetails.send_status!=true">{{'communication.not_sent' | translate:translationData}}</span> </h4>
          </div>
          <div class="col-sm-12 have-note">
            <h4>
              <label>{{'communication.message' | translate:translationData}}</label>
              <span ng-bind-html="commDetails.message"></span> </h4>
          </div>
        </div>
      </div>
    </div>
    </uib-accordion-group>
    </uib-accordion>
    <div class="" ng-if="pagingData.TotalItems > 30">
      <div class="row" ng-controller="PagePaginationController" ng-show="showGrid">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div class="col-lg-12 side_filter">
            <label style="border-right: none;">Page Size&nbsp;&nbsp;
            <select ng-model="pager.pageSize" ng-options="pageNo for pageNo in pager.pageSizeValues" ng-change="onSelectPageSize(pagingData, pager.pageSize)" class="paging-select" ng-disabled="pager.currentPage == pager.numPages" style="width: 50px; height: 25px;"></select>
            </label>
          </div>
          <div class="col-lg-10 col-sm-10 col-md-10">
              <pagination total-items="pager.totalItems" ng-model="pager.currentPage" max-size="pager.maxSize" items-per-page="pager.pageSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pager.numPages" ng-change="onSelectPage(pagingData, pager.currentPage)">
              </pagination>
          </div>
          <div ng-init="initPager(pagingData);"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div ui-view class="popup_view"></div>
<style>
.form-control{width:100% !important;}
</style>
