<div ng-controller="alideCtrl">
<div class="navbar navbar-inverse navbar-twitch"   role="navigation" side-nav>
	<div class="container">
		<ul class="nav navbar-nav">
			<li ui-sref-active="active" ui-sref="dashboard" ng-class="{active: $state.includes('dashboard')}" ng-click="closeMenu()">
				<a href="">
					<span class="small-nav" data-toggle="tooltip" data-placement="right">
						<span class="ic dashboard-icn" ng-class="{active: $state.includes('dashboard')}"></span>
					</span>
					<span class="full-nav"> {{'sidebar_menu.dashboard' | translate:translationData}} </span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="DashboardLinks.appointment && subscription_status" ui-sref="appointment" ng-click="closeMenu()">
				<a href="">
					<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
						<span class="ic appointment-icn"></span> 
					</span>
					<span class="full-nav"> {{'sidebar_menu.appointments' | translate:translationData}} </span>
				</a>
			</li>
				<li ng-if="DashboardLinks.patient && subscription_status" ng-class="{active: isPatient()}" ui-sref="patient" ng-click="closeMenu()" ng-class="{active: $state.includes('patient'),'active': $state.includes('patient-detail'), 'active': $state.includes('AccountStatement')}}">
					<a href="">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic patients-icn"></span> 
						</span>
						<span class="full-nav"> {{'sidebar_menu.patients' | translate:translationData}} </span>
					</a>
				</li>
	            <li ui-sref-active="active" ng-if="DashboardLinks.invoice && subscription_status" ng-class="{active: $state.includes('invoice')}" ui-sref="invoice" ng-click="closeMenu()">
					<a href="">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic invoice-icn"></span> 
						</span>
						<span class="full-nav"> {{'sidebar_menu.invoices' | translate:translationData}} </span>
					</a>
				</li>
	            <li ui-sref-active="active" ng-if="DashboardLinks.payment && subscription_status" ui-sref="payment" ng-click="closeMenu()">
					<a href="">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic payments-icn"></span> 
						</span>
						<span class="full-nav"> {{'sidebar_menu.payments' | translate:translationData}} </span>
					</a>
				</li>
	            <li ng-if="DashboardLinks.product && subscription_status" ui-sref-active="active" ng-class="{active: $state.includes('products')}" ui-sref="products" ng-click="closeMenu()">
					<a href="">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic product-icn"></span> 
						</span>
						<span class="full-nav"> {{'sidebar_menu.products' | translate:translationData}} </span>
					</a>
				</li>
	            <li ng-if="DashboardLinks.expense && subscription_status" ui-sref="expense" ng-click="closeMenu()" ng-class="{active: $state.includes('expense')}">
					<a href="">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic expences-icn"></span> 
						</span>
						<span class="full-nav"> {{'sidebar_menu.expenses' | translate:translationData}} </span>
					</a>
				</li>
	            <li ng-if="DashboardLinks.contact && subscription_status" ui-sref="contact" ng-click="closeMenu()" ng-class="{active: $state.includes('contact')}">
					<a href="">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic contact-icn"></span> 
						</span>
						<span class="full-nav"> {{'sidebar_menu.contacts' | translate:translationData}} </span>
					</a>
				</li>
	            <li ng-class="{active: $state.includes('reports')}" ng-click="openReportsMenu()" ng-if="DashboardLinks.report && subscription_status">
					<a href="">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic report-icn"></span> 
						</span>
						<span class="full-nav"> {{'sidebar_menu.reports' | translate:translationData}} </span>
					</a>
				</li>
				<li ng-class="{'active' : ($state.includes('sms') || $state.includes('smsLogs') || $state.includes('communication'))}" ng-click="openSmsMenu()" ng-if="DashboardLinks.communication && subscription_status">
					<a href="">
						<span class="small-nav" data-toggle="tooltip" data-placement="right"> 
							<span class="ic communication-icn"></span> 
						</span>
						<span class="full-nav"> {{'sidebar_menu.communications' | translate:translationData}} </span>
					</a>
				</li>
			
            <li ng-if="DashboardLinks.setting" ng-class="{active: $state.includes('settings')}" ng-click="openSettingsMenu()">
				<a href="">
					<span class="small-nav" data-toggle="tooltip" data-placement="right" > 
						<span class="ic settings-icn" ng-class="{active: $state.includes('settings')}"></span> 
					</span>
					<span class="full-nav"> {{'sidebar_menu.settings' | translate:translationData}} </span>
				</a>
			</li>
		</ul>
	</div><!--/.nav-collapse -->
	<div class="settings_menu full_height_menu" ng-class="{'animate' : open_settings}">
		<ul ng-click="closeMenu()">
		    <li ng-if="DashboardLinks.setting_sub_modules.account_module && subscription_status">
		    	<a href="">{{'sidebar_menu.account' | translate:translationData}}</a>
		    	<div class="side_menu_con">
			    	<ul>
			    		<li ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.account">
			    			<a ui-sref="settings.account" href="">{{'sidebar_menu.Account_Details' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.business">
			    			<a ui-sref="settings.business" href="">{{'sidebar_menu.Business_Locations' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.user">
			    			<a ui-sref="settings.users" href="">{{'sidebar_menu.User_Management' | translate:translationData}}</a>
			    		</li>
			    	</ul>
		    	</div>
		    </li>
		    <li ng-if="DashboardLinks.setting_sub_modules.billing_module && subscription_status">
		    	<a href="">{{'sidebar_menu.Billing' | translate:translationData}}</a>
		    	<div class="side_menu_con">
			    	<ul>
			    		<li ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.service">
			    			<a ui-sref="settings.billable-items" href="">{{'sidebar_menu.Product_and_Services' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.payment_type">
			    			<a ui-sref="settings.payment-types" href="">{{'sidebar_menu.Payment_Methods' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.tax">
			    			<a ui-sref="settings.taxes" href="">{{'sidebar_menu.Taxes' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.invoice_setting">
			    			<a ui-sref="settings.invoice" href="">{{'sidebar_menu.Invoice_Settings' | translate:translationData}}</a>
			    		</li>
			    	</ul>
		    	</div>
		    </li>
		    <li ng-if="DashboardLinks.setting_sub_modules.booking_module && subscription_status">
		    	<a href="">{{'sidebar_menu.Booking' | translate:translationData}}</a>
		    	<div class="side_menu_con">
			    	<ul>
			    		<li ng-if="DashboardLinks.setting_sub_modules.booking_sub_modules.appointment_type">
			    			<a ui-sref="settings.appointment" href="">{{'sidebar_menu.Appointment_Types' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.booking_sub_modules.online_booking">
			    			<a ui-sref="settings.online-booking" href="">{{'sidebar_menu.Online_Booking' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.booking_sub_modules.appointment_reminder">
			    			<a ui-sref="settings.appointment-reminders" href="">{{'sidebar_menu.Reminders' | translate:translationData}}</a>
			    		</li>
			    	</ul>
		    	</div>
		    </li>
		    <li ng-if="DashboardLinks.setting_sub_modules.communication_module && subscription_status">
		    	<a href="">{{'sidebar_menu.Communication' | translate:translationData}}</a>
		    	<div class="side_menu_con">
			    	<ul>
			    		<li ng-if="DashboardLinks.setting_sub_modules.communication_sub_modules.recall_type">
			    			<a ui-sref="settings.recall-types" href="">{{'sidebar_menu.Recalls' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.communication_sub_modules.letter_template">
			    			<a ui-sref="settings.letter-templates" href="">{{'sidebar_menu.Letter_templates' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.communication_sub_modules.sms_template">
			    			<a ui-sref="settings.sms-templates" href="">{{'sidebar_menu.SMS_Template' | translate:translationData}}</a>
			    		</li>
			    	</ul>
		    	</div>
		    </li>
		    <li ng-if="DashboardLinks.setting_sub_modules.client_module && subscription_status">
		    	<a href="">{{'sidebar_menu.Clients' | translate:translationData}}</a>
		    	<div class="side_menu_con">
			    	<ul>
			    		<li ng-if="DashboardLinks.setting_sub_modules.client_sub_modules.template_note">
			    			<a ui-sref="settings.treatment-notes" href="">{{'sidebar_menu.Notes_Templates' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.client_sub_modules.referral_type">
			    			<a ui-sref="settings.referral-types" href="">{{'sidebar_menu.Refferral_Types' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.client_sub_modules.discount_type">
			    			<a ui-sref="settings.discount-types" href="">{{'sidebar_menu.Discount_Types' | translate:translationData}}</a>
			    		</li>
			    	</ul>
		    	</div>
		    </li>
		    <li ng-if="DashboardLinks.setting_sub_modules.dc_data_module && subscription_status">
		    	<a href="">{{'sidebar_menu.Documents_and_Data' | translate:translationData}}</a>
		    	<div class="side_menu_con">
			    	<ul>
			    		<li ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.import">
			    			<a ui-sref="settings.data-imports" href="">{{'sidebar_menu.Data_Imports' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.export">
			    			<a ui-sref="settings.data-export" href="">{{'sidebar_menu.Data_Export' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.dc_print">
			    			<a ui-sref="settings.document-and-printing" href="">{{'sidebar_menu.Print_Settings' | translate:translationData}}</a>
			    		</li>
			    	</ul>
		    	</div>
		    </li>
		    <li ng-if="DashboardLinks.setting_sub_modules.subscription_module ">
		    	<a href="">{{'sidebar_menu.Subscription_and_SMS' | translate:translationData}}</a>
		    	<div class="side_menu_con">
			    	<ul>
			    		<li ng-if="DashboardLinks.setting_sub_modules.subscription_sub_modules.subscription">
			    			<a ui-sref="settings.subscription" href="">{{'sidebar_menu.opusTime_subscription' | translate:translationData}}</a>
			    		</li>
			    		<li ng-if="DashboardLinks.setting_sub_modules.subscription_sub_modules.sms_setting && subscription_status">
			    			<a ui-sref="settings.sms-setting" href="">{{'sidebar_menu.SMS_Settings' | translate:translationData}}</a>
			    		</li>
			    	</ul>
		    	</div>
		    </li>
		    <li ng-if="DashboardLinks.setting_sub_modules.integration_module && subscription_status"><a href="" ui-sref="settings.integration">{{'sidebar_menu.Integrations' | translate:translationData}}</a></li>
			<li><a href="" ui-sref="settings.enateimport">{{'sidebar_menu.enateimport' | translate:translationData}}</a></li>
		</ul>
	</div>
	<div class="settings_menu sms_menu" ng-class="{'animate' : open_sms}">
		<ul ng-click="closeMenu()">
		    <li><a href="" ui-sref="sms">{{'sidebar_menu.sendSms' | translate:translationData}}</a></li>
		    <li><a href="" ui-sref="smsLogs">{{'sidebar_menu.SMS_Logs' | translate:translationData}}</a></li>
		    <li><a href="" ui-sref="communication">Communication Logs</a></li>
		</ul>
	</div>
	<div class="settings_menu " ng-class="{'animate' : open_reports}">
		<ul ng-click="closeMenu()">
		    <li ng-if="DashboardLinks.report_sub_modules.appointment">
		    	<a href="" ui-sref="reports.appReports">{{'sidebar_menu.appointments' | translate:translationData}}</a>
		    	<span>{{'sidebar_menu.appointment.tooltip' | translate}}</span>
		    </li>
		    <li ng-if="DashboardLinks.report_sub_modules.daily_report">
		    	<a href="" ui-sref="reports.dailyPaymentReports">{{'sidebar_menu.Daily_Payment_Reports' | translate:translationData}}</a>
		    	<span>{{'sidebar_menu.dailyReport.tooltip' | translate}}</span>
		    </li>
		    <li ng-if="DashboardLinks.report_sub_modules.expense">
		    	<a href="" ui-sref="reports.expenseReports">{{'sidebar_menu.Expense_Reports' | translate:translationData}}</a>
		    	<span>{{'sidebar_menu.expense.tooltip' | translate}}</span>
		    </li>
		    <li ng-if="DashboardLinks.report_sub_modules.patient">
		    	<a href="" ui-sref="reports.patientReports">{{'sidebar_menu.patients' | translate:translationData}}</a>
		    	<span>{{'sidebar_menu.patients.tooltip' | translate}}</span>
		    </li>
		    <li ng-if="DashboardLinks.report_sub_modules.upcoming_bday">
		    	<a href="" ui-sref="reports.patientBirthdayReports">{{'sidebar_menu.Patients_Upcoming_Birthday' | translate:translationData}}</a>
		    	<span>{{'sidebar_menu.birthday.tooltip' | translate}}</span>
		    </li>
		    <li ng-if="DashboardLinks.report_sub_modules.ptn_wt_upcm_appnt">
		    	<a href="" ui-sref="reports.PatientWithoutApp">{{'sidebar_menu.Patients_wo_uc_Appointments' | translate:translationData}}</a>
		    	<span>{{'sidebar_menu.appointments_wo.tooltip' | translate}}</span>
		    </li>
		    <li ng-if="DashboardLinks.report_sub_modules.practitioner_revenue">
		    	<a href="" ui-sref="reports.practitionarReports">{{'sidebar_menu.Practitioners' | translate:translationData}}</a>
		    	<span>{{'sidebar_menu.Practitioners.tooltip' | translate}}</span>
		    </li>
		    <li ng-if="DashboardLinks.report_sub_modules.recall">
		    	<a href="" ui-sref="reports.recallPatientReports">{{'sidebar_menu.Recall_Patients' | translate:translationData}}</a>
		    	<span>{{'sidebar_menu.recall.tooltip' | translate}}</span>
		    </li>
		    <li ng-if="DashboardLinks.report_sub_modules.refer">
		    	<a href="" ui-sref="reports.referralTypeReports">{{'sidebar_menu.Referral_sources' | translate:translationData}}</a>
		    	<span>{{'sidebar_menu.refrell.tooltip' | translate}}</span>
		    </li>
		    <li ng-if="DashboardLinks.report_sub_modules.payment_summary">
		    	<a href="" ui-sref="reports.revenueReports">{{'sidebar_menu.Revenue' | translate:translationData}}</a>
		    	<span>{{'sidebar_menu.revenue.tooltip' | translate}}</span>
		    </li>
		</ul>
	</div>
</div>
<div class="overlay_con" ng-click="closeMenu()" ng-if="overlay"></div>
</div>
