<div class="login-header no-animate" ng-show="isLoggedIn">

<h1 class="text-center project-title">{{'Zulu.mainHeading' | translate:translationData}}</h1>
</div>
<div class="loginForm">
<h3 class=" text-center">{{'resetPassword.resetPass' | translate:translationData}}</h3>
<form novalidate class="form-horizontal col-xs-4 center-block" name="ResetForm" id="ResetForm" ng-submit="ResetForm.$valid && SubmitReset(user)">
<div class="row">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">{{'resetPassword.newPassword' | translate:translationData}}</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" ng-model="user.password" id="inputEmail3" placeholder="{{'resetPassword.newPassword' | translate:translationData}}"  required >
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">{{'resetPassword.retypePassword' | translate:translationData}}</label>
    <div class="col-sm-8">
      <input type="password" password-match="user.password" class="form-control" id="inputEmail3" placeholder="{{'resetPassword.retypePassword' | translate:translationData}}" ng-model="user.password_confirmation" required ng-required name="password2" >
       <div class="msg-block" ng-show="ResetForm.$error"><span class="msg-error" ng-show="ResetForm.password2.$error.unique">{{'forgotpassword.passnotmatch' | translate:translationData}}</span></div> 
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button type="submit" class="btn btn-default btn-blue" ng-disabled="loading"><span ng-hide="loading">{{'button.update' | translate:translationData}}</span> <div class="spinner" ng-show="loading"></div></button>
      <a ui-sref="login_first" class="sign-up">{{'resetPassword.login' | translate:translationData}}</a>
    </div>
  </div>
  </div>
</form>
<div class="error col-sm-8 col-sm-offset-2 animate-show angular-animate" ng-show="errorTokan">
  <div class="error-container text-center">
  <p><i class="fa fa-warning"></i><span>{{'resetPassword.invalidTokan' | translate:translationData}}</span></p>
  </div>
</div>
<div class="error col-sm-8 col-sm-offset-2 animate-show angular-animate" ng-show="error">
  <div class="error-container text-center">
  <p><i class="fa fa-warning"></i><span>{{msg}}</span></p>
  </div>
</div>

<div class="error col-sm-8 col-sm-offset-2 animate-show angular-animate" ng-show="Sucess">
  <div class="error-container text-center" style="background:green">
  <p> <i class="glyphicon glyphicon-ok-circle"></i><span>{{'resetPassword.passwordChanged' | translate:translationData}}</span></p>
  </div>
</div>

</div>