<div class="login-header" ng-show="isLoggedIn">
<h1 class="text-center project-title">{{'Zulu.mainHeading' | translate:translationData}}</h1>
</div>
<div class="loginForm">
<h3 class=" text-center">{{'login.treatYourself' | translate:translationData}}</h3>
<form novalidate class="form-horizontal col-xs-6 center-block" ng-submit="doRegisterinfo(user)">
<div class="row">
  <div class="form-group">
    <label for="inputCname3" class="col-sm-3 control-label">{{'label.first_name' | translate:translationData}}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputFname3" placeholder="{{'label.first_name' | translate:translationData}}" ng-model="user.first_name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">{{'label.last_name' | translate:translationData}}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputLname3" placeholder="{{'label.last_name' | translate:translationData}}" ng-model="user.last_name" required >
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">{{'label.country' | translate:translationData}}</label>
    <div class="col-sm-9">
       <select class="form-control" ng-model="user.country">
          <option  ng-repeat="countries in country" value="{{countries.code}}">{{countries.name}}</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">{{'label.timezone' | translate:translationData}}</label>
    <div class="col-sm-9">
      <select ng-model="user.time_zone" required class="form-control">
          <option ng-repeat="timezones in timezone" value="{{timezones.time_zone}}">
          {{timezones.printable_string[0].formatted_timezone}}</option>
      </select>
    </div>
  </div>
<!--   <div class="form-group">
    <label for="location" class="col-sm-3 control-label">{{'label.location' | translate:translationData}}</label>
    <div class="col-sm-9">
      <span for="currentLocation">
        <span ng-model="user.country">{{'label.currentLocation' | translate:translationData}} <b>{{user.country}} </b></span>
        <span ng-model="user.time_zone">{{'label.setTimeZone' | translate:translationData}}<b>{{user.time_zone}}</b></span>
        <a href="">{{'label.changeLocation' | translate:translationData}}</a>   
      </span>
    </div>
  </div> -->
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-12">
      <span for="termsAndCondition">
        <input ng-model="user.terms" type="checkbox" id="termsAndCondition" required>
        <span>{{'login.terms' | translate:translationData}}</span>
        <a href="" ui-sref="termsandcondition({'comp_id' : comp_id})" class="form-hyperlink">{{'login.serviceTerms' | translate:translationData}}</a>
        <span>{{'login.condition' | translate:translationData}}</span>    
      </span>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-default btn-blue">{{'login.signUp' | translate:translationData}} <div class="spinner" ng-show="loading"></div></button>
    </div>
  </div>
  </div>
</form>
<div class="error col-sm-8 col-sm-offset-2 animate-show" ng-show="error">
  <div class="error-container text-center">
  <p>
    <i class="fa fa-warning"></i>
    <span><span ng-repeat="errors in msg">{{errors.error_name}} {{errors.error_msg}}<br></span></span>
  </p>
  </div>
</div>
</div>
<script>
var _elev = window._elev || {};(function() {var i,e;i=document.createElement("script"),i.type='text/javascript';i.async=1,i.src="https://static.elev.io/js/v3.js",e=document.getElementsByTagName("script")[0],e.parentNode.insertBefore(i,e);})();
_elev.account_id = '55d6f7e97e8a8';
</script>