<div class="login-header no-animate" ng-show="isLoggedIn">

<h1 class="text-center project-title">{{'Zulu.mainHeading' | translate:translationData}}</h1>
</div>
<div class="loginForm">
  <h3 class="text-center">{{'termsandcondition.heading' | translate:translationData}}</h3>
  <form novalidate id="termsandcondition" name="TermsAndcondition" class="form-horizontal" ng-submit="cancel()">
  <div class="termsrow">
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.basicAgreementHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterTerms' | translate:translationData}}</samp>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.disclaimerHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterDisclaimers' | translate:translationData}}</samp>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.securityHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterSecurity' | translate:translationData}}</samp><br/>
        <samp>1. {{'termsandcondition.security1' | translate:translationData}}</samp><br/>
        <samp>2. {{'termsandcondition.security2' | translate:translationData}}</samp><br/>
        <samp>3. {{'termsandcondition.security3' | translate:translationData}}</samp><br/>
        <samp>4. {{'termsandcondition.security4' | translate:translationData}}</samp><br/>
        <samp>5. {{'termsandcondition.security5' | translate:translationData}}</samp><br/>
        <samp>6. {{'termsandcondition.security6' | translate:translationData}}</samp><br/>
        <samp>7. {{'termsandcondition.security7' | translate:translationData}}</samp><br/>
        <samp>8. {{'termsandcondition.security8' | translate:translationData}}</samp><br/>
        <samp>9. {{'termsandcondition.security9' | translate:translationData}}</samp><br/>
        <samp>10. {{'termsandcondition.security10' | translate:translationData}}</samp><br/>
        <samp>11. {{'termsandcondition.security11' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.protectingRightsHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterProtectingRights' | translate:translationData}}</samp><br/>
        <samp>1. {{'termsandcondition.protectingRights1' | translate:translationData}}</samp><br/>
        <samp>2. {{'termsandcondition.protectingRights2' | translate:translationData}}</samp><br/>
        <samp>3. {{'termsandcondition.protectingRights3' | translate:translationData}}</samp><br/>
        <samp>4. {{'termsandcondition.protectingRights4' | translate:translationData}}</samp><br/>
        <samp>5. {{'termsandcondition.protectingRights5' | translate:translationData}}</samp><br/>
        <samp>6. {{'termsandcondition.protectingRights6' | translate:translationData}}</samp><br/>
        <samp>7. {{'termsandcondition.protectingRights7' | translate:translationData}}</samp><br/>
        <samp>8. {{'termsandcondition.protectingRights8' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.accountSecurityHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterAccountSecurity' | translate:translationData}}</samp><br/>
        <samp>1. {{'termsandcondition.accountsecurity1' | translate:translationData}}</samp><br/>
        <samp>2. {{'termsandcondition.accountsecurity2' | translate:translationData}}</samp><br/>
        <samp>3. {{'termsandcondition.accountsecurity3' | translate:translationData}}</samp><br/>
        <samp>4. {{'termsandcondition.accountsecurity4' | translate:translationData}}</samp><br/>
        <samp>5. {{'termsandcondition.accountsecurity5' | translate:translationData}}</samp><br/>
        <samp>6. {{'termsandcondition.accountsecurity6' | translate:translationData}}</samp><br/>
        <samp>7. {{'termsandcondition.accountsecurity7' | translate:translationData}}</samp><br/>
        <samp>8. {{'termsandcondition.accountsecurity8' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.refundPolicyHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterAccountSecurity' | translate:translationData}}</samp><br/>
        <samp>1. {{'termsandcondition.refundPolicy1' | translate:translationData}}</samp><br/>
        <samp>2. {{'termsandcondition.refundPolicy2' | translate:translationData}}</samp><br/>
        <samp>3. {{'termsandcondition.refundPolicy3' | translate:translationData}}</samp><br/>
        <samp>4. {{'termsandcondition.refundPolicy4' | translate:translationData}}</samp><br/>
        <samp>5. {{'termsandcondition.refundPolicy5' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.cancelAccountHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterCancelAccount' | translate:translationData}}</samp><br/>
        <samp>1. {{'termsandcondition.cancelAccount1' | translate:translationData}}</samp><br/>
        <samp>2. {{'termsandcondition.cancelAccount2' | translate:translationData}}</samp><br/>
        <samp>3. {{'termsandcondition.cancelAccount3' | translate:translationData}}</samp><br/>
        <samp>{{'termsandcondition.stopCancelAccount' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.pricingHeading' | translate:translationData}}</label><br/>
        <samp>1. {{'termsandcondition.pricing1' | translate:translationData}}</samp><br/>
        <samp>2. {{'termsandcondition.pricing2' | translate:translationData}}</samp><br/>
        <samp>3. {{'termsandcondition.pricing3' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.customerServiceHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterCustomerService' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.dormantHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterDormant' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.disputesHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterDisputes' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.limitationdisputesHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterlimitationdisputes' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.terminationHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.entertermination' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
     <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.otherHeading' | translate:translationData}}</label><br/>
        <samp>1. {{'termsandcondition.other1' | translate:translationData}}</samp><br/>
        <samp>2. {{'termsandcondition.other2' | translate:translationData}}</samp><br/>
        <samp>3. {{'termsandcondition.other3' | translate:translationData}}</samp><br/>
        <samp>4. {{'termsandcondition.other4' | translate:translationData}}</samp><br/>
        <samp>5. {{'termsandcondition.other5' | translate:translationData}}</samp><br/>
        <samp>6. {{'termsandcondition.other6' | translate:translationData}}</samp><br/>
        <samp>7. {{'termsandcondition.other7' | translate:translationData}}</samp><br/>
        <samp>8. {{'termsandcondition.other8' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.forceHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterforce' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.copyrightHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.entercopyright1' | translate:translationData}}</samp><br/>
        <samp>{{'termsandcondition.entercopyright2' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.governingHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterGoverning' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.languageHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterlanguage' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <label for="inputEmail3" class="control-label">{{'termsandcondition.indemnityHeading' | translate:translationData}}</label><br/>
        <samp>{{'termsandcondition.enterindemnity' | translate:translationData}}</samp><br/>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-10">
        <!-- <button class="btn btn-default btn-blue" ng-click="termsAndCondition">{{'termsandcondition.accept' | translate:translationData}}</button> -->
        <button type="submit" class="btn btn-default btn-blue" ng-disabled="loading"><span ng-hide="loading">{{'button.ok' | translate:translationData}}</span><div class="spinner" ng-show="loading"></div></button>
      </div>
    </div>
  </div>
  </form>
</div>