<div class="dashboard-con settings">
  <div class="top-container">
    <div class="col-md-9 col-xs-9 top-links product-search">
      <div class="top-links-container ng-scope">
        <ul class="open-nav ng-scope">
          <li><a href="" class="ng-binding" ng-click="$state.go('invoice.list')">{{'invoice.main_heading' | translate:translationData}}</a><span style="color:#b93e5b" ng-show="AddnewInvoice"> / {{'invoice.add_new_invoice' | translate:translationData}}</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-xs-3 top-btn cart-btn text-right" ng-show="AddInvoice" > <span style="cursor: pointer;" ng-click="new_Invoice()" ui-sref="invoice.new">{{'invoice.addInvoice' | translate:translationData}}</span>
      <button class="save ng-binding" type="submit" ui-sref="invoice.new" ><i class="fa fa-user"></i></button>
    </div>
  </div>
  <!-- <div class="col-md-12 col-sm-12 form-content" ng-scrollbars ng-scrollbars-config="lazyload_config">
    <div class="invoice-list-details invoice-view">
      <div class="outstanding">
        <div class="col-sm-6">
          <p ng-if="InvoiceDetails.patient_outstanding_balance">{{InvoiceDetails.patient | capitalize}} {{'invoice.hasOutstanding' | translate:translationData}} ${{InvoiceDetails.patient_outstanding_balance}}</p>
        </div>
        <div class="col-sm-6 text-right">
          <p ng-if="InvoiceDetails.patient_credit_balance">{{InvoiceDetails.patient | capitalize}}  {{'invoice.hasAccount' | translate:translationData}} ${{InvoiceDetails.patient_credit_balance}}</p>
        </div>
        <div class="col-sm-12">
          <hr>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-3">
        <div class="invoice-title">
          <h3>{{InvoiceDetails.business.business_name}}<small>{{InvoiceDetails.business.address}}, <span ng-if="InvoiceDetails.business.state!=null" ng-repeat="states in state | filter:{code:InvoiceDetails.business.state}">{{states.name}},</span> {{InvoiceDetails.business.pin_code}}, <span ng-if="InvoiceDetails.business.country!=null" ng-repeat="countries in country | filter:{code:InvoiceDetails.business.country}">{{countries.name}}</span> <br/>
            <span ng-if="InvoiceDetails.business.reg_name!=null">{{InvoiceDetails.business.reg_name}}  {{InvoiceDetails.business.reg_number}}</span><br/>
            <span ng-if="InvoiceDetails.business.show_contact_info!=false">{{InvoiceDetails.business.contact_info}} </span> </small> </h3>
        </div>
      </div>
      <div class="col-sm-9">
        <div class=" pull-right">
          <button class="btn-pink" ng-hide="InvoiceDetails.outstanding_balance==0" ui-sref="payment.new.invoice({invoice_id:InvoiceDetails.tax_invoice})"><i class="fa fa-money"  ></i>{{'button.enterPayment' | translate:translationData}}</button>
          <button class="btn-black " ui-sref="invoice.edit({invoice_id:InvoiceDetails.tax_invoice})" ><i class="fa fa-edit"></i>{{'button.edit' | translate:translationData}}</button>
          <button class="btn-black" ng-click="PrintInvoice(InvoiceDetails.id)"><i class="fa fa-print"></i> {{'button.print' | translate:translationData}}</button>
          <button class="btn-black" ng-if="InvoiceDetails.email_to_patient!=null" ng-click="emailPatient(InvoiceDetails.id,InvoiceDetails.email_to_patient)"><i class="fa fa-envelope-o"> </i>{{'button.emailToPatient' | translate:translationData}}</button>
          <button class="btn-black" ng-if="InvoiceDetails.email_to_other!=null"  ng-click="emailOther(InvoiceDetails.id,InvoiceDetails.email_to_other)"><i class="fa fa-envelope-o"></i> {{'button.emailToOther' | translate:translationData}}</button>
          <button class="btn-black" ng-click="DeleteInvoice('sm', InvoiceDetails.tax_invoice, $event)"><i class="fa fa-times"></i> {{'button.delete' | translate:translationData}}</button>
        </div>
      </div>
      <div class="col-sm-12 invoice-info">
        <div class="row">
          <ul class="list-inline col-sm-12 invoice-detail-list">
            <li>
              <p>{{'invoice.invoiceTo' | translate:translationData}} :</p>
              {{InvoiceDetails.invoice_to}}</li>
            <li>
              <p>{{'payment.patient' | translate:translationData}} :</p>
              <a ui-sref="patient-detail({patient_id:InvoiceDetails.patient_id})">{{InvoiceDetails.patient}}</a></li>
            <li>
              <p>{{'invoice.appDate' | translate:translationData}} : </p>
              {{InvoiceDetails.appt_date}}</li>
            <li>
              <p>{{'invoice.taxinvoice' | translate:translationData}} :</p>
              {{InvoiceDetails.tax_invoice}}</li>
            <li>
              <p>Pract{{'invoice.practitioner' | translate:translationData}}itioner :</p>
              {{InvoiceDetails.practitioner}}</li>
          </ul>
          <ul class="list-inline col-sm-12 invoice-detail-list invoice-note">
            <li ng-if="InvoiceDetails.notes!=''">
              <p>{{'payment.notes' | translate:translationData}} :</p>
              <span>{{InvoiceDetails.notes}}</span></li>
          </ul>
          <div class="col-sm-4 text-right"> </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 invoice-detail-table1">
      <table class="total-list">
        <thead>
          <tr>
            <th>{{'invoice.code' | translate:translationData}} </th>
            <th>{{'invoice.item' | translate:translationData}} </th>
            <th>{{'invoice.type' | translate:translationData}} </th>
            <th>{{'invoice.unitPrice' | translate:translationData}}</th>
            <th>{{'invoice.quantity' | translate:translationData}}</th>
            <th>{{'invoice.tax' | translate:translationData}}</th>
            <th>{{'invoice.discount' | translate:translationData}}</th>
            <th>{{'invoice.totalPrice' | translate:translationData}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="invoices in InvoiceDetails.invoice_items">
            <td class="col-sm-1"><span>{{invoices.item_code}}</span></td>
            <td class="col-sm-3" ng-if="invoices.item_type=='BillableItem'"><span>{{invoices.name}}</span> <span style="color:green;" ng-if="invoices.invoice_items.concession_type!= null">{{invoices.invoice_items.concession_type}}</span></td>
            <td class="col-sm-3" ng-if="invoices.item_type=='Product'"><span>{{invoices.name}}</span></td>
            <td class="col-sm-1"><span class="">{{invoices.type}}</span></td>
            <td class="col-sm-1"><span>$ {{invoices.unit_price}}</span></td>
            <td class="col-sm-1"><span>{{invoices.quantity}}</span></td>
            <td class="col-sm-1"><span>{{invoices.tax}}</span></td>
            <td class="col-sm-2"><span ng-if="invoices.discount_type_percentage=='%' && invoices.discount!=null" >{{invoices.discount}}%</span> <span ng-if="invoices.discount_type_percentage=='$' && invoices.discount!=null" >${{invoices.discount}}</span></td>
            <td class="col-sm-2"><div class=" total-price"> <span class="pull-left">${{invoices.total_price}}</span> </div></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12">
      <div class="total-list-full-details">
        <ul class="list-inline detail-list">
          <li>
            <h5> <span class="">{{'invoice.totalDiscount' | translate:translationData}}:</span><span  class="pull-right" >$ {{InvoiceDetails.total_discount}}</span></h5>
          </li>
          <li>
            <h5><span  class="">{{'invoice.tax' | translate:translationData}}:</span><span  class="pull-right">{{InvoiceDetails.tax}}</span></h5>
          </li>
          <li>
            <h5><span  class="">{{'invoice.invoiceTotal' | translate:translationData}}:</span><span  class="pull-right">$ {{InvoiceDetails.invoice_amount}}</span></h5>
          </li>
          <li>
            <h5><span class="">{{'invoice.outstandingBalance' | translate:translationData}}:</span><span class="pull-right">$ {{InvoiceDetails.outstanding_balance | number:2}}</span></h5>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="total-invoice total-invoice-con">
        <p>{{'invoice.paymentMethod' | translate:translationData}}</p>
        <div ng-repeat="payment_method in InvoiceDetails.payment_method">
          <p class="date"><a href="" ui-sref="payment.view({payment_id:payment_method.payment_id})">#{{payment_method.payment_id}}</a>{{payment_method.payment_date}}</p>
          <p ng-repeat="payment_mode in payment_method.payment_datail.payment_modes" class="loop-total">{{payment_mode.name}} ${{payment_mode.amount}}</p>
          <p class="total-invoice-con">{{'payment.total' | translate:translationData}} $ {{payment_method.payment_datail.alloted_amount}} {{'invoice.allocated' | translate:translationData}}</p>
        </div>
      </div>
    </div>
  </div> -->
</div>
