<div class="navbar " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" toggle="collapse" target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" title="Logo" href="">
        <img ng-src="{{businessLogo}}" alt="" ng-if="businessLogo != null" />
        <img src="assets/missing.png" alt="" ng-if="businessLogo == null" />
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <!-- <form class="navbar-form navbar-left" role="search">
         <div class="header-search-input">
            <div class="form-group">
              <input type="text" class="  search-query form-control" placeholder="Search" />
              <button class="btn btn-danger" type="button">
                  <span class=" fa fa-search"></span>
              </button>
            </div>
          </div>
        </form> -->
        <select id="pref_lang" class="form-control">
          <option value="en"> English </option>
          <option value="fr"> français </option>
          <option value="sp"> Spanish </option>
        </select>
      </li>

      <li uib-dropdown on-toggle="toggled(open)" class="nav-notification">
        <a href id="notification_bell" uib-dropdown-toggle ng-click="getNotifications(1)">
          <i class="fa fa-bell"></i>
          <% if notification_count > 0 %>
              <span class="badge"><%= notification_count %></span>
        <% else %>
              <span class="badge"></span>
        <% end %>
        </a>
        <audio id="notification_tune">
          <source src="/assets/tune/notification_tune.mp3" type="audio/mpeg">
        </audio>
        <ul class="dropdown-menu noti" aria-labelledby="simple-dropdown">
          <h3>Notifications</h3>
          <li class="con">
            <div class="no_noti" ng-if="no_notification">
              <h4>No Notification</h4>
            </div>
            <ul class="noti-con" ng-scrollbars ng-scrollbars-config="lazyloadConfig" lazyload="nextNotiHit != null && getNotifications(nextNotiHit)">
              <li ng-repeat="noti in notificationsData">
                <a href="" ng-if="noti.initiatable_type == 'Patient'" ng-click="goToPatient(noti.id, noti.initiatable_id, noti.payload.sender_contact)">
                  <h6>
                    Send by: {{noti.payload.send_by}} ({{noti.payload.sender_type}})
                    <span class="pull-right"><i class="fa fa-phone"></i> {{noti.payload.sender_contact}}</span>
                  </h6>

                  <p>{{noti.message}}</p>

                  <p>
                    <i class="ic envelope_open_icn pull-left" ng-if="noti.is_open"></i>
                    <i class="ic envelope_icn pull-left" ng-if="!noti.is_open"></i>
                    <span class="watch_icn">{{noti.created_at}}</span>
                  </p>
                </a>
                <a href="" ng-if="noti.initiatable_type != 'Patient'" ng-click="goToOther(noti.id, noti.initiatable_id, noti.initiatable_type, noti.payload.sender_contact)">
                  <h6>
                    Send by: {{noti.payload.send_by}} ({{noti.payload.sender_type}})
                    <span class="pull-right"><i class="fa fa-phone"></i> {{noti.payload.sender_contact}}</span>
                  </h6>
                  <p>{{noti.message}}</p>
                  <p>
                    <i class="ic envelope_open_icn pull-left" ng-if="noti.is_open"></i>
                    <i class="ic envelope_icn pull-left" ng-if="!noti.is_open"></i>
                    <span class="watch_icn">{{noti.created_at}}</span>
                  </p>
                </a>
              </li>
              <li class="text-center outer_load">
                <div class="inner_load" ng-if="notiLoad">
                  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li uib-dropdown on-toggle="toggled(open)" class="nav-user-dd">
        <a href id="nav-user-dd"  ng-click="totalbalance()" uib-dropdown-toggle>
          <img src="assets/usertop.png" alt="{{name}}"/>
          <span class="nav-user" id="current-user-name">{{name}}</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu user-profile" aria-labelledby="nav-user-dd">
          <li><a href><span>Support</span></a></li>
          <li><a ui-sref="settings.userProfile({user_id: User_id})"><span>Profile</span></a></li>
          <li><a href=""> <span>{{total_balance | currency:'$'}}</span></a></li>
        </ul>
      </li>
      <li>
        <a href="" ng-click="logout()"><i class="fa fa-power-off"></i></a>
      </li>
    </ul>
  </div>
</div>
<div class="loading" ng-show="cloading">
  <div class="sidebar-load-bar animated slideInDown">
    <div class="sidebar-bar"></div>
    <div class="sidebar-bar"></div>
    <div class="sidebar-bar"></div>
  </div>
</div>
<script>
$('#pref_lang').change(function(){
    var lang =  $('#pref_lang').val();
  localStorage.setItem('preferredLang', lang);
    $.ajax({
        url: 'users/update_language?lang='+lang,
        success:function(){
                window.location.reload();
        }

    })
});

$(document).ready(function(){
  var selectedLang = localStorage.getItem('preferredLang');
  if(selectedLang != undefined){
    $('#pref_lang').val(selectedLang);
  }
});
</script>
