<div class="dashboard-con settings">
	<form ng-submit="settingSubmit(account.logo, account)" name="accountSettings">
    <div class="top_tabbing" ng-if="true">
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.account" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.acc_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.acc_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.acc_total == 3}">
        <a ui-sref="settings.account" href="" class="active">{{'sidebar_menu.Account_Details' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.business" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.acc_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.acc_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.acc_total == 3}">
        <a ui-sref="settings.business" href="">{{'sidebar_menu.Business_Locations' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.user" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.acc_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.acc_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.acc_total == 3}">
        <a ui-sref="settings.users" href="">{{'sidebar_menu.User_Management' | translate:translationData}}</a>
      </div>
    </div>
    	<div class="top-container">
            <div class="col-md-9 col-xs-6 top-links">
                <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>     
            </div>
            <div class="col-md-3 col-xs-6 top-btn">
                <button class="save" type="submit">{{'button.save' | translate:translationData}}</button>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 form-content" ng-scrollbars rebuild-on-resize>
        	<div class="col-md-6">
            	<h2 class="section-title">{{'settings.account.heading' | translate:translationData}}</h2>
                  <div class="form-group">
                    <label>{{'settings.account.label_cname' | translate:translationData}}</label>
                    <input type="text" class="form-control" placeholder="HCL / Infosys / Pattraco" ng-model="account.company_name">
                  </div>
                  <div class="form-group">
                    <label class="logo-com">{{'settings.account.label_clogo' | translate:translationData}}</label>
                    <div class="img-con">
                      <img ngf-src="assets/missing.png" ng-if="account.logo == '/logos/original/missing.png'" alt="" ng-hide="accountsettings.file.$valid"/>
                       <img ngf-src="account.logo" class="thumb" ng-if="account.logo != '/logos/original/missing.png'" alt="" ng-hide="accountsettings.file.$valid">
                    </div>
                    <input id="settingLogo" type="button" value="{{'button.upload' | translate:translationData}}" ngf-select ng-model="account.logo" name="file" accept="image/*" class="upload-btn uplBtn">
                  </div>
                  <div class="form-group col-md-4 col-xs-6 name-con clearfix">
                    <label>{{'label.first_name' | translate:translationData}}</label>
                    <input type="text" class="form-control" placeholder="First Name" ng-model="account.first_name">
                  </div>
                  <div class="form-group col-md-4 col-xs-6 name-con">
                    <label>{{'label.last_name' | translate:translationData}}</label>
                    <input type="text" class="form-control" placeholder="Last Name" ng-model="account.last_name">
                    <i class="ic user-icn info-hover last-nameAcc">
                    	<span>{{'settings.account.name_info' | translate:translationData}}</span>
                    </i>
                  </div>
                  <div class="form-group clearfix">
                    <label>{{'label.email_address' | translate:translationData}}</label>
                    <input type="email" class="form-control" placeholder="Email" ng-model="account.email">
                  </div>
                  <div class="form-group check-con">
                  	<h2 class="section-title">{{'settings.account.heading_permission' | translate:translationData}}</h2>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="account.note_letter"><span></span> {{'settings.account.permission_option1' | translate:translationData}} 
                        <p>{{'settings.account.permission_option1_info' | translate:translationData}}</p>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"  ng-model="account.show_finance"><span></span> {{'settings.account.permission_option2' | translate:translationData}}
                        <p>{{'settings.account.permission_option2_info' | translate:translationData}}</p>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="account.show_attachment"><span></span>{{'settings.account.permission_option3' | translate:translationData}}
                        <p>{{'settings.account.permission_option3_info' | translate:translationData}}</p>
                        </label>
                    </div>
                  </div>
                  <div class="form-group col-md-7 email-con p-name">
                  	<h2 class="section-title">{{'settings.account.heading_external_calendar' | translate:translationData}} </h2>
                    <label class="text-capitalize">{{'settings.account.label_patient_name' | translate:translationData}}
                    	<i class="ic info info-hover patient-hover">
                        	<span>{{'settings.account.label_patient_name_info' | translate:translationData}}</span>
                        </i>
                    </label>
                    <select class="form-control" ng-model="account.patient_name_by">
                    	<option value="First Name">{{'label.first_name' | translate:translationData}}</option>
                      <option value="Full Name">{{'label.fullname' | translate:translationData}}</option>
                        <option value="Initials">{{'label.initials' | translate:translationData}}</option>
                    </select>
                  </div>
            </div>
            <div class="col-md-6">
            	<h2 class="section-title">{{'settings.account.heading_location' | translate:translationData}}</h2>
                <div class="form-group">
                    <label>{{'label.country' | translate:translationData}}</label>
                    <select class="form-control" ng-model="account.country" >
                    	<option ng-selected="" ng-repeat="countries in country" value="{{countries.code}}">{{countries.name}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>{{'label.timezone' | translate:translationData}}</label>
                    <select class="form-control" ng-model="account.time_zone">
                    	<option ng-repeat="timezones in timezone" value="{{timezones.time_zone}}">
                      {{timezones.printable_string[0].formatted_timezone}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-7 email-con">
                  	<h2 class="section-title">{{'settings.account.heading_communication' | translate:translationData}}</h2>
                    <label>{{'label.email_from' | translate:translationData}}
                    	<i class="ic info info-hover patientEmail-hover">
                        	<span>{{'label.email_from_info' | translate:translationData}}</span>
                        </i>
                    </label>
                    <input type="email" class="form-control" placeholder="Email Address" ng-model="account.communication_email">
                  </div>
                  <div class="form-group col-md-4 email-con">
                  	<h2>{{'settings.account.heading_terminology' | translate:translationData}}</h2>
                    <label>{{'label.attendees' | translate:translationData}} 
                    	<i class="ic info info-hover patientEmail-hover addres-hover">
                        	<span>{{'label.attendees_info' | translate:translationData}}</span>
                        </i>
                    </label>
                    <select class="form-control select-width" ng-model="account.attendees" >
                      <option value="members">{{'settings.account.attendees_option1' | translate:translationData}}</option>
                        <option value="patients">{{'settings.account.attendees_option2' | translate:translationData}}</option>
                        <option value="clients">{{'settings.account.attendees_option3' | translate:translationData}}</option>
                        
                    </select>
                  </div>
                  	<h2>{{'settings.account.heading_appointment_calendar' | translate:translationData}}</h2>
                  <div class="form-group col-xs-4 email-con time-con">
                    <label>{{'label.time_slot' | translate:translationData}}</label>
                    <select class="form-control" ng-model="account.calendar_setting.size">
                    	<option>5</option>
                      <option>10</option>
                      <option>15</option>
                      <option>30</option>
                    </select>
                    <span>{{'settings.tip_min' | translate:translationData}}</span>
                  </div>
                  <div class="form-group col-xs-4 email-con time-con">
                    <label>{{'label.time_slot_height' | translate:translationData}}</label>
                    <select class="form-control" ng-model="account.calendar_setting.height">
                        <option value="22">{{'label.time_slot_height_option1' | translate:translationData}}</option>
                        <option value="40" ng-click="mediumTime();">{{'label.time_slot_height_option2' | translate:translationData}}</option>
                        <option value="50">{{'label.time_slot_height_option3' | translate:translationData}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-12 email-con time-con range cal-range">
                    <label>{{'settings.account.label_calendar-time-range' | translate:translationData}}</label>
                    <select class="form-control" ng-model="account.calendar_setting.time_range.min_time">
                      <option ng-repeat="n in range(0,23)">{{n}}</option>
                    </select>

                    <select class="form-control" ng-model="account.calendar_setting.time_range.min_minute">
                      <option ng-repeat="n in range(0,59,15)">{{n}}</option>
                    </select>
                    <span>To</span>
                    <select class="form-control" ng-model="account.calendar_setting.time_range.max_time">
                      <option ng-repeat="n in range(1,24)">{{n}}</option>
                    </select>

                    <select class="form-control" ng-model="account.calendar_setting.time_range.max_minute">
                      <option ng-repeat="n in range(0,59,15)">{{n}}</option>
                    </select>
                  </div>
                  <div class="form-group check-con app">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="account.multi_appointment"><span></span> {{'settings.account.heading_multiple_appointments' | translate:translationData}}
                            <p>{{'settings.account.heading_multiple_appointments_info' | translate:translationData}}</p>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"  ng-model="account.show_time_indicator"><span></span> {{'settings.account.heading_current_indicator' | translate:translationData}}
                          <p>{{'settings.account.heading_current_indicator_info' | translate:translationData}}</p>
                        </label>
                    </div>
                 </div>
                 <div class="form-group">
                  <label>{{'settings.account.themeColor' | translate:translationData}}</label>
                  <select class="form-control" ng-model="account.theme_name">
                    <option value="blue_theme">{{'settings.account.chambrey' | translate:translationData}}</option>
                    <option value="skyBlue_theme">{{'settings.account.cerulean' | translate:translationData}}</option>
                  </select>
                </div>
            </div>
        </div>
    </form>
</div>