<div class="dashboard-con settings">
    <div class="top_tabbing" ng-if="true">
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.booking_sub_modules.appointment_type" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.booking_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.booking_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.booking_total == 3}">
        <a ui-sref="settings.appointment" href="" class="active">{{'settings.top_links.appointment_types' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.booking_sub_modules.online_booking" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.booking_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.booking_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.booking_total == 3}">
        <a ui-sref="settings.online-booking" href="">{{'settings.dir.onlineBooking' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.booking_sub_modules.appointment_reminder" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.booking_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.booking_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.booking_total == 3}">
        <a ui-sref="settings.appointment-reminders" href="">{{'sidebar_menu.Reminders' | translate:translationData}}</a>      
      </div>
    </div>
    <div class="top-container">
        <div class="col-md-8 col-xs-6 top-links">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>    
        </div>
        <div class="col-md-4 col-xs-6 top-btn" ng-show="btnappointment">
            <button class="save" type="submit" form="AppointmentForm">{{btnText | translate:translationData}}</button>
            <button ng-click="$state.go('settings.appointment');btnappointment = false" class="cancel">{{'button.cancel' | translate:translationData}}</button>
            <button   class="cancel" ng-click="appDelete('sm')" ng-hide="appDeleteBtn">{{'button.delete' | translate:translationData}}</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5>{{'settings.appointment_type.main_heading' | translate:translationData}}</h5>
                    <a class="" ui-sref="settings.appointment.info({appointmentID:'new'})">
                    	<i ng-click="btnappointment=true" class="ic bus-icn app-icn"></i>
                    	<span>{{'settings.tool-tip-addnew' | translate:translationData}}</span>
                    </a>
                </div>
                <div class="side-bar-search">
                    <form>
                        <input type="text" class="form-control" placeholder="{{'settings.placeholder_search' | translate:translationData}}" ng-model="FilterAppointmentType"/>
                        <button type="submit" disabled="disabled"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div ng-click="btnappointment=true" class="side-bar-links app" ng-scrollbars rebuild-on-resize rebuild-on="rebuild:me">
                	<ul>
                    	<li ng-repeat="appointments in AppointmentList| filter:{name : FilterAppointmentType}">
                        <a ui-sref="settings.appointment.info({appointmentID:appointments.id})"  href="" ui-sref-active="active"><span style="background-color:{{appointments.color_code}}"></span>{{appointments.name}}</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-10 col-sm-10 form-content info-container " ng-scrollbars rebuild-on-resize rebuild-on="rebuild:me">
    	<div ui-view></div>
    </div>
</div>
<script type="text/ng-template" id="selectColor.html">
        <div class="modal-body confirm-body color-body">
            <div class="confirm scolor">
                <div class="selectColor">
					<h5>{{'settings.appointment_type.pick_color' | translate:translationData}}</h5>
                    <ul>
                        <li ng-repeat="item in items">
                          <label for="{{item.color}}">
                              <input type="radio" name="colors" value="{{item.color}}" id="{{item.color}}" ng-change="set_Color(item.color); selected.item = item" ng-model="appointment.clr"/>
                              <div class="color-outer"><span style="background:{{item.color}}"></span></div>
                          </label>
                        </li>
                    </ul>
                </div>
                <a href="" ng-click="selectColor($scope.cselected)">{{'button.ok' | translate:translationData}}</a>
                <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
            </div>
        </div>
</script>

<!-- Modal -->
<script type="text/ng-template" id="DeleteModal.html">
    <div class="modal-body confirm-body">
		<div class="confirm">
            <p>{{'settings.appointment_type.confirm_msg' | translate:translationData}}</p>
            <a href="" ng-click="okdelete()">{{'button.confirm' | translate:translationData}}</a>
            <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
        </div>
    </div>
</script>