<div>
          <form ng-submit="AppointmentForm.$valid && SubmitAppointment(AppointmentData)" id="AppointmentForm" name="AppointmentForm" novalidate >
            <div class="col-md-6">
              	<h2 ng-if="AppointmentData.appointment_type.name ==null">{{'settings.appointment_type.heading_new' | translate:translationData}}</h2>
                  <h2 ng-if="AppointmentData.appointment_type.name !=null">{{'settings.appointment_type.heading_edit' | translate:translationData}}</h2>
                    <div class="form-group">
                      <label>{{'label.name' | translate:translationData}}
                      	<i class="ic info info-hover left-side bottom">
                              <span>{{'settings.appointment_type.label_name_info' | translate:translationData}}</span>
                          </i>
                      </label>
                      <input type="text" ng-model="AppointmentData.appointment_type.name" class="form-control" placeholder="{{'settings.appointment_type.placeholder_name' | translate:translationData}}" required>
                    </div>
                    <div class="form-group">
                      <label>{{'settings.appointment_type.label_des' | translate:translationData}}
                        <i class="ic info info-hover left-side">
                          <span>{{'settings.appointment_type.label_desinfo' | translate:translationData}}</span>
                        </i>
                      </label>
                      <textarea class="form-control" placeholder="{{'settings.appointment_type.des_placeholder' | translate:translationData}}" ng-model="AppointmentData.appointment_type.description" style="height:100px;"></textarea>
                    </div>
                    <div class="form-group col-xs-4 cat-con appoint-cat">
                      <label>{{'settings.appointment_type.label_cat' | translate:translationData}}
                     		<i class="ic info info-hover left-side appoint-catInfo">
                              <span>{{'settings.appointment_type.label_cat_info' | translate:translationData}}</span>
                          </i>
                      </label>
                      <input type="text" class="form-control" placeholder="{{'settings.appointment_type.label_cat' | translate:translationData}}" ng-model="AppointmentData.appointment_type.category">
                    </div>
                    <div class="form-group col-xs-8 cat-con appoint-dur">
                      <label>{{'settings.appointment_type.label_dur' | translate:translationData}}</label>
                      <select class="form-control" ng-model="AppointmentData.appointment_type.duration_time">
                         <option ng-repeat="n in range(5,360,5)">{{n}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>{{'settings.appointment_type.label_default' | translate:translationData}}</label>
                      <select class="form-control" ng-model="AppointmentData.appointment_type.default_note_template" ng-options="templates.id as templates.name for templates in TemplateNotes">
                      </select>
                    </div>
                    <h2>{{'settings.appointment_type.heading_editing_new' | translate:translationData}}</h2>
                     <div class="form-group check-con online">
                      <label>{{'settings.appointment_type.label_select' | translate:translationData}}</label>
                      <div class="service">
                          <div class="checkbox" ng-repeat="doctors in AppointmentData.appointment_type.doctors">
                              <label>
                                <input type="checkbox" ng-model="doctors.is_selected"><span></span> {{doctors.name}}
                              </label>
                          </div>
                       </div>
                    </div>
              </div>
          	<div class="col-md-6">
              	<h2 class="blank">&nbsp;</h2>
              	  <div class="form-group multiselect">
                      <label>{{'settings.appointment_type.label_related_product' | translate:translationData}}</label>
                      <md-content class="md-padding multiple-sel" layout="column">
                          <md-chips ng-model="AppointmentData.appointment_type.related_product" md-autocomplete-snap md-require-match="true" md-on-select="test(AppointmentData.appointment_type.related_product)">
                            <md-autocomplete
                                md-min-length="1"
                                md-selected-item="null"
                                md-search-text="searchTextp"
                                md-items="item in ProductsListf(searchTextp)"
                                md-item-text="item.name"
                                placeholder="Search"
                                md-selected-item-change="selectedproductChnge(AppointmentData.appointment_type.related_product)">
                              <span md-highlight-text="searchText">{{item.name}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                              <span>
                                <em>{{$chip.name}}</em>
                              </span>
                            </md-chip-template>
                          </md-chips>
                        </md-content>
                    </div>
                    <div class="form-group multiselect">
                      <label>{{'settings.appointment_type.label_billable_item' | translate:translationData}}</label>
                      <md-content class="md-padding multiple-sel" layout="column" >
                          <md-chips ng-model="AppointmentData.appointment_type.billable_item" md-autocomplete-snap md-require-match="true"  >
                            <md-autocomplete
                                md-min-length="1"
                                md-selected-item="null"
                                md-search-text="searchText"
                                md-items="item in BilableItemsListF(searchText)"
                                md-item-text="item.name"
                                placeholder="Search"
                                md-require-match="true"
                                filter-selected="true"
                                md-no-cache="true"
                                md-selected-item-change="selectedItemChnge(AppointmentData.appointment_type.billable_item)"
                              >
                              <span md-highlight-text="searchText">{{item.name}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                              <span>
                                <em> {{$chip.name}}</em>
                              </span>
                            </md-chip-template>
                          </md-chips>
                        </md-content>

                    </div>
                    <div class="form-group color-picker">
                      <label>{{'settings.appointment_type.label_select_color' | translate:translationData}}<span ng-click="openColors()" style="background:{{AppointmentData.appointment_type.color_code}}"></span></label>
                      <input type="hidden" ng-model="AppointmentData.appointment_type.color_code" />
                    </div>
                    <div class="form-group check-con online">
                      <label>{{'settings.appointment_type.label_app_reminder' | translate:translationData}}</label>
                      <div class="checkbox rem">
                          <label>
                            <input type="checkbox" ng-model="AppointmentData.appointment_type.confirm_email"><span></span> {{'settings.appointment_type.app_reminder_option1' | translate:translationData}}
                          </label>
                      </div>
                      <div class="checkbox rem">
                          <label>
                            <input type="checkbox" ng-model="AppointmentData.appointment_type.send_reminder"><span></span> {{'settings.appointment_type.app_reminder_option2' | translate:translationData}}
                            <a href="" ui-sref="settings.appointment-reminders">{{'settings.appointment_type.reminder' | translate:translationData}}</a>
                          </label>
                      </div>
                    </div>
                    <div class="form-group check-con online">
                      <label>{{'settings.appointment_type.label_show_online' | translate:translationData}}</label>
                      <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="AppointmentData.appointment_type.allow_online"><span></span>  {{'settings.appointment_type.label_show_check' | translate:translationData}}
                          </label>
                      </div>
                    </div>
              </div>
        </form>
      </div>