<div class="dashboard-con settings">
  <form ng-submit="AppointmentReminderSubmit(appointmentreminder)">
    <div class="top_tabbing" ng-if="true">
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.booking_sub_modules.appointment_type" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.booking_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.booking_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.booking_total == 3}">
        <a ui-sref="settings.appointment" href="">{{'sidebar_menu.Appointment_Types' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.booking_sub_modules.online_booking" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.booking_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.booking_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.booking_total == 3}">
        <a ui-sref="settings.online-booking" href="">{{'sidebar_menu.Online_Booking' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.booking_sub_modules.appointment_reminder">
        <a ui-sref="settings.appointment-reminders" href="" class="active" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.booking_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.booking_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.booking_total == 3}">{{'sidebar_menu.Reminders' | translate:translationData}}</a>      
      </div>
    </div>
    <div class="top-container">
      <div class="col-md-8 col-xs-6 top-links">
        <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>
      </div>
      <div class="col-md-4 col-xs-6 top-btn">
        <button class="save" type="submit">{{'button.update' | translate:translationData}}</button>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 form-content reminder" style="overflow:auto;">
      <div class="col-md-6  remind-period">
        <h2>{{'settings.invoice.heading_general' | translate:translationData}}</h2>
        <div class="form-group clear-div">
          <div class="col-md-4 logo-height push-right remind-appointDef">
            <label>{{'settings.appointment_reminder.label_default_reminder' | translate:translationData}} <i class="ic info info-hover left-side bottom"> <span>{{'settings.appointment_reminder.label_default_reminder_info' | translate:translationData}}</span> </i> </label>
            <div class="logo-height-con">
              <select class="form-control" ng-model="appointmentreminder.appointment_reminder.d_reminder_type">
                <option>{{'select.option_none' | translate:translationData}}</option>
                <option>{{'select.option_SMS' | translate:translationData}}</option>
                <option>{{'select.option_email' | translate:translationData}}</option>
                <option>{{'select.option_sms_email' | translate:translationData}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 logo-height set-width">
            <label>{{'settings.appointment_reminder.label_reminder_time' | translate:translationData}}</label>
            <div class="logo-height-con">
              <select class="form-control" ng-model="appointmentreminder.appointment_reminder.reminder_time">
                <option ng-repeat="n in range(0,23)">{{n}}</option>
              </select>
              <span>:00</span> </div>
          </div>
          <div class="col-md-4 logo-height check-con enable skip-info" >
            <label>{{'settings.appointment_reminder.label_skip' | translate:translationData}} <i class="ic info info-hover bottom "> <span>{{'settings.appointment_reminder.label_skip_info' | translate:translationData}}</span> </i> </label>
            <div class="checkbox remove-margin">
              <label class="enable-check ">
                <input type="checkbox" ng-model="appointmentreminder.appointment_reminder.skip_weekends">
                <span></span> </label>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
     </div>
     <div class="col-md-6 remind-period">
        <h2 class="blank">&nbsp;</h2>
        <div class="form-group clear-div">
          <div class="col-md-4 logo-height push-right">
            <label>{{'settings.appointment_reminder.label_reminder_period' | translate:translationData}} <i class="ic info info-hover bottom remind-periodDef"> <span>{{'settings.appointment_reminder.label_reminder_period_info' | translate:translationData}}</span> </i> </label>
            <div class="logo-height-con days-select">
              <h6>{{'settings.appointment_reminder.days' | translate:translationData}}</h6>
              <select class="form-control" ng-model="appointmentreminder.appointment_reminder.reminder_period">
                <option ng-repeat="n in range(1,5)">{{n}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-8 check-con enable text-widthEnable">
            <label>&nbsp; </label>
            <div class="checkbox remove-margin">
              <label class="line-height-setting" style="line-height:20px !important;">
                <input type="checkbox" ng-model="appointmentreminder.appointment_reminder.apply_reminder_type_to_all" >
                <span></span><p> {{'settings.appointment_reminder.label_apply' | translate:translationData}}</p></label>
            </div>
          </div>
       </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-5">
        <h2 class="hv-info">{{'settings.appointment_reminder.heading_email' | translate:translationData}}
        	<i class="ic info info-hover"> <span>{{'settings.appointment_reminder.heading_email_info' | translate:translationData}}</span> </i>
        </h2>
        <div class="form-group clear-it remind-period">
          <label>{{'settings.appointment_reminder.email_subject' | translate:translationData}}</label>
          <input type="text" class="form-control" placeholder="{{'settings.appointment_reminder.email_subject_placehoolder' | translate:translationData}}"  ng-model="appointmentreminder.appointment_reminder.ac_email_subject" />
        </div>
   </div>
   <div class="col-md-7 remind-period">
   		<h2 class="blank">&nbsp;</h2>
          <div class="col-md-12 email-content">
   			<label>{{'settings.appointment_reminder.label_Email_content' | translate:translationData}}</label>
            <text-angular-toolbar ta-toolbar="[['h_1','h_2','normal','bold', 'italics', 'underline', 'ul', 'ol', 'indent', 'outdent'],['appointment', 'patient', 'practitioner', 'business'],]" name="toolbar"></text-angular-toolbar>
          </div>
   </div>
   <div class="col-md-12 email-text-box app-reminder">
        <text-angular ng-model="appointmentreminder.appointment_reminder.ac_email_content" ta-target-toolbars='toolbar' ng-click="stopEverything(events)"></text-angular>
   </div>
   <div class="sample-email">
   <div class="col-md-2 remind-period">
        <a href="" class="view-sample" ng-click="viewSample('emailSample.html')">{{'settings.appointment_reminder.view' | translate:translationData}}</a>
    </div>
    <!-- <div class="col-md-5 remind-period">
        <div class="form-group check-con online">
            <label>{{'settings.appointment_reminder.appointment_cancel' | translate:translationData}}</label>
            <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="appointmentreminder.appointment_reminder.ac_app_can_show"><span></span> {{'settings.appointment_reminder.appointment_cancel_check' | translate:translationData}}
                </label>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-md-5 remind-period">
        <div class="form-group check-con online">
            <label>{{'settings.appointment_reminder.hide' | translate:translationData}}</label>
            <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="appointmentreminder.appointment_reminder.hide_address_show"><span></span> {{'settings.appointment_reminder.hide_check' | translate:translationData}}
                </label>
            </div>
        </div>
    </div> -->
    </div>
   <div class="col-md-5 remind-period" style="clear:both;">
        <h2 class="hv-info">{{'settings.appointment_reminder.heading_email_reminder' | translate:translationData}}
        	<i class="ic info info-hover appoint-catInfo"> <span>{{'settings.appointment_reminder.heading_email_reminder_info' | translate:translationData}}</span> </i>
        </h2>
        <div class="form-group clear-div">
          <div class="col-md-8 logo-height">
            <label>{{'settings.appointment_reminder.email_subject' | translate:translationData}}</label>
            <div class="logo-height-con">
              <input type="text" class="form-control" placeholder="{{'settings.appointment_reminder.email_subject_placehoolder' | translate:translationData}}" ng-model="appointmentreminder.appointment_reminder.reminder_email_subject">
            </div>
          </div>
          <div class="col-md-4 logo-height check-con enable appoint-emailEnab">
            <label>{{'settings.appointment_reminder.label_enable' | translate:translationData}}</label>
            <div class="checkbox remove-margin check-label">
              <label class="enable-check ">
                <input type="checkbox" ng-model="appointmentreminder.appointment_reminder.reminder_email_enabled">
                <span></span> </label>
            </div>
          </div>
   		</div>
    </div>
   <div class="col-md-7 remind-period">
   		<h2 class="blank">&nbsp;</h2>
          <div class="col-md-12 email-content">
   			<label>{{'settings.appointment_reminder.label_Email_content' | translate:translationData}}</label>
            <text-angular-toolbar ta-toolbar="[['h_1','h_2','normal','bold', 'italics', 'underline', 'ul', 'ol', 'indent', 'outdent'],['appointment', 'patient', 'practitioner', 'business'],]" name="toolbar1"></text-angular-toolbar>
          </div>
   </div>
   <div class="col-md-12 email-text-box app-reminder">
        <text-angular ng-model="appointmentreminder.appointment_reminder.reminder_email_content" ta-target-toolbars='toolbar1'></text-angular>
   </div>
   <div class="sample-email">
   <div class="col-md-6 remind-period">
        <a href="" class="view-sample" ng-click="viewSample('sampleEmail.html')">{{'settings.appointment_reminder.view' | translate:translationData}}</a>
   </div>
<!--    <div class="col-md-6 remind-period">
        <div class="form-group check-con online">
            <label>{{'settings.appointment_reminder.appointment_cancel' | translate:translationData}}</label>
            <div class="checkbox">
                <label>
                  <input ng-model="appointmentreminder.appointment_reminder.reminder_app_can_show" type="checkbox"><span></span> {{'settings.appointment_reminder.appointment_cancel_check' | translate:translationData}}
                </label>
            </div>
        </div>
    </div> -->
    </div>
   <div class="col-md-4 remind-period remind-padLeft">
        <h2 class="hv-info">{{'settings.appointment_reminder.heading_sms_reminder' | translate:translationData}}
        	<i class="ic info info-hover appoint-catInfo"> <span>{{'settings.appointment_reminder.heading_sms_reminder_info' | translate:translationData}}</span> </i>
        </h2>
        <div class="form-group clear-div">
          <div class="logo-height check-con">
            <div class="checkbox remove-margin sms-label">
              <label class="enable-check">
                <input type="checkbox" ng-model="appointmentreminder.appointment_reminder.sms_enabled">
                <span></span> <strong>{{'settings.appointment_reminder.label_enable_SMS' | translate:translationData}}</strong></label>
            </div>
          </div>
   		</div>
    </div>
   <div class="col-md-8 sms-container">
   		<h2 class="blank">&nbsp;</h2>
          <div class="col-md-12 email-content">
   			<label>{{'settings.appointment_reminder.label_sms_text' | translate:translationData}}
            <i class="ic info info-hover appoint-catInfo"> <span >{{'settings.appointment_reminder.label_sms_text_info' | translate:translationData}}</span> </i>
            </label>
            <text-angular-toolbar class="ang-toolB" ta-toolbar="[['appointment', 'patient', 'practitioner', 'business'],]" name="toolbar2"></text-angular-toolbar>
          </div>
   </div>
   <div class="col-md-12 email-text-box  app-reminder">
        <text-angular ng-model="appointmentreminder.appointment_reminder.sms_text" ta-target-toolbars='toolbar2'></text-angular>
   </div>

    <div class="sample-email">
   <div class="col-md-6 remind-period">
        <a href="" class="view-sample" ng-click="viewSample('sampleSMS.html')">{{'settings.appointment_reminder.view_SampleSMS' | translate:translationData}}</a>
   </div>
<!--    <div class="col-md-6 remind-period">
        <div class="form-group check-con online">
            <label>{{'settings.appointment_reminder.appointment_cancel' | translate:translationData}}</label>
            <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="appointmentreminder.appointment_reminder.sms_app_can_show"><span></span> {{'settings.appointment_reminder.appointment_cancel_check' | translate:translationData}}
                </label>
            </div>
        </div>
    </div> -->
    </div>
  </form>
</div>

<script type="text/ng-template" id="emailSample.html">
  <div class="modal-body confirm-body color-body">
    <a href="" ng-click="cancel()" class="close-popup" tabindex="0"></a>
    <div class="sampleEmail">
      <h4>{{'settings.appointment_type.Sample_Email' | translate:translationData}}</h4>
      <div class="top_content">
        <label class="col-sm-3">{{'settings.appointment_type.Subject' | translate:translationData}}</label>
        <div class="col-sm-9"><p>{{'settings.appointment_type.Appointment_subway_business' | translate:translationData}}</p></div>
        <label class="col-sm-3">{{'settings.appointment_type.From' | translate:translationData}}</label>
        <div class="col-sm-9"><p>{{'settings.appointment_type.email_eg' | translate:translationData}}</p></div>
      </div>
      <hr>
      <div class="bottom-content">
      <p>{{'settings.appointment_type.Dear_this' | translate:translationData}}, </p>
      <p>{{'settings.appointment_type.thanks_for_booking' | translate:translationData}} </p>
      <h5>{{'settings.appointment_type.When' | translate:translationData}}</h5>
      <p>{{'settings.appointment_type.time_eg' | translate:translationData}} </p>
      <h5>{{'reports.Service' | translate:translationData}}</h5>
      <p>{{'settings.appointment_type.First_Appointment' | translate:translationData}}</p>
      <h5>{{'settings.user_practitioners.practitioner' | translate:translationData}}</h5>
      <p>{{'settings.appointment_type.sub_way_singh' | translate:translationData}}</p>
      <h5>{{'settings.appointment_type.Location' | translate:translationData}}</h5>
      <p>{{'settings.appointment_type.address_eg' | translate:translationData}} </p>
      <p>{{'settings.appointment_type.need_cancel_appointment' | translate:translationData}} <br>
      <a href="">{{'settings.appointment_type.Cancel_appointment' | translate:translationData}}</a> </p>
      <p>{{'settings.appointment_type.any_question' | translate:translationData}}</p>
      <p>{{'settings.appointment_type.We_look_forward' | translate:translationData}}</p>
      <p>{{'settings.appointment_type.subway_business' | translate:translationData}}<br>{{'settings.appointment_type.hello_hey_bye' | translate:translationData}}</p>
      </div>
    </div>    
  </div>
</script>
<script type="text/ng-template" id="sampleEmail.html">
  <div class="modal-body confirm-body color-body">
    <a href="" ng-click="cancel()" class="close-popup" tabindex="0"></a>
    <div class="sampleEmail">
      <h4>{{'settings.appointment_type.Sample_Email' | translate:translationData}}</h4>
      <div class="top_content">
        <label class="col-sm-3">{{'settings.appointment_type.Subject' | translate:translationData}}</label>
        <div class="col-sm-9"><p>{{'settings.appointment_type.Appointment_subway_business' | translate:translationData}}</p></div>
        <label class="col-sm-3">{{'settings.appointment_type.From' | translate:translationData}}</label>
        <div class="col-sm-9"><p>{{'settings.appointment_type.email_eg' | translate:translationData}}</p></div>
      </div>
      <hr>
      <div class="bottom-content">
      <p>{{'settings.appointment_type.Dear_this' | translate:translationData}} </p>
      <p>{{'settings.appointment_type.your_appointmet_with_time_info' | translate:translationData}}</p>
      <p>{{'settings.appointment_type.We_look_forward' | translate:translationData}}</p>
      <p>{{'settings.appointment_type.subway_business' | translate:translationData}}</p>
      </div>
    </div>    
  </div>
</script>
<script type="text/ng-template" id="sampleSMS.html">
  <div class="modal-body confirm-body color-body">
    <a href="" ng-click="cancel()" class="close-popup" tabindex="0"></a>
    <div class="sampleEmail">
      <h4>{{'settings.appointment_type.Sample_SMS' | translate:translationData}}</h4>
      <div class="top_content"></div>
      <div class="bottom-content text-center">
      <p>{{'settings.appointment_type.Sample_third_info' | translate:translationData}}</p>
      </div>
    </div>    
  </div>
</script>
