<form id="BilableForm" ng-submit="BilableForm.$valid && BilableSubmit(BilableItems);" novalidate name="BilableForm">
<div class="col-md-6 checkup">
        	<h2 ng-if="BilableItems.price != null">{{'Setting.editing' | translate:translationData}} {{BilableItems.name}}</h2>

          <h2 ng-if="BilableItems.price == null">{{'settings.billable_items.heading_add' | translate:translationData}}</h2>
  <div class="form-group">
                <label>{{'settings.billable_items.label_item-code' | translate:translationData}}</label>
                <input type="text" class="form-control" placeholder="" ng-model="BilableItems.item_code">
              </div>
              <div class="form-group">
                <label>{{'label.name' | translate:translationData}}</label>
                <input type="text" ng-model="BilableItems.name" class="form-control" placeholder="Initial consultation and Treatment" required>
              </div>
              <div class="form-group col-xs-4 city-con">
                <label>{{'settings.billable_items.label_price' | translate:translationData}}</label>
                <input type="text" class="form-control" placeholder="$ 100.0" ng-model="BilableItems.price" pattern="[0-9]+([\.,][0-9]+)?" required>
              </div>

              <div class="form-group col-xs-8 city-con city-con1">

                <label>{{'settings.billable_items.label_tax' | translate:translationData}}</label>
                <select class="form-control" ng-model="BilableItems.tax" ng-change="updateTax(BilableItems.tax)">
                    <option value="N/A">{{'label.not_available' | translate:translationData}}</option>
                    <option ng-repeat="tax in taxList" value="{{tax.id}}">{{tax.name}}-{{tax.amount}}</option>
                </select>
              </div>
              <div class="form-group check-con online-booking">
                <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="BilableItems.include_tax" ng-disabled="BilableItems.tax == 'N/A'"><span></span> {{'settings.billable_items.label_price-includes-tax' | translate:translationData}}
                    </label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" ng-show="quickBookData.is_connected">
                    <div class="form-group tax-amount">
                        <label>{{'expense.Quickbook_Expense' | translate}}</label>
                        <select class="form-control" ng-model="BilableItems.expense_account_ref" style="width:100%;">
                            <option ng-repeat="expenseData in quickBookData.data[0].Expense" value="{{expenseData.Id}}">{{expenseData.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12" ng-show="quickBookData.is_connected">
                    <div class="form-group tax-amount">
                        <label>{{'settings.QuickbookIncome' | translate}}</label>
                        <select class="form-control" ng-model="BilableItems.income_account_ref" style="width:100%;">
                            <option ng-repeat="incomeData in quickBookData.data[1].Income" value="{{incomeData.Id}}">{{incomeData.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    	<div class="col-md-6">
            <h2 class="hv-info">{{'settings.billable_items.heading_concession_prices' | translate:translationData}}
            	<i class="ic info info-hover bottom bottom-arrow">
                    <span>{{'settings.billable_items.heading_concession_prices_info' | translate:translationData}}</span>
                </i>
            </h2>
            <div class="form-group clearfix" ng-repeat="concession in BilableItems.concession_price">
                <label>{{concession.name}}</label>
                <input type="text" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" placeholder="$100" ng-model="concession.value">
            </div>
             
            </div>
</form>