<div class="dashboard-con settings">
    <div class="top_tabbing" ng-if="true">
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.service" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.billable-items" href="" class="active">{{'sidebar_menu.Product_and_Services' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.payment_type" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.payment-types" href="">{{'sidebar_menu.Payment_Methods' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.tax" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.taxes" href="">{{'sidebar_menu.Taxes' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.invoice_setting" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3}">
        <a ui-sref="settings.invoice" href="">{{'sidebar_menu.Invoice_Settings' | translate:translationData}}</a>
      </div>
    </div>
    <div class="top-container">
        <div class="col-md-4 col-xs-4 top-links">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>
        </div>
        <div class="col-md-8 col-xs-8 top-btn btn4" ng-show="btnsubmit">
            <button class="save" type="submit" form="BilableForm">{{btnText | translate:translationData}}</button>
            <button ng-click="$state.go('settings.billable-items');btnsubmit = false" class="cancel">{{'button.cancel' | translate:translationData}}</button>
            <button class="cancel" ng-click="billDelete('sm')" ng-hide="billdeleteText">{{'button.delete' | translate:translationData}}</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5 class="with-two-icn">{{'settings.billable_items.main_heading' | translate:translationData}}</h5>
                    <a href="" ui-sref="settings.billable-items.info({bilable_id:'newServ'})">
                    	<i ng-click="btnText = 'button.save';billdeleteText = true;btnsubmit = true" class="ic bus-icn add-ic"></i>
                    	<span>{{'settings.tool-tip-addServieces' | translate:translationData}}</span>
                    </a>
                    <a ui-sref="settings.billable-items.info({bilable_id:'new'})" class="">
                    	<i  ng-click="btnText = 'button.save';billdeleteText = true;btnsubmit = true"  class="ic bus-icn-other money"></i>
                    	<span>{{'settings.tool-tip-addother' | translate:translationData}}</span>
                    </a>
                </div>
                <div class="side-bar-search">
                    <form>
                        <input type="text" class="form-control" placeholder="{{'settings.placeholder_search' | translate:translationData}}" ng-model="FilterBilable" />
                        <button type="submit" disabled="disabled"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div ng-click="btnsubmit = true;btnText = 'button.update';billdeleteText = false" class="side-bar-links app  side-info billing-items" ng-scrollbars rebuild-on-resize rebuild-on="rebuild:me">
                	<ul>
                        <li ng-repeat="BilableItems in BilableItemsList | filter:{name : FilterBilable}">
                        	<a href="" ng-if="BilableItems.item_type==false" ui-sref="settings.billable-items.info({bilable_id:BilableItems.id})" ui-sref-active="active">{{BilableItems.name}}
                            </a>
                            <a ng-if="BilableItems.item_type==true" href="" ui-sref="settings.billable-items.info({bilable_id:BilableItems.id})" ui-sref-active="active">{{BilableItems.name}}
                            </a>
                             <md-tooltip class="customtooltip angular-animate billable-tooltip" md-direction="right">
                                <ul>
                                     <li ng-if="BilableItems.item_type==true"><h6>{{'reports.Item_Type' | translate:translationData}}</h6><p>{{'reports.Service' | translate:translationData}}</p></li>
                                    <li ng-if="BilableItems.item_type==false" ><h6>{{'reports.Item_Type' | translate:translationData}}</h6><p>{{'label.other' | translate:translationData}}</p></li>
                                    <li><h6>{{'reports.Price_Ex_Tax' | translate:translationData}}</h6><p>{{BilableItems.price_exc_tax}}</p></li>
                                    <li><h6>Tax</h6><p>{{BilableItems.tax}}</p></li>
                                    <li><h6>{{'reports.Price_Inc_Tax' | translate:translationData}}</h6><p>{{BilableItems.price_inc_tax}}</p></li>
                                </ul>
                              </md-tooltip>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-10 col-sm-10 form-content info-container" ng-scrollbars rebuild-on-resize>
    	<div ui-view></div>
        </div>
    </div>
</div>

<!-- Modal -->
<script type="text/ng-template" id="DeleteModal.html">
    <div class="modal-body confirm-body">
		<div class="confirm">
            <p>{{'settings.billable_items.confirmation-msg' | translate:translationData}}</p>
            <a href="" ng-click="okdelete()">{{'button.confirm' | translate:translationData}}</a>
            <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
        </div>
    </div>
</script>