<div class="dashboard-con settings">
    <div class="top_tabbing" ng-if="true">
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.client_sub_modules.template_note" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.client_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.client_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.client_total == 3}">
        <a ui-sref="settings.treatment-notes" href="">{{'sidebar_menu.Notes_Templates' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.client_sub_modules.referral_type" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.client_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.client_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.client_total == 3}">
        <a ui-sref="settings.referral-types" href="">{{'sidebar_menu.Refferral_Types' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.client_sub_modules.discount_type" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.client_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.client_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.client_total == 3}">
        <a ui-sref="settings.discount-types" href="" class="active">{{'reports.Discount_Types' | translate:translationData}}</a>      
      </div>
    </div>
    <div class="top-container">
        <div class="col-md-8 col-xs-6 top-links">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>    
        </div>
        <div class="col-md-4 col-xs-6 top-btn" ng-show="BtnSave">
            <button class="save" type="submit" form="concession">{{buttonText | translate:translationData}}</button>
            <button ng-click="$state.go('settings.discount-types');" class="cancel">{{'button.cancel' | translate:translationData}}</button>
            <button class="cancel" ng-click="conDelete('sm')" ng-hide="deleteText">{{'button.delete' | translate:translationData}}</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5>{{'settings.discount_type.main_heading' | translate:translationData}}</h5>
                    <a class="" ui-sref="settings.discount-types.edit({concession_id:'new'})">
                    	<i class="ic bus-icn conce"></i>
                    	<span>{{'settings.tool-tip-addnew' | translate:translationData}}</span>
                    </a>
                </div>
                <div class="side-bar-search">
                        <input type="text" class="form-control" placeholder="{{'settings.placeholder_search' | translate:translationData}}" ng-model="filterCon" />
                        <button type="submit" disabled="disabled"><i class="fa fa-search"></i></button>
                </div>
                <div class="side-bar-links" ng-click="BtnSave = true" ng-scrollbars rebuild-on-resize>
                	<ul>
                        <li    ng-repeat="concession in concessionTypes | filter : {name : filterCon }"><a  href="" ui-sref="settings.discount-types.edit({concession_id:concession.id})" ui-sref-active="active">{{concession.name}}</a></li>
                    </ul>
                </div>
            </div>
    </div>
</div>
    <div class=" col-md-10 col-sm-10 form-content info-container" ng-scrollbars rebuild-on-resize>
    	<div ui-view></div>
    </div>

</div>

<!-- Modal -->
<script type="text/ng-template" id="DeleteModal.html">
        <div class="modal-body confirm-body">
			<div class="confirm">
                <p>{{'settings.discount_type.confirm_msg' | translate:translationData}}</p>
                <a href="" ng-click="okdelete()">{{'button.confirm' | translate:translationData}}</a>
                <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
            </div>
        </div>
</script>