<form ng-submit="CreateBusiness(businessInfo)" name="newBusiness">
<div class="dashboard-con settings">
    <div class="top-container">
        <div class="col-md-8 col-xs-6 top-links">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>    
        </div>
        <div class="col-md-4 col-xs-6 top-btn">
            <button class="save" type="submit">{{'button.update' | translate:translationData}}</button>
            <button class="cancel">{{'button.cancel' | translate:translationData}}</button>
            <button class="cancel">{{'button.delete' | translate:translationData}}</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5>{{'settings.bussiness_info.main_heading' | translate:translationData}}</h5>
                    <a ui-sref="settings/busines/new" class="ic bus-icn"></a>
                </div>
                <div class="side-bar-search">
                    <form>
                        <input type="text" class="form-control" placeholder="{{'settings.placeholder_search' | translate:translationData}}" />
                        <button type="submit" disabled="disabled"><i class="fa fa-search" ></i></button>
                    </form>
                </div>
                <div class="side-bar-links" ng-scrollbars rebuild-on-resize>
                	<ul>
                      <li ng-repeat="business in businessList" ui-sref="settings/busines({business_id:business.id})"><a href="">{{business.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-10 col-sm-10 form-content info-container " ng-scrollbars rebuild-on-resize>
    	<div class="col-md-6">
        	<h2>{{'settings.bussiness_info.heading_business_information' | translate:translationData}}</h2>
              <div class="form-group">
                <label>{{'settings.bussiness_info.NameOfBusiness' | translate:translationData}}</label>
                <input ng-model="businessInfo.name" type="text" class="form-control" placeholder="{{'settings.bussiness_info.business_name-placeholder' | translate:translationData}}">
              </div>
              <div class="form-group">
                <label>{{'settings.bussiness_info.address' | translate:translationData}}</label>
                <input ng-model="businessInfo.address" type="text" class="form-control" placeholder="{{'settings.bussiness_info.address_placeholder' | translate:translationData}}">
              </div>
              <div class="form-group col-xs-4 city-con">
                <label>{{'settings.bussiness_info.city' | translate:translationData}}</label>
                <input ng-model="businessInfo.city"  type="text" class="form-control" placeholder="{{'settings.bussiness_info.city' | translate:translationData}}">
              </div>
              <div class="form-group col-xs-4 city-con">
                <label>{{'settings.bussiness_info.state' | translate:translationData}}</label>
                <select ng-model="businessInfo.state"  class="form-control">
                   <option ng-selected="" ng-repeat="states in state" value="{{states.code}}">{{states.name}}</option>
                </select>
              </div>
              <div class="form-group col-xs-4 city-con">
                <label>{{'settings.bussiness_info.postal_code' | translate:translationData}}</label>
                <input ng-model="businessInfo.pin_code"  type="text"  class="form-control" placeholder="400082"/>
              </div>
              <div class="form-group">
                <label>{{'settings.bussiness_info.country' | translate:translationData}}</label>
                <select ng-model="businessInfo.country"  class="form-control" ng-change="GetStates(cntry)"  ng-model="cntry">
                   <option ng-selected="" ng-repeat="countries in country" value="{{countries.code}}">{{countries.name}}</option>
                </select>
              </div>
        </div>
    	<div class="col-md-6">
        	<h2 class="blank">&nbsp;</h2>
        	  <div class="form-group name-num">
                <label>{{'settings.bussiness_info.business_reg' | translate:translationData}}</label>
                <input ng-model="businessInfo.reg_name"  type="text" class="form-control" placeholder="{{'settings.bussiness_info.klb_placeholder' | translate:translationData}}">
                <input ng-model="businessInfo.reg_number"  type="text" class="form-control" placeholder="{{'settings.bussiness_info.reg_placeholder' | translate:translationData}}">
              </div>
              <div class="form-group url">
                <label>{{'settings.bussiness_info.web_url' | translate:translationData}}</label>
                <input  ng-model="businessInfo.web_url"  type="url" class="form-control" placeholder="{{'settings.bussiness_info.url_placeholder' | translate:translationData}}">
              </div>
              <div class="form-group contact-info">
                <label>{{'settings.bussiness_info.contact_info' | translate:translationData}}</label>
                <textarea ng-modal="businessInfo.contact_info"  class="form-control"></textarea>
              </div>
              <div class="form-group check-con online">
                <label>{{'settings.bussiness_info.online_booking' | translate:translationData}}</label>
                <div class="checkbox">
                    <label>
                      <input ng-model="businessInfo.online_booking"  type="checkbox"><span></span> {{'settings.bussiness_info.online_booking_option' | translate:translationData}}
                    </label>
                </div>
              </div>
        </div>
    </div>
</div>
</form>