<div class="dashboard-con settings">
	<form ng-submit="settingSubmit(account)">
        <div class="top_tabbing">
          <div class="col" ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.import" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.dc_data_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.dc_data_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.dc_data_total == 3}">
            <a ui-sref="settings.data-imports" href="" class="active">{{'settings.top_links.data_imports' | translate:translationData}}</a>
          </div>
          <div class="col" ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.export" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.dc_data_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.dc_data_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.dc_data_total == 3}">
            <a ui-sref="settings.data-export" href="">{{'sidebar_menu.Data_Export' | translate:translationData}}</a>      
          </div>
          <div class="col" ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.dc_print" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.dc_data_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.dc_data_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.dc_data_total == 3}">
            <a ui-sref="settings.document-and-printing" href="">{{'sidebar_menu.Print_Settings' | translate:translationData}}</a>      
          </div>
        </div>
    	<div class="top-container">
            <div class="col-md-4 col-xs-4 top-links">
                <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>     
            </div>
            <div class="col-md-8 col-xs-8 top-btn import-btn">
                <button class="save" type="submit" ng-click="saveImport(importData)">{{'settings.data_import.button_import_finish' | translate:translationData}}</button>
                <button class="save back" ng-click="goBack()">{{'button.back' | translate:translationData}}</button>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 form-content data-import-con" ng-scrollbars rebuild-on-resize>
        	<div class="col-md-12">
            	<h2 class="autowid">{{'settings.data_import.main_heading' | translate:translationData}}
                    <i class="ic info info-hover bottom left-side">
                        <span>{{'settings.data_import.main_heading_info' | translate:translationData}}</span>
                    </i>
                </h2>
                <ul>
                	<li>
                    	{{'settings.data_import.import_content_li1' | translate:translationData}}
                    </li>
                    <li>
                    	{{'settings.data_import.list_the' | translate:translationData}}
                        <span>"{{'settings.data_import.heading_your_field' | translate:translationData}}"</span>
                        {{'settings.data_import.import_content_li2' | translate:translationData}}
                    </li>
                    <li>
                    	{{'settings.data_import.list_the' | translate:translationData}}
                        <span>"{{'settings.data_import.table_heading_import_into' | translate:translationData}}"</span>
                        {{'settings.data_import.import_content_li3' | translate:translationData}}
                    </li>
                    <li>
                    	{{'settings.data_import.import_content_li4' | translate:translationData}}
                    </li>
                </ul>
                <p class="upload-info match-info">{{'settings.data_import.info_content' | translate:translationData}}<br />{{'settings.data_import.info_zulu' | translate:translationData}}</p>
                <div class="table-responsive import-data-list">
                	<table class="table">
                    	<thead>
                        	<tr>
                            	<th>{{'settings.data_import.heading_your_field' | translate:translationData}}</th>
                                <th class="import-into">{{'settings.data_import.table_heading_import_into' | translate:translationData}}</th>
                                <th ng-if="sampleLength>=1">{{'settings.data_import.table_heading_sample_info' | translate:translationData}} 1</th>
                                <th ng-if="sampleLength>=2">{{'settings.data_import.table_heading_sample_info' | translate:translationData}} 2</th>
                                <th ng-if="sampleLength>=3">{{'settings.data_import.table_heading_sample_info' | translate:translationData}} 3</th>
                                <th ng-if="sampleLength>=4">{{'settings.data_import.table_heading_sample_info' | translate:translationData}} 4</th>
                                <th ng-if="sampleLength>=5">{{'settings.data_import.table_heading_sample_info' | translate:translationData}} 5</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr ng-repeat="data in importData">
                            	<td style="text-transform:capitalize">{{data.your_field}}</td>
                                <td>
                                	<select class="form-control" ng-model="data.matched_column">
                                        <option value="">{{'reports.Do_not_import' | translate}}</option>
                                        <option ng-repeat="attributes in attList" value="{{attributes.value}}">{{attributes.attr_name}}</option>
                                    </select>
                                </td>
                                <td ng-if="sampleLength>=1">{{data.sample.sample_1}}</td>
                                <td ng-if="sampleLength>=2">{{data.sample.sample_2}}</td> 
                                <td ng-if="sampleLength>=3">{{data.sample.sample_3}}</td>
                                <td ng-if="sampleLength>=4">{{data.sample.sample_4}}</td>
                                <td ng-if="sampleLength>=5">{{data.sample.sample_5}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>