<div class="dashboard-con settings">
	<form ng-submit="uploadFile(import.fileAttach)">
        <div class="top_tabbing">
          <div class="col" ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.import" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.dc_data_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.dc_data_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.dc_data_total == 3}">
            <a ui-sref="settings.data-imports" href="" class="active">{{'settings.top_links.data_imports' | translate}}</a>
          </div>
          <div class="col" ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.export" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.dc_data_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.dc_data_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.dc_data_total == 3}">
            <a ui-sref="settings.data-export" href="">{{'sidebar_menu.Data_Export' | translate}}</a>      
          </div>
          <div class="col" ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.dc_print" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.dc_data_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.dc_data_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.dc_data_total == 3}">
            <a ui-sref="settings.document-and-printing" href="">{{'sidebar_menu.Print_Settings' | translate }}</a>
          </div>
        </div>
    	<div class="top-container">
            <div class="col-md-4 col-xs-4 top-links">
                <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>  
            </div>
            <div class="col-md-8 col-xs-8 top-btn import-btn">
                <button class="save" type="submit" ng-disabled="disableSubmit">{{'settings.data_import.button_match_info' | translate:translationData}}</button>
                <button class="save" type="button" ui-sref="settings.data-imports">{{'button.back' | translate:translationData}}</button>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 form-content" ng-scrollbars rebuild-on-resize>
        	<div class="col-md-12">
            	<p class="upload-info">{{'settings.data_import.upload_content' | translate:translationData}}</p>
                <div class="form-group col-md-12 col-xs-12 name-con clearfix fileUpload-con">
                    <label class="logo-com">{{'settings.data_import.label_upload' | translate:translationData}}</label>
                    <div class="img-con" ngf-drop="upload($file)"  ngf-select="upload($file)" ng-model="import.fileAttach">
                        <div class="needCsv" ng-if="needCsvFile">{{'settings.data_import.PleaseUploadCSVFile' | translate}}</div>
                    	<img src="/assets/logo-img.png" alt="" />
                    </div>
                    <span class="fileName">{{!uploadedName ? 'No File Chosen' : uploadedName}} <span ng-if="uploadedName">({{fileSize}})</span></span>
                </div>
            </div>
        </div>
    </form>
</div>