<div class="dashboard-con settings">
    <div class="top_tabbing">
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.import" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.dc_data_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.dc_data_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.dc_data_total == 3}">
        <a ui-sref="settings.data-imports" href="">{{'settings.top_links.data_imports' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.export" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.dc_data_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.dc_data_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.dc_data_total == 3}">
        <a ui-sref="settings.data-export" href="" class="active">{{'sidebar_menu.Data_Export' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.dc_data_sub_modules.dc_print" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.dc_data_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.dc_data_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.dc_data_total == 3}">
        <a ui-sref="settings.document-and-printing" href="">{{'sidebar_menu.Print_Settings' | translate:translationData}}</a>      
      </div>
    </div>
	<div class="top-container">
        <div class="col-md-12 col-xs-12 top-links export">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>     
        </div>
    </div>
    <div class="col-md-12 col-sm-12 form-content" ng-scrollbars rebuild-on-resize>
    	<div class="col-md-12" style="min-height:400px;">
        	<h2 class="autowid">{{'settings.data_export.main_heading' | translate:translationData}}
            </h2>
            <div class="form-group data-import">
                <form ng-submit="exportData(exData)">
                	<div class="data-export">
                      <label>{{'settings.data_export.label_export' | translate:translationData}}</label>
                      <select class="form-control" ng-model="exData.obj_type" ng-change="getPermissions(exData.obj_type)">
                        <option value="">{{'--Select--' | translate:translationData}}</option>
                        <option value="Patients">{{'appointment.patient' | translate:translationData}}</option>
                        <option value="Appointments">{{'sidebar_menu.appointments' | translate:translationData}}</option>
                        <option value="invoice">{{'sidebar_menu.invoices' | translate:translationData}}</option>
                        <option value="InvoiceItems">{{'reports.invoice_items' | translate:translationData}}</option>
                        <option value="Payments">{{'sidebar_menu.payments' | translate:translationData}}</option>
                        <option value="Expenses">{{'sidebar_menu.expenses' | translate:translationData}}</option>
                        <option value="Products">{{'product.main_heading' | translate:translationData}}</option>
                        <option value="StockAdjustments">{{'reports.stock_adjustments' | translate:translationData}}</option>
                        <option value="Contacts">{{'contact.main_heading' | translate:translationData}}</option>
                        <option value="PatientsAttachments">{{'reports.patients_attachments' | translate:translationData}}</option>
                        <option value="Letters">{{'settings.document_printing.heading_letter' | translate:translationData}}</option>
                        <option value="BillableItems">{{'settings.top_links.billable_items' | translate:translationData}}</option>
                        <optgroup label="Treatment Notes">
                          <option value="AllTreatmentNotes">{{'reports.all_treatment_notes' | translate:translationData}}</option>
                        </optgroup>
                        </select>
                       <label>
                            <span ng-if="exData.obj_type == 'Patients' || exData.obj_type == 'Payments' || exData.obj_type == 'Expenses' || exData.obj_type == 'Products' || exData.obj_type == 'StockAdjustments' || exData.obj_type == 'Contacts' || exData.obj_type == 'PatientsAttachments' || exData.obj_type == 'Letters' || exData.obj_type == 'BillableItems' || exData.obj_type == 'AllTreatmentNotes'">Created </span>
                            <span ng-if="exData.obj_type == 'Appointments'">Occurring </span>
                            <span ng-if="exData.obj_type == 'invoice' || exData.obj_type == 'InvoiceItems'">issued </span>
                            {{'settings.data_export.label_occuring' | translate:translationData}}
                       </label>
                       <div class="non-edit-small">
                            <input type="text" class="form-control" placeholder="Start Date" uib-datepicker-popup="{{format}}" is-open="fromDate.opened" min-date="minDate" max-date="exData.to" datepicker-options="dateOptions" ng-click="openFrom($event)" ng-model="exData.from" show-button-bar="false" ng-disabled="true" />
                            <button type="button" class="openPicker" ng-click="openFrom($event)"></button>
                       </div>
                       <label>{{'settings.data_export.label_to' | translate:translationData}}</label>
                       <div class="non-edit-small">
                            <input type="text" class="form-control" placeholder="End Date" uib-datepicker-popup="{{format}}" is-open="toDate.opened" min-date="exData.from" max-date="dobMaxDate" datepicker-options="dateOptions" ng-click="openTo($event)" ng-model="exData.to" show-button-bar="false" ng-disabled="true"/>
                            <button type="button" class="openPicker" ng-click="openTo($event)"></button>
                       </div>
                       <button type="submit" ng-show="permissions.flag">{{'settings.data_export.button_export' | translate:translationData}}</button>
                       <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="table-responsive import-data">
            	<table class="table">
                	<thead>
                    	<tr>
                        	<th>{{'settings.data_export.table_heading_type' | translate:translationData}}</th>
                        	<th>{{'settings.data_export.table_heading_data_range' | translate:translationData}}</th>
                        	<th>{{'settings.data_export.table_heading_file_name' | translate:translationData}}</th>
                            <th>{{'settings.data_export.table_heading_created' | translate:translationData}}</th>
                        	<th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5" class="noData text-center" ng-if="noData">{{'label.No_Data_Found' | translate}}</td>
                        </tr>
                    	<tr ng-repeat="exports in exportList">
                        	<td><b>{{exports.export_type}}</b></td>
                        	<td>{{exports.date_range}}</td>
                        	<td>{{exports.file_name}}</td>
                            <td>{{exports.created_at}}</td>
                        	<td class="import-btn-con">
                            	<a href="" ng-click="export_download(exports.id)">{{'button.download' | translate:translationData}}</a>
                            	<a href="" class="delete" ng-click="deleteExport(exports.id)">{{'button.delete' | translate:translationData}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal for export--> 
<script type="text/ng-template" id="DeleteExport.html">
    <div class="modal-body confirm-body">
        <div class="confirm">
            <p>{{'settings.data_export.delExportLog' | translate}}</p>
            <a href="" ng-click="deleteExportData()">{{'button.confirm' | translate:translationData}}</a>
            <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
        </div>
    </div>
</script>