<div class="dashboard-con settings">
	<form ng-submit="settingSubmit(account)">
    	<div class="top-container">
            <div class="col-md-12 col-xs-12 top-links">
                <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 form-content" ng-scrollbars rebuild-on-resize>
        	<div class="col-md-12">
            	<h2 class="autowid">{{'settings.data_import.main_heading' | translate:translationData}}
              </h2>
              <div class="clearfix"></div>
              <div class="row dataImport">
                <div class="col-sm-2">
                  <select ng-model="selectedBusiness" class="form-control">
										<option class="form-control" value=""> Select Business </option>
                    <option ng-repeat="business in businessList" value="{{business.id}}">{{business.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <select ng-model="selectedUser" class="form-control">
										<option class="form-control" value=""> Select User </option>
                    <option ng-repeat="user in userList" value="{{user.id}}">{{user. first_name}} {{user. last_name}}</option>
                  </select>
                </div>
								<div class="col-sm-2">
                  <select ng-model="selectedType" class="form-control">
										<option class="form-control" value=""> Select Import Type </option>
										<option class="form-control" value="patients"> Patients </option>
										<option class="form-control" value="invoices"> Invoices </option>
										<option class="form-control" value="items"> Billable Items </option>
                  </select>
                </div>

                <div class="col-sm-3">
                    <button ng-click="importEnateData()">{{'settings.treatment_note.import' | translate:translationData}}</button>
										<span id="enateImport" style='display:none;'> Importing ... </span>
								</div>
              </div>
							<div id="showprogress">
								<div id="patients_prog" class="autowid" style="display:none;"> Importing Patient Data ... </div>
								<br>
								<div id="item_prog" class="autowid" style="display:none;"> Importing Billable Items/Products Data ... </div>
								<br>
								<div id="inv_prog" class="autowid" style="display:none;"> Importing Invoices ... </div>
								<br>
								<div id="rel_prog" class="autowid" style="display:none;"> Importing Relations between Invoices and Billable items ... </div>
							</div>
            </div>
        </div>
    </form>
</div>
