<div class="dashboard-con settings">
	<div class="top-container">
        <div class="col-xs-6 top-links" ng-class="{'col-md-12' : facebookBooking, 'col-md-9' : facebookBooking==false}">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>     
        </div>
        <div class="col-md-3 col-xs-6 top-btn" ng-if="!facebookBooking">
            <button class="save" type="submit" ng-click="saveIntegration(integration)" ng-if="mailchip">{{'button.save' | translate:translationData}}</button>
            <button class="save" type="submit" ng-click="saveXero(xeroElements)" ng-if="xero">{{'button.save' | translate:translationData}}</button>
            <button class="save" type="submit" ng-click="saveQuickBook(quickElements)" ng-if="quickBookConnect && QuickBook">{{'button.save' | translate:translationData}}</button>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 form-content no_topbar" ng-scrollbars rebuild-on-resize>
        <div class="integration_tabbing">
            <a href="" ng-class="{'active': mailchip}" ng-click="openMailchip()">{{'settings.integration.inteWithMailChimp' | translate:translationData}}</a>
            <a href="" ng-class="{'active': QuickBook}" ng-click="openQuickBook()">{{'settings.integration.quickbookLabel' | translate:translationData}}</a>         
        </div>
    	<div class="col-md-12 integration_con">
          <div class="mailchip" ng-if="mailchip">
            <h2>{{'settings.integration.inteWithMailChimp' | translate:translationData}}</h2>
            <p class="mailchip_info mailchip_icon">{{'settings.integration.mailChimpHelp' | translate:translationData}}<br>
            <a href="http://mailchimp.com/" target="_blank">{{'settings.integration.visitMailchimp' | translate:translationData}}</a></p>
            <h2>{{'settings.integration.doesConnect' | translate:translationData}}</h2>
            <p class="mailchip_info">{{'settings.integration.opustimeCreate' | translate:translationData}}</p>
            <h2 class="autowid">{{'settings.integration.mailChimpAccount' | translate:translationData}}</h2>
            <div class="form-group data-import">
                <div class="form-group">
                  <label>{{'settings.integration.mailchimpKey' | translate:translationData}}</label>
                  <p class="chimp_link">{{'settings.integration.enterYour' | translate:translationData}} <a href="https://admin.mailchimp.com/account/api-key-popup" target="_blank">{{'settings.integration.mailchimpAPIKey' | translate:translationData}}</a> {{'settings.integration.connectOpustime' | translate:translationData}}</p>
                  <input type="text" class="form-control" ng-model="integration.key">
                </div>
                <div class="form-group">
                   <label>{{'settings.integration.mailchimpList' | translate:translationData}}</label>
                   <p class="chimp_link">{{'settings.integration.theNameMust' | translate:translationData}}</p>
                   <input type="text" class="form-control" ng-model="integration.list" />
                </div>
                <p class="integration_error" ng-if="apiNotValid">{{'settings.integration.apiKeyNotValid' | translate:translationData}}</p>
                <p class="integration_error congo" ng-if="APIvalid">{{'settings.integration.congo' | translate:translationData}}</p>
            </div>
          </div>
          </div>
          <div class="xero mailchip QuickBook" ng-if="QuickBook">
            <h2>{{'settings.integration.INTEGRATE_WITHQuickbook' | translate:translationData}}</h2>
            <div ng-if="quickBookNotConect">
                <h2>{{'settings.integration.AUTHORIZE_OPUSTIME_TO_ACCESS' | translate:translationData}}</h2>
                <p class="mailchip_info">{{'settings.integration.Connect_toQuickbook' | translate:translationData}}</p>
                <button class="connect" ng-click="connectToQuick()">{{'settings.integration.ConnectToQuickbook' | translate:translationData}}</button>
            </div>
            <div class="xero_form data-import" ng-if="quickBookConnect">
                <h2>{{"settings.integration.quickbookAccountHeading" | translate:translationData}}</h2>
                <label>{{"settings.integration.defaultQuickSale" | translate:translationData}}</label>
                <p class="mailchip_info">{{'settings.integration.applyInvoice' | translate:translationData}}</p>
                <div class="form-group">
                   <select class="form-control" ng-model="quickElements.income">
                      <option ng-repeat="incomeData in quickBookData.data[1].Income" value="{{incomeData.Id}}">{{incomeData.Name}}</option> 
                    </select>
                </div>
                <div class="form-group">
                    <label>{{'settings.integration.quickAccountPayment' | translate:translationData}}</label>
                    <select class="form-control" ng-model="quickElements.expense">
                      <option ng-repeat="expenseData in quickBookData.data[0].Expense" value="{{expenseData.Id}}">{{expenseData.Name}}</option> 
                    </select>
                </div>
                <div class="form-group">
                    <label>{{'settings.integration.quickTaxRate' | translate:translationData}}</label>
                    <select class="form-control" ng-model="quickElements.tax">
                      <option ng-repeat="taxData in quickBookData.data[2].Tax" value="{{taxData.Id}}">{{taxData.name}} ({{taxData.amount}}%)</option> 
                    </select>
                    <p ng-if="quickBookData.data[2].Tax.length < 1">* To create and update taxes you need to make changes in QuickBook manually.</p>
                </div>
                <p>{{'settings.integration.quickBookconnected' | translate:translationData}}</p>
                <button class="disconnect" ng-click="disconnectQuickBook()">{{'settings.integration.disconnect' | translate:translationData}}</button>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- SMS Modal --> 
<script type="text/ng-template" id="synchronised_invoices.html">
  <div class="modal-body synchro_table">
    <a href="" ng-click="cancel()" class="close-popup"></a>
    <div class="drag_drop">
      <h4>{{'settings.integration.synchroniseInvoice' | translate:translationData}}</h4>
      <table class="table table-border">
        <thead>
            <tr>
                <th>Invoice #</th>
                <th>Status</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>000007<span>(Open)</span></td>
                <td>Completed</td>
                <td>test</td>
            </tr>
            <tr>
                <td>000007</td>
                <td>Completed</td>
                <td>test</td>
            </tr>
            <tr>
                <td>000007</td>
                <td>Completed</td>
                <td>test</td>
            </tr>
            <tr>
                <td>000007</td>
                <td>Completed</td>
                <td>test</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</script>
<!-- Delete Modal for Attachment--> 
<script type="text/ng-template" id="DisconnectXero.html">
  <div class="modal-body confirm-body">
    <div class="confirm">
      <p>{{'settings.integration.areYouRealy' | translate:translationData}}</p>
      <a href="" ng-click="disconnectFromXero()">{{'button.confirm' | translate:translationData}}</a>
      <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
    </div>
  </div>
</script>

<!-- Delete Modal for Attachment--> 
<script type="text/ng-template" id="DisconnectQuickbook.html">
  <div class="modal-body confirm-body">
    <div class="confirm">
      <p>{{'settings.integration.areYouRealy' | translate:translationData}}</p>
      <a href="" ng-click="disconnectFromQuickBook()">{{'button.confirm' | translate:translationData}}</a>
      <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
    </div>
  </div>
</script>