<div class="dashboard-con settings">
	<form ng-submit="UpdateInvoice(invoiceSettings)">
        <div class="top_tabbing" ng-if="true">
          <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.service" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
            <a ui-sref="settings.billable-items" href="">{{'sidebar_menu.Product_and_Services' | translate:translationData}}</a>
          </div>
          <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.payment_type" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
            <a ui-sref="settings.payment-types" href="">{{'sidebar_menu.Payment_Methods' | translate:translationData}}</a>      
          </div>
          <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.tax" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
            <a ui-sref="settings.taxes" href="">{{'sidebar_menu.Taxes' | translate:translationData}}</a>      
          </div>
          <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.invoice_setting" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
            <a ui-sref="settings.invoice" href="" class="active">{{'sidebar_menu.Invoice_Settings' | translate:translationData}}</a>      
          </div>
        </div>
    	<div class="top-container">
            <div class="col-md-9 col-xs-6 top-links">
                <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>     
            </div>
            <div class="col-md-3 col-xs-6 top-btn">
                <button class="save" type="submit">{{'button.update' | translate:translationData}}</button>
                <button class="cancel" type="button" ng-click="getInvoiceSettings()">{{'button.cancel' | translate:translationData}}</button>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 form-content" ng-scrollbars rebuild-on-resize>
        	<div class="col-md-6 invoice-setCol">
              
            	<h2 class="section-title">{{'settings.invoice.heading_general' | translate:translationData}}</h2>
                  <div class="form-group invoice-title">
                  	<div class="col-xs-7 invoice-LabelTitle">
                        <label>{{'settings.invoice.label_title' | translate:translationData}}</label>
                        <input type="text" class="form-control" placeholder="Tax Invoice Test" ng-model="invoiceSettings.title">
                    </div>
                    <div class="col-xs-4 invoice-col">
                        <label>{{'settings.invoice.label_starting_no' | translate:translationData}}</label>
                        <input type="text" class="form-control invoice-num" placeholder=""  ng-model="invoiceSettings.starting_invoice_number">
                    </div>
                  </div>
                  <div class="form-group extra-bus">
                    <label>{{'settings.invoice.label_extra_bussiness' | translate:translationData}}
                    	<i class="ic info info-hover invoice-span">
                            <span>{{'settings.invoice.label_extra_bussiness_info' | translate:translationData}}</span>
                        </i>
                    </label>
                    <textarea class="form-control"  ng-model="invoiceSettings.extra_bussiness_information"></textarea>
                  </div>
                  <div class="form-group check-con cate pushit-left">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"  ng-model="invoiceSettings.show_business_info"><span></span> {{'settings.invoice.show_bussiness_contact' | translate:translationData}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"  ng-model="invoiceSettings.hide_business_details"> <span></span> {{'settings.invoice.hide_bussiness_detail' | translate:translationData}}
                        </label>
                        <i class="ic info info-hover">
                            <span>{{'settings.invoice.hide_bussiness_detail_info' | translate:translationData}}</span>
                        </i>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"  ng-model="invoiceSettings.include_next_appointment"><span></span> {{'settings.invoice.hide_include_next_appointment' | translate:translationData}}
                        </label>
                        <i class="ic info info-hover">
                            <span>{{'settings.invoice.hide_include_next_appointment_info' | translate:translationData}}</span>
                        </i>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col2 invoice-setCol">
            	<h2 class="blank">&nbsp;</h2>
                <div class="form-group fulwid">
                    <label>{{'settings.invoice.label_offer' | translate:translationData}}
                    	<i class="ic info info-hover bottom bottom-invoice">
                            <span>{{'settings.invoice.label_offer_info' | translate:translationData}}</span>
                        </i>
                    </label>
                    <div class="col-md-12 email-toolbar form-group">
                        <text-angular-toolbar ta-toolbar="[['p','bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo','justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent','insertImage']]" name="myToolbar"></text-angular-toolbar>
                        <text-angular ng-model="invoiceSettings.offer_text" ta-target-toolbars='myToolbar'></text-angular>
                    </div>
                </div>
                <div class="form-group fulwid note-text">
                    <label>{{'settings.invoice.label_default_note' | translate:translationData}}
                    	<i class="ic info info-hover invoice-note">
                            <span>{{'settings.invoice.label_default_note_info' | translate:translationData}}</span>
                        </i>
                    </label>
                    <textarea class="form-control" ng-model="invoiceSettings.default_notes"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>