<form id="lettertemplateForm" ng-submit="lettertemplateForm.$valid && LetterTemplateSubmit(LetterTemplateItems);" novalidate name="lettertemplateForm">
  <div class="col-md-6 letter-temp">
  	<h2>{{'settings.letter_tamplate.heading_letter_template' | translate:translationData}}</h2>
    <div class="form-group">
      <label>{{'settings.letter_tamplate.label_tname' | translate:translationData}}</label>
      <input type="text" class="form-control" placeholder="" ng-model="LetterTemplateItems.letter_template.template_name" required>
    </div>
  </div>
	<div class="col-md-6 letter-temp">
    <h2 class="blank">&nbsp;</h2>
    <div class="form-group">
      <label>{{'settings.letter_tamplate.label_default_email_subject' | translate:translationData}}</label>
      <input type="text" class="form-control" placeholder="" ng-model="LetterTemplateItems.letter_template.default_email_subject">
    </div>
  </div>
  <div class="col-md-12 custom-toolbar-con" style="margin-bottom:100px;">
    <text-angular-toolbar ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote','bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear','justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'],['patient', 'practitioner', 'business', 'contact', 'refDcotor', 'general']]" name="myToolbar"></text-angular-toolbar>
    <text-angular ng-model="LetterTemplateItems.letter_template.template_body" ta-target-toolbars='myToolbar' ></text-angular>
  </div>
</form>