<div class="dashboard-con settings">
    <div class="top_tabbing">
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.service" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.billable-items" href="">{{'sidebar_menu.Product_and_Services' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.payment_type" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.payment-types" href="" class="active">{{'sidebar_menu.Payment_Methods' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.tax" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.taxes" href="">{{'sidebar_menu.Taxes' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.invoice_setting" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.invoice" href="">{{'sidebar_menu.Invoice_Settings' | translate:translationData}}</a>      
      </div>
    </div>
    <div class="top-container">
        <div class="col-md-4 col-xs-4 top-links">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>    
        </div>
        <div class="col-md-8 col-xs-8 top-btn" ng-show="btnpaymenttype">
            <button class="save" type="submit" form="paymentForm">{{payment_btn | translate:translationData}}</button>
            <button ng-click="$state.go('settings.payment-types');btnpaymenttype = false" class="cancel">{{'button.cancel' | translate:translationData}}</button>
            <button class="cancel" ng-click="payDelete('sm')" ng-hide="paymentdeleteText">{{'button.delete' | translate:translationData}}</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5>{{'settings.payment.main_heading' | translate:translationData}}</h5>
                    <a class="" ui-sref="settings.payment-types.info({paymentID:'new'})">
                    	<i ng-click="payment_btn='button.save';paymentdeleteText = true;btnpaymenttype = true" class="ic bus-icn payment"></i>
                    	<span>{{'settings.tool-tip-addnew' | translate:translationData}}</span>
                    </a>
                </div>
                <div class="side-bar-search">
                    <form>
                        <input type="text" class="form-control" placeholder="{{'settings.placeholder_search' | translate:translationData}}" ng-model="PFilter" />
                        <button type="submit" disabled="disabled"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div ng-click="btnpaymenttype = true;paymentdeleteText=false;payment_btn='button.update'" class="side-bar-links" ng-scrollbars rebuild-on-resize rebuild-on="rebuild:me">
                	<ul>
                    	<li ng-repeat="paymentTypes in paymentList | filter:{name:PFilter}"><a href="" ui-sref="settings.payment-types.info({paymentID:paymentTypes.id})" ui-sref-active="active">{{paymentTypes.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-10 col-sm-10 form-content info-container " ng-scrollbars rebuild-on-resize rebuild-on="rebuild:me">
    	<div ui-view></div>
    </div>
</div>

<!-- Modal -->
<script type="text/ng-template" id="DeleteModal.html">
    <div class="modal-body confirm-body">
		<div class="confirm">
            <p>{{'settings.payment.confirmation-msg' | translate:translationData}}</p>
            <a href="" ng-click="okdelete()">{{'button.confirm' | translate:translationData}}</a>
            <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
        </div>
    </div>
</script>