<div class="dashboard-con settings">
    <div class="top-container">
        <div class="{{settingtopClasses1}}">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>     
        </div>
        <div class="{{settingtopClasses2}}" ng-show="BtnSave">
            <button class="save" type="submit" form="UserForm">{{userBtnText | translate:translationData}}</button>
        </div>
    </div>
    <div class=" col-md-12 col-sm-12 form-content info-container no_topbar" ng-scrollbars rebuild-on-resize rebuild-on="rebuild:me" style="padding-left:0;"> 
        <div ui-view></div>
    	<div class="col-md-12" ng-show="showBlank">
        	<div class="select-user">
            	<img src="assets/user-select.png" alt="" />
                <h6>{{'settings.user_practitioners.select_user' | translate:translationData}}</h6>
            </div>
        </div>
    </div>
</div>