<form id="RecallForm" ng-submit="RecallForm.$valid && RecallSubmit(recalData);" novalidate name="RecallForm">
  <div class="col-md-6">
  	<h2>{{'settings.recall.heading_return_visit' | translate:translationData}}</h2>
      <div class="form-group">
        <label>{{'label.name' | translate:translationData}}</label>
        <input type="text" class="form-control" placeholder="{{'settings.recall.heading_return_visit' | translate:translationData}}" ng-model="recalData.name" required>
      </div>
      <div class="form-group col-md-12 time-con range recell">
        <label>{{'settings.recall.label_recall_in' | translate:translationData}}</label>
        <select class="form-control" ng-model="recalData.period_val" >
          <option ng-repeat="n in range(1,100)">{{n}}</option>
        </select>
        <select class="form-control" ng-model="recalData.period_name" >
          <option value="Day(s)">{{'settings.recall.days' | translate:translationData}}</option>
          <option value="Week(s)">{{'settings.recall.weeks' | translate:translationData}}</option>
          <option value="Month(s)">{{'settings.recall.months' | translate:translationData}}</option>
        </select>
      </div>
  </div>
  <div class="col-md-6"></div>
</form>