<div class="dashboard-con settings">
    <div class="top_tabbing" ng-if="true">
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.client_sub_modules.template_note" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.client_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.client_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.client_total == 3}">
        <a ui-sref="settings.treatment-notes" href="">{{'sidebar_menu.Notes_Templates' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.client_sub_modules.referral_type" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.client_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.client_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.client_total == 3}">
        <a ui-sref="settings.referral-types" href="" class="active">{{'sidebar_menu.Refferral_Types' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.client_sub_modules.discount_type" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.client_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.client_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.client_total == 3}">
        <a ui-sref="settings.discount-types" href="">{{'sidebar_menu.Discount_Types' | translate:translationData}}</a>      
      </div>
    </div>
    <div class="top-container">
        <div class="col-md-8 col-xs-6 top-links">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>    
        </div>
        <div class="col-md-4 col-xs-6 top-btn" ng-hide="hideall" >
            <button class="save" type="submit" ng-show="!showSave" form="referralForm">{{'button.update' | translate:translationData}}</button>
            <button class="save" type="submit" ng-show="showSave"  form="referralForm">{{'button.save' | translate:translationData}}</button>
            <button ng-click="$state.go('settings.referral-types')" class="cancel">{{'button.cancel' | translate:translationData}}</button>
            <button class="cancel" ng-show="showdelete" ng-click="reffDelete('sm')">{{'button.delete' | translate:translationData}}</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5>{{'settings.referral.main_heading' | translate:translationData}}</h5>
                    <a class="" ui-sref="settings.referral-types.edit({referalID:'new'})">
                    	<i ng-click="showSave=true;hideall=false" class="ic bus-icn referral"></i>
                    	<span>{{'settings.tool-tip-addnew' | translate:translationData}}</span>
                    </a>
                </div>
                <div class="side-bar-search">
                    <form>
                        <input type="text" class="form-control" placeholder="{{'settings.placeholder_search' | translate:translationData}}" ng-model="filterReferrals" />
                        <button type="submit" disabled="disabled"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div ng-click="hideall=false" class="side-bar-links" ng-scrollbars rebuild-on-resize>
                	<ul>
                    	<li ng-repeat="referrals in referralList | filter:{referral_source : filterReferrals}" ui-sref="settings.referral-types.edit({referalID:referrals.id})" ng-if="referrals.status == 'active'" class="{{referrals.status}}"><a href="">{{referrals.referral_source}}</a></li>
                        <li ng-repeat="referrals in referralList | filter:{referral_source : filterReferrals}" ng-if="referrals.status == 'inactive'" class="{{referrals.status}}"><a href="">{{referrals.referral_source}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-10 col-sm-10 form-content info-container " ng-scrollbars rebuild-on-resize >
    	<div ui-view></div>
    </div>
</div>

<!-- Modal -->
<script type="text/ng-template" id="DeleteModal.html">
    <div class="modal-body confirm-body">
		<div class="confirm">
            <p>{{'settings.referral.confirmDelete' | translate:translationData}}</p>
            <a href="" ng-click="okdelete()">{{'button.confirm' | translate:translationData}}</a>
            <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
        </div>
    </div>
</script>