<div class="dashboard-con settings">
    <div class="top_tabbing" ng-if="true">
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.account" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.acc_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.acc_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.acc_total == 3}">
        <a ui-sref="settings.account" href="">{{'sidebar_menu.Account_Details' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.business" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.acc_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.acc_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.acc_total == 3}">
        <a ui-sref="settings.business" href="" class="active">{{'sidebar_menu.Business_Locations' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.user" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.acc_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.acc_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.acc_total == 3}">
        <a ui-sref="settings.users" href="">{{'sidebar_menu.User_Management' | translate:translationData}}</a>      
      </div>
    </div>
    <div class="top-container">
        <div class="{{settingtopClasses1}}">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>     
        </div>
        <div class="{{settingtopClasses2}}" ng-hide="hideBusinessCancel">
            <button class="save" type="submit" form="businessForm">{{mainButton | translate:translationData}}</button>
            <button class="cancel" ng-click="$state.go('settings.business');hideBusinessCancel = true;showBlank=true">{{'button.cancel' | translate:translationData}}</button>
            <button class="cancel" ng-show="showDelete" ng-click="openDelete('sm')">{{'button.delete' | translate:translationData}}</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5>{{'settings.bussiness_info.main_heading' | translate:translationData}}</h5>
                    <a ui-sref="settings.business.new" class="">
                    	<i ng-click="hideBusinessCancel = false"  class="ic bus-icn"></i>
                    	<span>{{'settings.tool-tip-addnew' | translate:translationData}}</span>
                    </a>
                </div>
                <div class="side-bar-search">
                    <form>
                        <input type="text" class="form-control" placeholder="{{'settings.placeholder_search' | translate:translationData}}" ng-model="bListFilter" />
                        <button type="submit" disabled="disabled"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div ng-click="hideBusinessCancel = false"   class="side-bar-links side-info billing-items bussiness-items" ng-scrollbars rebuild-on-resize rebuild-on="rebuild:me">
                	<ul>
                    	<li  class="no-animate" ng-repeat="business in businessList | filter:{name : bListFilter}" ><a href="" ui-sref="settings.business.info({business_id:business.id})" ui-sref-active="active">{{business.name}}
                            
                        </a>

                        <md-tooltip class="customtooltip angular-animate select-business" md-direction="right" ng-if="business.address || business.city || business.country">
                                <ul>
                                    <li ng-hide="!business.address"> <h6>{{business.address}}</h6></li> 
                                    <li ng-hide="!business.city"><h6>{{business.city}} {{business.pin_code}}</h6></li> 
                                    <li ng-hide="!business.country"><h6>{{business.country}}</h6></li> 
                                </ul>
                        </md-tooltip>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-10 col-sm-10 form-content info-container" ng-scrollbars rebuild-on-resize rebuild-on="rebuild:me"> 
         <div ui-view></div>
    	<div ng-show="showBlank" class="col-md-12">
        	<div class="select-user">
            	<img src="assets/user-select.png" alt="" />
                <h6>{{'settings.bussiness_info.select-info' | translate:translationData}}</h6>
            </div>
              
        </div>
    </div>
</div>


<!-- Modal -->
<script type="text/ng-template" id="DeleteModal.html">
    <div class="modal-body confirm-body">
		<div class="confirm">
            <p>{{'settings.bussiness_info.confirmation-msg' | translate:translationData}}</p>
            <a href="" ng-click="okdelete()">{{'button.confirm' | translate:translationData}}</a>
            <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
        </div>
    </div>
</script>