<div class="dashboard-con settings">
    <div class="top_tabbing" ng-if="true">
      <div class="col" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.acc_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.acc_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.acc_total == 3}" ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.account">
        <a ui-sref="settings.account" href="">{{'sidebar_menu.Account_Details' | translate:translationData}}</a>
      </div>
      <div class="col" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.acc_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.acc_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.acc_total == 3}" ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.business">
        <a ui-sref="settings.business" href="">{{'sidebar_menu.Business_Locations' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.acc_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.acc_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.acc_total == 3}" ng-if="DashboardLinks.setting_sub_modules.acc_sub_modules.user">
        <a ui-sref="settings.users" href="" class="active">{{'sidebar_menu.User_Management' | translate:translationData}}</a>      
      </div>
    </div>
    <div class="top-container">
        <div class="{{settingtopClasses1}}">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>     
        </div>
        <div class="{{settingtopClasses2}}" ng-show="BtnSave">
            <button class="save" type="submit" form="UserForm" ng-hide="userBtnText == 'button.update' && !permissionsData.view_edit && permissionsData.logged_in_user_id == u_id">{{userBtnText | translate:translationData}}</button>
            <button ng-disabled="buttonCancel" class="cancel" ng-click="$state.go('settings.users');BtnSave = false;showBlank=true">{{'button.cancel' | translate:translationData}}</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5>{{'settings.user_practitioners.main_heading' | translate:translationData}}</h5>
                    <a class="" ui-sref="settings.users.new" ng-if="permissionsData.manage_others">
                    	<i  ng-click="BtnSave = true; showBlank=false" class="ic bus-icn user-p"></i>
                    	<span>{{'settings.tool-tip-addnew' | translate:translationData}}</span>
                    </a>
                </div>
                <div class="side-bar-search">
                    <form>
                        <input type="text" class="form-control" placeholder="{{'settings.placeholder_search' | translate:translationData}}" ng-model="uListFilter" />
                        <button type="submit" disabled="disabled"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div  ng-click="BtnSave = true ; showBlank=false" class="side-bar-links side-info billing-items user-items">
                	<ul>
                    	<li ng-repeat="users in userList | filter:uListFilter" >
                        <a href="" ui-sref="settings.users.info({user_id:users.id})" ui-sref-active="active" ng-if="users.isLink">{{users.first_name}} {{users.last_name}}
                        </a>
                        <a ng-if="!users.isLink">{{users.first_name}} {{users.last_name}}
                        </a>
                        <md-tooltip class="customtooltip angular-animate select-users" md-direction="right">
                            <ul>
                                <li><h6>{{'settings.user_practitioners.practitioner' | translate:translationData}}</h6><p><i ng-class="{'disable-ic' : !users.is_doctor, 'enable-ic' :  users.is_doctor }" class="ic "></i></p></li>
                                <li><h6>{{'settings.user_practitioners.security_role' | translate:translationData}}</h6><p>{{users.role}}</p></li> 
                            </ul>
                        </md-tooltip></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-10 col-sm-10 form-content info-container" ng-scrollbars rebuild-on-resize rebuild-on="rebuild:me" > 
        <div ui-view></div>
    	<div class="col-md-12" ng-show="showBlank">
        	<div class="select-user">
            	<img src="assets/user-select.png" alt="" />
                <h6>{{'settings.user_practitioners.select_user' | translate:translationData}}</h6>
            </div>
        </div>
    </div>
</div>