<div class="dashboard-con settings">
    <form ng-submit="settingSubmit(account)">
        <div class="top_tabbing" ng-if="true">
            <div class="col" ng-if="DashboardLinks.setting_sub_modules.subscription_sub_modules.subscription" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.subscription_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.subscription_total == 2 , 'widthfull': subscript}">
                <a ui-sref="settings.subscription" href="" class="active">{{'sidebar_menu.opusTime_subscription' | translate:translationData}}</a>
            </div>
            <div class="col" ng-if="DashboardLinks.setting_sub_modules.subscription_sub_modules.sms_setting && subscription_status" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.subscription_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.subscription_total == 2}">
                <a ui-sref="settings.sms-setting" href="">{{'sidebar_menu.SMS_Settings' | translate:translationData}}</a>
            </div>
        </div>
        <div class="top-container">
            <div class="col-md-12 col-xs-6 top-links">
                <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 form-content" ng-scrollbars rebuild-on-resize>
            <div class="col-md-6 subscription">
                <h2 class="section-title">{{'settings.zulu_subscription.main_heading' | translate:translationData}}</h2>
                <div class="form-group ">
                    <h4 ng-if="!subDetail.is_trial_expired">{{subDetail.trial_subscription_message}}</span></h4>
                    <div class="" ng-if="!subDetail.is_trial_expired && !subDetail.active_subscription ">
                        <label>{{'settings.zulu_subscription.label_current' | translate:translationData}}</label>
                        <p>{{subscriptDetails.current_plan}}</p>
                        <label>{{'settings.zulu_subscription.label_prac' | translate:translationData}}</label>
                        <p>{{subscriptDetails.avail_practi}} {{'settings.out_of_maximum' | translate}} {{subscriptDetails.max_practi}} {{'settings.practitioners_in_use' | translate}}</p>
                        <label>{{subscriptDetails.category}} {{'settings.zulu_subscription.label_fee' | translate:translationData}}</label>
                        <p>${{subscriptDetails.fee}} {{'settings.USD' | translate}}</p>
                    </div>
                    <div class="" ng-if=" subDetail.is_trial_expired && subDetail.active_subscription">
                        <label>{{'settings.zulu_subscription.label_current' | translate:translationData}}</label>
                        <p ng-if="subscriptDetails.current_plan">{{subscriptDetails.current_plan}}</p>
                        <p ng-if="!subscriptDetails.current_plan">-</p>
                        <label>{{'settings.zulu_subscription.label_prac' | translate:translationData}}</label>
                        <p ng-if="subscriptDetails.avail_practi">{{subscriptDetails.avail_practi}} {{'settings.out_of_maximum' | translate}} {{subscriptDetails.max_practi}} {{'settings.practitioners_in_use' | translate}}</p>
                        <p ng-if="!subscriptDetails.avail_practi">-</p>
                        <label>{{'settings.zulu_subscription.label_next_billing' | translate:translationData}}</label>
                        <p ng-if="subscriptDetails.next_billing_date">{{subscriptDetails.next_billing_date}}</p>
                        <p ng-if="!subscriptDetails.next_billing_date">-</p>
                        <label>{{subscriptDetails.category}} {{'settings.zulu_subscription.label_fee' | translate:translationData}}</label>
                        <p ng-if="subscriptDetails.fee">${{subscriptDetails.fee}} {{'settings.USD' | translate}}</p>
                        <p ng-if="!subscriptDetails.fee">${{0}} {{'settings.USD' | translate}}</p>
                    </div>
                    <div class="" ng-if="subDetail.is_trial_expired && !subDetail.active_subscription">
                        <p style="padding:0; clear:both;">Your subscription is currently cancelled. You can come back at anytime by selecting a plan and providing a payment method.
                            If not, there is nothing else to do. It is as simple as that. We hope you have enjoyed our services and we look forward to seeing you again some day!</p>
                    </div>
                    <div class="clearfix"></div>
                    <strong ng-if="cardData.data.company_payment_profile_id == null">{{'settings.zulu_subscription.label_not-reg' | translate:translationData}}
                        <i class="ic info info-hover">
                            <span>{{'settings.zulu_subscription.label_not-reg_info' | translate:translationData}}</span>
                        </i>
                    </strong>
                    <strong ng-if="cardData.data.company_payment_profile_id != null">{{cardData.message}}
                    </strong>
                    <a href="" ng-click="openCardUpdate()" ng-if="cardData.data.company_payment_profile_id == null">Enter credit card details</a>
                    <a href="" ng-click="openCardUpdate()" ng-if="cardData.data.company_payment_profile_id != null">{{'settings.zulu_subscription.label_update_card' | translate:translationData}}</a>
                </div>
                <div class="form-group hide-app">
                    <div class="col-md-6">
                        <label>{{'settings.zulu_subscription.label_want_to_subsription' | translate:translationData}}
                            <i class="ic info info-hover">
                                <span>{{'settings.zulu_subscription.label_want_to_subsription_info' | translate:translationData}}</span>
                            </i>
                        </label>
                        <a href="" ng-click="cancelCardUpdate()" ng-disabled="!subDetail.show_cancel_subscription_button">{{'settings.zulu_subscription.cancelzulu' | translate:translationData}}</a>
                    </div>
                    <div class="col-md-6 happens">
                        <label>{{'settings.zulu_subscription.label_what_happn' | translate:translationData}}
                            <i class="ic info info-hover">
                                <span style="width: 450px; margin-left: -225px;">{{'settings.zulu_subscription.label_what_happn_info' | translate:translationData}}</span>
                            </i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 plan">
                <div class="form-group">
                    <div class="col-md-6">
                        <h2>{{'settings.zulu_subscription.label_change_plan' | translate:translationData}}
                            <i class="ic info info-hover bottom">
                                <span>{{'settings.zulu_subscription.label_change_plan_info' | translate:translationData}}</span>
                            </i>
                        </h2>
                        <p>{{'settings.zulu_subscription.label_price_in' | translate:translationData}}</p>
                    </div>
                    <div class="col-md-6 plan-type">
                        <select class="form-control" ng-model="planCat">
                            <option value="Monthly">{{'settings.zulu_subscription.label_plan_type_option1' | translate:translationData}}</option>
                            <option value="Yearly">{{'settings.zulu_subscription.label_plan_type_option2' | translate:translationData}}</option>
                        </select>
                        <label>{{'settings.zulu_subscription.label_plan_type' | translate:translationData}}</label>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{'settings.zulu_subscription.table_heading_plan' | translate:translationData}}</th>
                            <th>{{'settings.zulu_subscription.table_heading_practitioners' | translate:translationData}}</th>
                            <th>{{'settings.zulu_subscription.table_heading_price' | translate:translationData}}</th>
                            <th>{{'settings.zulu_subscription.table_heading_select_plan' | translate:translationData}}</th>
                        </tr>
                        </thead>
                        <tbody ng-if="subscriptionList">
                        <tr class="angular-animate" ng-repeat="subscriptions in subscriptionList | filter:{category:planCat}">
                            <td><span>{{subscriptions.name}}</span></td>
                            <td><span>{{subscriptions.no_doctors}}</span></td>
                            <td><span>${{subscriptions.price}}</span></td>
                            <td ng-if="!subscriptions.not_available">
                                <a ng-if ="!subscriptions.is_selected" href="" class="select-plan" ng-click="openConfirm(subscriptions.id, subscriptions.price)">{{'settings.zulu_subscription.select_plan' | translate:translationData}}</a>
                                <strong ng-if ="subscriptions.is_selected">{{'settings.zulu_subscription.current_plan' | translate:translationData}}</strong>
                            </td>
                            <td ng-if="subscriptions.not_available"><a href="" class="not-availble">{{'settings.zulu_subscription.not_avail' | translate:translationData}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive text-center noRecordToDisplay" style="margin-top: -20px;" ng-if="!subscriptionList">
                    <i></i>
                    <h4><span>"{{'patient.oops' | translate:translationData}}! </span> 
                    {{'no plan subscribed by you' | translate:translationData}}."</h4>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<script type="text/ng-template" id="CardUpdate.html">
    <div class="modal-body confirm-body CardUpdate">
        <a href="" ng-click="cancel()" class="close-popup"></a>
        <div class="confirm">
            <form ng-submit="UpdateCard(cardDetails)" novalidate>
                <div class="creditForm">
                    <h2>{{'settings.zulu_subscription.zulu' | translate:translationData}}</h2>
                    <h4>{{cplane.current_plan}} ({{cplane.category}})</h4>
                    <p class="creditEmail">{{cplane.email_id}}</p>
                    <div class="creditFromContent">
                        <input type="text" placeholder="{{'settings.zulu_subscription.placeholder_card_number' | translate:translationData}}" class="creditCardNo" ng-model="cardDetails.card_number" cc-number cc-type="cardType" ng-required="true"/>
                        <select class="form-control" ng-model="cardDetails.expiry_month" cc-exp-month ng-required="true">
                            <option value="">{{'settings.zulu_subscription.selectMonth' | translate:translationData}}</option>
                            <option ng-repeat="n in range(1,12)">{{n}}</option>
                        </select>
                        <select class="form-control" ng-model="cardDetails.expiry_year" cc-exp-year ng-required="true">
                            <option value="">{{'settings.zulu_subscription.selectyear' | translate:translationData}}</option>
                            <option ng-repeat="n in range(currentYear,addfiftyYear)" value="{{n}}">{{n}}</option>
                        </select>
                        <input type="text" placeholder="{{'settings.zulu_subscription.placeholder_cvv' | translate:translationData}}" class="creditCVV cvv"  ng-model="cardDetails.cvv" cc-cvc ng-required="true"/>
                        <button type="submit">{{buttonTxt | translate:translationData}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<!-- Modal -->
<script type="text/ng-template" id="cancelUpdate.html">
    <div class="modal-body confirm-body CardUpdate">
        <a href="" ng-click="cancel()" class="close-popup"></a>
        <div class="confirm">
            <form ng-submit="CancelSubscription(cancelsubs)">
                <div class="creditForm">
                    <h2>{{'settings.zulu_subscription.cancellation' | translate:translationData}}</h2>
                    <h3>{{'settings.zulu_subscription.cancellation_info' | translate:translationData}}</h3>
                    <div class="creditFromContent">
                        <ul>
                            <li ng-repeat="resons in resons">
                                <div class="form-group medi radio-con">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="cancelsubs.reason" name="cancel-type" value="{{resons.text | translate}}"><span></span> {{resons.text | translate:translationData}}
                                        </label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h6>{{'settings.zulu_subscription.share' | translate:translationData}}</h6>
                    <textarea class="form-control" ng-model="cancelsubs.description"></textarea>
                </div>
                <button type="submit" class="save">{{'settings.zulu_subscription.cancel' | translate:translationData}}</button>
            </form>
        </div>
    </div>
</script>

<!-- Modal -->
<script type="text/ng-template" id="subConfirm.html">
    <div class="modal-body confirm-body">
        <div class="confirm">
            <h3>{{'settings.sms_setting.confirmation' | translate:translationData}}</h3>
            <p>{{'settings.sms_setting.confirmation_msg_1' | translate:translationData}} ${{plan.price}} and canceled your previous subscription</p>
            <a href="" ng-click="confirmSub()">{{'button.confirm' | translate:translationData}}</a>
            <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
        </div>
    </div>
</script>