<form id="TaxForm" ng-submit="TaxForm.$valid && TaxSubmit(TaxData);" novalidate name="TaxForm">
  <div class="col-md-6">
    <h2 ng-if="TaxData.name!=''">{{'settings.taxes.heading_editing_gst' | translate:translationData}}</h2>
    <h2 ng-if="TaxData.name==''">{{'settings.taxes.heading_add_tax' | translate:translationData}}</h2>
    <div class="form-group name-con">
      <label>{{'label.name' | translate:translationData}}</label>
      <input type="text" class="form-control" placeholder="{{'settings.placeholder_tax' | translate:translationData}}" required ng-model="TaxData.name">
    </div>
    <div class="form-group tax-amount">
      <label>Rate</label>
      <input type="text" class="form-control" placeholder="" pattern="[0-9]+([\.,][0-9]+)?" ng-model="TaxData.amount" required>
      <span>%</span>
    </div>

    <div class="form-group tax-amount" ng-if="quickBookData.is_connected">
      <label>QuickBook Taxes</label>
      <select class="form-control" ng-model="TaxData.tax_code_ref">
      <option ng-repeat="taxes in quickBookData.data.Tax" value="{{taxes.Id}}">{{taxes.name}} ({{taxes.amount}}%)</option>
      </select>
    </div>

    <!-- <div class="form-group tax-amount" ng-if="quickBookData.is_connected">
      <label ng-if="TaxData.tax_rates.length > 1">Rates</label>
      <label ng-if="TaxData.tax_rates.length == 1">Rate</label>
      <div ng-repeat="rates in TaxData.tax_rates" style="margin-bottom:10px;">
        <input type="text" class="form-control" placeholder="" pattern="[0-9]+([\.,][0-9]+)?" ng-model="rates.amount" required ng-disabled="quickBookData.is_connected">
        <span>%</span>
      </div>
    </div> -->

  </div>
  <div class="col-md-6"></div>
</form>