<div class="dashboard-con settings">
    <div class="top_tabbing">
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.service" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.billable-items" href="">{{'sidebar_menu.Product_and_Services' | translate:translationData}}</a>
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.payment_type" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.payment-types" href="">{{'sidebar_menu.Payment_Methods' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.tax" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.taxes" href="" class="active">{{'sidebar_menu.Taxes' | translate:translationData}}</a>      
      </div>
      <div class="col" ng-if="DashboardLinks.setting_sub_modules.billing_sub_modules.invoice_setting" ng-class="{'col-sm-12' : DashboardLinks.setting_sub_modules.billing_total == 1, 'col-sm-6' : DashboardLinks.setting_sub_modules.billing_total == 2, 'col-sm-4' : DashboardLinks.setting_sub_modules.billing_total == 3, 'col-sm-3' : DashboardLinks.setting_sub_modules.billing_total == 4}">
        <a ui-sref="settings.invoice" href="">{{'sidebar_menu.Invoice_Settings' | translate:translationData}}</a>      
      </div>
    </div>
    <div class="top-container">
        <div class="col-md-4 col-xs-4 top-links">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>    
        </div>
        <div class="col-md-8 col-xs-8 top-btn" ng-if="BtnTaxes">
            <button style="width: auto; padding:0 10px;" ng-click="syncTaxes()" class="save" ng-if="quickBookData.is_connected">Sync Quickbooks Taxes</button>
            <button class="save" type="submit" form="TaxForm">{{btnText | translate}}</button>
            <button ng-click="$state.go('settings.taxes');BtnTaxes=false" class="cancel">{{'button.cancel' | translate}}</button>
        </div>
        <!-- <div class="col-md-8 col-xs-8 top-btn" ng-if="quickBookData.is_connected">
        <button style="width: auto; padding:0 10px;" ng-click="syncTaxes()" class="save pull-right">Sync Quickbooks Taxes</button>
        </div> -->
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5>{{'settings.taxes.main_heading' | translate:translationData}}</h5>
                    <a class="" ui-sref="settings.taxes.info({TaxID:'new'})">
                        <i ng-click="btnText ='button.save';BtnTaxes=true" class="ic bus-icn percent"></i>
                        <span>{{'settings.tool-tip-addnew' | translate}}</span>
                    </a>
                </div>
                <div class="side-bar-search">
                    <form>
                        <input type="text" class="form-control" placeholder="{{'settings.placeholder_search' | translate:translationData}}" ng-model="searchTax" />
                        <button type="submit" disabled="disabled"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div ng-click="BtnTaxes=true;btnText ='button.update'" class="side-bar-links" ng-scrollbarss rebuild-on-resize>
                	<ul>
                    	<li ng-repeat="Tax in TaxList | filter:{name:searchTax}"><a href="" ui-sref="settings.taxes.info({TaxID:Tax.id})" ui-sref-active="active">{{Tax.name}}</a></li>
                    </ul>
                    <!-- <ul ng-if="quickBookData.is_connected">
                        <li ng-repeat="Tax in quickBookData.data.Tax | filter:{name:searchTax}"><a href="" ui-sref="settings.taxes.info({TaxID:Tax.id})" ui-sref-active="active">{{Tax.name}}</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-10 col-sm-10 form-content info-container " ng-scrollbarss rebuild-on-resize>
    	<div ui-view class="tax-view"></div>
        <p class="sync_msg" ng-if="quickBookData.is_connected">* To create and update taxes you need to make changes in QuickBook manually.</p>
    </div>
</div>