<div class="dashboard-con settings">
<form ng-submit="UserForm.$valid && CreateUser(rawuser, rawuser.logo)" id="UserForm" name="UserForm" novalidate>
  <div class="top-container">
    <div class="{{settingtopClasses1}}">
      <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>
    </div>
    <div class="{{settingtopClasses2}}" ng-show="BtnSave">
      <button class="save" type="submit" form="UserForm" ng-hide="userBtnText == 'button.update' && !permissionsData.view_edit && permissionsData.logged_in_user_id == u_id">{{userBtnText | translate:translationData}}</button>
      <button ng-disabled="buttonCancel" class="cancel" ng-click="$state.go('settings.users');BtnSave = false;showBlank=true">{{'button.cancel' | translate:translationData}}</button>
    </div>
  </div>
  <div class=" col-md-12 col-sm-12 form-content" ng-scrollbars rebuild-on-resize>
    <div class="col-md-6">
     	<h2>{{'settings.user_practitioners.heading_personal_detail' | translate:translationData}}</h2>
        <div class="form-group col-md-6 col-xs-6 name-con clearfix fname">
          <label>{{'label.first_name' | translate:translationData}}</label>
            <input type="text" class="form-control" placeholder="{{'S_label_firstname' | translate:translationData}}" ng-model="rawuser.first_name" required>
        </div>
        <div class="form-group col-md-6 col-xs-6 name-con fname">
          <label>{{'label.last_name' | translate:translationData}}</label>
          <input type="text" class="form-control" placeholder="{{'S_label_lastname' | translate:translationData}}" ng-model="rawuser.last_name" required>
        </div>
        <div class="form-group col-xs-4 city-con">
          <label>{{'label.title' | translate:translationData}}</label>
          <select class="form-control" ng-model="rawuser.title">
            <option value=""></option>
            <option value="mr">{{'title.mr' | translate:translationData}}</option>
            <option value="mrs">{{'title.mrs' | translate:translationData}}</option>
            <option value="ms">{{'title.ms' | translate:translationData}}</option>
            <option value="Miss">{{'title.miss' | translate:translationData}}</option>
            <option value="dr">{{'title.dr' | translate:translationData}}</option>
            <option value="Master">{{'title.master' | translate:translationData}}</option>
            <option value="RMT">{{'title.rmt' | translate:translationData}}</option>
            <!-- <option value="Professor">{{'title.professor' | translate:translationData}}</option>
            <option value="Sir">{{'title.sir' | translate:translationData}}</option>
            <option value="Lord">{{'title.lord' | translate:translationData}}</option>
            <option value="Lady">{{'title.lady' | translate:translationData}}</option>
            <option value="Dame">{{'title.dame' | translate:translationData}}</option>
            <option value="Reverend">{{'title.reverend' | translate:translationData}}</option>
            <option value="Sister">{{'title.sister' | translate:translationData}}</option>
            <option value="Rabbi">{{'title.rabbi' | translate:translationData}}</option>
            <option value="King">{{'title.king' | translate:translationData}}</option>
            <option value="Zombie Lord">{{'title.zombie_lord' | translate:translationData}}</option> -->
          </select>
        </div>
        <div class="form-group col-xs-8 city-con1">
          <label>{{'label.phone' | translate:translationData}}</label>
          <input type="text" class="form-control" placeholder="+91 00000-00000" ng-model="rawuser.phone">
        </div>
        <div class="form-group">
          <label>{{'label.email_address' | translate:translationData}}</label>
          <input type="email" class="form-control" placeholder="{{'s_label_emailaddress_placeholder' | translate:translationData}}" ng-model="rawuser.email" required>
        </div>
        <div class="form-group">
          <label>{{'settings.user_practitioners.label_timezone' | translate:translationData}}
            <i class="ic info info-hover left-side">
              <span>{{'settings.user_practitioners.label_timezone_info' | translate:translationData}}</span>
            </i>
          </label>
          <select class="form-control" ng-model="rawuser.time_zone">
            <option ng-repeat="timezones in timezone" value="{{timezones.time_zone}}">
                    {{timezones.printable_string[0].formatted_timezone}}</option>
          </select>
        </div>
        <div class="clearfix"></div>
        <div class="ifPractitioner angular-animate" ng-show="rawuser.is_doctor" style="display:block">
          <h2>{{'settings.user_practitioners.label_practitioner_info' | translate:translationData}}</h2>
            <div class="remove-margin">
              <div class="form-group col-xs-4 city-con pra-info">
                <label>{{'settings.user_practitioners.label_type' | translate:translationData}}</label>
              </div>
              <div class="form-group col-xs-4 city-con pra-info">
                <label>{{'settings.user_practitioners.label_num' | translate:translationData}}</label>
              </div>
              <div class="form-group col-xs-4 city-con pra-info">
                <label>{{'settings.user_practitioners.label_business_name' | translate:translationData}}</label>
              </div>
            </div>
            <div ng-repeat="user_refers in rawuser.practi_info_attributes.practi_refers_attributes" ng-animate="'animate'">
              <div class="form-group col-xs-4 city-con pra-info">
                <input type="text"  class="form-control" ng-model="user_refers.ref_type" placeholder="400082"/>
              </div>
              <div class="form-group col-xs-4 city-con pra-info">
                <input type="text"  class="form-control"  ng-model="user_refers.number" placeholder="400082"/>
              </div>
              <div class="form-group col-xs-4 city-con pra-info">
                <select class="form-control" ng-model="user_refers.business_id">
                  <option ng-repeat="businessLists in businessList" value="{{businessLists.id}}">{{businessLists.name}}</option>
                </select>
              </div>
              <div class="pra-icns">
                <a href="" ng-click="remove_practi_refers($index)"><i class="ic cross"></i></a>
              </div>
            </div>
              <div class="pra-icns">
                <a href="" ng-click="add_practi_refers(businessList[0].id)"><i class="ic add"></i></a>
              </div>
            <div class="form-group">
              <label>{{'settings.user_practitioners.label_designation' | translate:translationData}}
                <i class="ic info info-hover left-side">
                  <span>{{'settings.user_practitioners.label_designation_info' | translate:translationData}}</span>
                </i>
              </label>
              <input type="text" class="form-control" placeholder="Businessman" ng-model="rawuser.practi_info_attributes.designation">
            </div>
            <div class="form-group description">
              <label>{{'settings.user_practitioners.label_description' | translate:translationData}}</label>
              <textarea class="form-control" ng-model="rawuser.practi_info_attributes.desc"></textarea>
            </div>
            <div class="form-group">
              <label class="logo-com">{{'settings.account.add_signature' | translate:translationData}}</label>
              <div class="img-con">
                <img ng-src="assets/missing.png" ng-if="rawuser.logo == '/logos/original/missing.png'" alt=""/>
                <img ngf-src="rawuser.logo" class="thumb" ng-if="rawuser.logo != '/logos/original/missing.png'" alt="">
              </div>
              <input type="button" value="{{'button.upload' | translate:translationData}}" ngf-select ng-model="rawuser.logo"  accept="image/*"  class="upload-btn uplBtn">
            </div>
            <div class="form-group check-con online-booking">
              <label>{{'settings.user_practitioners.label_online_booking' | translate:translationData}}</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="rawuser.practi_info_attributes.is_online"><span></span> {{'settings.user_practitioners.label_online_booking_check' | translate:translationData}}
                </label>
              </div>
            </div>
          </div>
        </div>
      	<div class="col-md-6">
          <h2 class="hv-info">{{'settings.user_practitioners.label_change_password' | translate:translationData}}
            <i class="ic info info-hover bottom">
              <span>{{'settings.user_practitioners.label_change_password_info' | translate:translationData}}</span>
            </i>
          </h2>
          <div ng-if="rawuser.id">
            <div class="form-group col-md-6 col-xs-6 name-con clearfix password">
              <label>{{'settings.user_practitioners.label_password' | translate:translationData}}</label>
              <input type="password" class="form-control" placeholder="{{'settings.user_practitioners.label_password' | translate:translationData}}" ng-model="rawuser.password">
            </div>
            <div class="form-group col-md-6 col-xs-6 name-con password">
              <label>{{'settings.user_practitioners.label_confirm_password' | translate:translationData}}</label>
              <input type="password" class="form-control" placeholder="{{'settings.user_practitioners.label_confirm_password' | translate:translationData}}"  ng-model="rawuser.password_confirmation" password-match="rawuser.password" name="password2">

              <div class="msg-block" ng-show="UserForm.$error &&  rawuser.password_confirmation !=null" ><span class="msg-error" ng-show="UserForm.password2.$error.unique">{{'settings.user_practitioners.label_pass_not_match' | translate:translationData}}</span></div>
            </div>
          </div>
          <!--</div>-->
          <div class="form-group fac-con clearfix">
            <label >2 Factor Authentication<span ng-if="!copyRowData.auth_factor" >(Not enabled)</span>
              <i class="ic info info-hover">
                <span class="ng-binding">2 factor authentication adds an extra layer of security to your OpusTime account. When logging in, you'll need to also provide a verification code after entering your email address and password.</span>
              </i>
            </label>
            <div class="clearfix"></div>
            <label class="on-off">
              <input type="checkbox" ng-model="rawuser.auth_factor" class="ng-pristine ng-untouched ng-valid ng-empty" tabindex="0" aria-checked="false" aria-invalid="false">
            <span class="bg"></span>
            </label>
          </div>
          <h2>{{'settings.user_practitioners.heading_zulu_setting' | translate:translationData}}</h2>
          <div class="form-group col-md-7 col-xs-7 name-con clearfix">
            <label>{{'settings.user_practitioners.label_is_person' | translate:translationData}}</label>
            <div>
              <label class="on-off">
                <input type="checkbox" ng-model="rawuser.is_doctor" >
                  <span class="bg"></span>
              </label>
            </div>
          </div>
          <div class="form-group col-md-5 col-xs-5 name-con">
            <label>{{'settings.user_practitioners.label_account_Active' | translate:translationData}}</label>
            <div>
              <label class="on-off">
                <input type="checkbox" ng-model="rawuser.acc_active">
                  <span class="bg"></span>
              </label>
            </div>
          </div>
          <div class="form-group"  ng-if="rawuser.role != 'Administrator'">
            <label>{{'settings.user_practitioners.label_security_role' | translate:translationData}}</label>
            <select class="form-control" ng-model="rawuser.role">
              <option value="scheduler">{{'settings.user_practitioners.label_security_role_option1' | translate:translationData}}</option>
              <option value="receptionist">{{'settings.user_practitioners.label_security_role_option2' | translate:translationData}}</option>
              <option value="practitioner">{{'settings.user_practitioners.label_security_role_option3' | translate:translationData}}</option>
              <option value="bookkeeper">{{'settings.user_practitioners.label_security_role_option4' | translate:translationData}}</option>
              <option value="power receptionist">{{'settings.user_practitioners.label_security_role_option5' | translate:translationData}}</option>
              <option value="administrator">{{'settings.user_practitioners.label_security_role_option6' | translate:translationData}}</option>
            </select>
          </div>
          <div class="ifPractitioner angular-animate" ng-show="rawuser.is_doctor">
            <h2>{{'settings.user_practitioners.heading_select_service' | translate:translationData}}</h2>
              <div class="form-group check-con cate">
                <div class="checkbox" ng-repeat="appointment_service in rawuser.practi_info_attributes.appointment_services" ng-if="appointment_service.appointment_type_id!='N/A'">
                  <label>
                    <input type="checkbox" value="{{appointment_service.name}}" ng-model="appointment_service.is_selected"><span></span> {{appointment_service.name}}
                  </label>
                </div>

                <div class="form-group">
                  <label>{{'settings.user_practitioners.label_app_type' | translate:translationData}}</label>
                  <select class="form-control" ng-model="rawuser.practi_info_attributes.default_type" ng-options="appointment_service.appointment_type_id as appointment_service.name for appointment_service in rawuser.practi_info_attributes.appointment_services | filter : {is_selected : true}">
                  </select>
                </div>

                  <div class="form-group notify-con">
                      <label>
                        {{'settings.user_practitioners.label_cancel_app' | translate:translationData}}
                        <i class="ic info info-hover" style="margin-top:12px;">
                            <span>{{'settings.user_practitioners.label_notify_info' | translate:translationData}}</span>
                        </i>
                      </label>

                      <div class="clearfix"></div>

                      <div class="notify">
                        <h3>{{'settings.user_practitioners.label_notify_by' | translate:translationData}}</h3>
                          <select class="form-control" ng-model="rawuser.practi_info_attributes.notify_by">
                              <option value="sms">{{'select.option_SMS' | translate:translationData}}</option>
                              <option value="email">{{'select.option_email' | translate:translationData}}</option>
                              <option value="sms&email">{{'select.option_sms_email' | translate:translationData}}</option>
                          </select>
                      </div>
                      <div class="appointment">
                        <h3>{{'settings.user_practitioners.label_only_if' | translate:translationData}} <br />{{'settings.user_practitioners.label_app_within' | translate:translationData}}</h3>
                          <select class="form-control pull-left" ng-model="rawuser.practi_info_attributes.cancel_time">
                          <option value="0">Any Time</option>
                          <option ng-repeat="n in range(1,14)" value="{{n}}">{{n}} {{'settings.online_booking.label-min-option_day' | translate:translationData}}</option>
                          </select>
                          <i class="ic info info-hover right-side" style="margin-top:12px;">
                            <span>{{'settings.user_practitioners.label_day_info' | translate:translationData}}</span>
                        </i>
                      </div>
                  </div>

                  <div class="form-group online-booking">
                    <label>{{'settings.user_practitioners.label_external_calendar' | translate:translationData}}
                      <i class="ic info info-hover patientEmail-hover" style="margin-top:12px;">
                        <span>{{'settings.user_practitioners.label_external_calendar_info' | translate:translationData}}</span>
                      </i>
                    </label>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="rawuser.practi_info_attributes.allow_external_calendar"><span></span> {{'settings.user_practitioners.label_external_calendar_check' | translate:translationData}}
                      </label>
                    </div>
                  </div>
                  <div class="form-group booking" ng-if="rawuser.practi_info_attributes.allow_external_calendar">
                    <!-- <label>{{'settings.user-setting.label_address' | translate:translationData}}</label> -->
                    <p class="calender-url">{{rawuser.practi_info_attributes.external_calendar_path}}</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 avail ifPractitioner angular-animate" ng-show="rawuser.is_doctor">
            <h2>{{'settings.user_practitioners.label_avail' | translate:translationData}}</h2>
              <tabset>
                <tab heading="{{availability.business_name}}" ng-repeat="availability in rawuser.practi_info_attributes.practitioner_avails_attributes">
                  <div class="col-md-6" ng-repeat="available_days in availability.days_attributes">
                    <div class="col-xs-2">
                      <div class="form-group check-con online-booking">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="available_days.is_selected"><span></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-10 avail-con">
                      <div class="avail-master">
                          <div class="col-xs-3">
                            <h6>{{available_days.day_name}}</h6>
                            <a href="" class="break" ng-click="NewBreak($parent.$index, $index)">{{'settings.user_practitioners.link_break' | translate:translationData}}</a>
                          </div>
                          <div class="col-xs-9 time-setwidth">
                            <select class="form-control" ng-model="available_days.start_hr">
                              <option ng-repeat="n in range(00,23)">{{n}}</option>
                            </select>
                            <select class="form-control" ng-model="available_days.start_min">
                              <option ng-repeat="n in range(00,55,5)">{{n}}</option>
                            </select>
                            <span>To</span>
                            <select class="form-control" ng-model="available_days.end_hr">
                              <option ng-repeat="n in range(00,23)">{{n}}</option>
                            </select>
                            <select class="form-control" ng-model="available_days.end_min">
                              <option ng-repeat="n in range(00,55,5)">{{n}}</option>
                            </select>
                          </div>
                      </div>

                      <div class="avail-master">
                        <div class="abreak clearfix" ng-repeat="available_days_Breaks in available_days.practitioner_breaks_attributes">
                          <div class="col-xs-3">
                            <a href="" class="remove" ng-click="RemoveBreak($parent.$parent.$index, $parent.$index, $index)">{{'settings.user_practitioners.link_remove' | translate:translationData}}</a>
                          </div>
                          <div class="col-xs-9">
                            <select class="form-control" ng-model="available_days_Breaks.start_hr">
                              <option ng-repeat="n in range(00,23)">{{n}}</option>
                            </select>
                            <select class="form-control" ng-model="available_days_Breaks.start_min">
                              <option ng-repeat="n in range(00,55,5)">{{n}}</option>
                            </select>
                            <span>To</span>
                            <select class="form-control" ng-model="available_days_Breaks.end_hr">
                              <option ng-repeat="n in range(00,23)">{{n}}</option>
                            </select>
                            <select class="form-control" ng-model="available_days_Breaks.end_min">
                              <option ng-repeat="n in range(00,55,5)">{{n}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </tab>
           </tabset>
        </div>
  </div>
</form>
</div>

