<ul class="open-nav" >
    <li><a href="">{{'settings.main_breadcrumb' | translate:translationData}}</a></li>
    <li>/</li>
    <li class="active"><a href="">{{$state.current.data.pageTitle |  translate:translationData}}</a></li>
</ul>
<ul class="nav navbar-nav navbar-right select-con">
   <li dropdown on-toggle="toggled(open)" class="select-account">
    <a href id="nav-user-dd" dropdown-toggle>
      <span class="nav-user">{{$state.current.data.pageTitle |  translate:translationData}}</span>
    </a>
    <div class="top-links-con dropdown-menu" ng-scrollbars rebuild-on-resize rebuild-on="rebuild:me">
        <ul class="" aria-labelledby="nav-user-dd">
            <li ng-repeat="toplink in toplinks">
            	<a ui-sref="{{toplink.link}}" ui-sref-active="active"><span>{{toplink.title | translate:translationData}}</span></a>
            </li>
        </ul>
   </div>
  </li>
</ul>