<footer class="online-footer hidden-print">
	<div class="container">
    	<div class="social-con">
        	<ul class="social">
                <li><h5>{{'OB.shareOn' | translate:translationData}}:</h5></li>
                <li>
                    <a href="javascript:void(0)"
                        socialshare
                        socialshare-provider="facebook"
                        socialshare-text="Opus Time online Booking"
                        socialshare-description="Book an appointment in easy steps"
                        socialshare-media={{share_media}}
                        socialshare-type="feed"
                        socialshare-url={{share_url}}>
                        <i class="fa fa-facebook"></i>
                    </a>

                </li>
                <li>
                    <a href="javascript:void(0)"
                        socialshare
                        socialshare-provider="google"
                        socialshare-url={{share_url}}>
                        <i class="fa fa-google-plus"></i>
                    </a>
                <li>
                    <a href="javascript:void(0)"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-text="Opus Time online Booking"
                    socialshare-hashtags="Book an appointment in easy steps"
                    socialshare-url={{share_url}}>
                    <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)"
                        socialshare
                        socialshare-provider="linkedin"
                        socialshare-text="Opus Time online Booking"
                        socialshare-description="Book an appointment in easy steps"
                        socialshare-url={{share_url}}>
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)"
                        socialshare
                        socialshare-provider="email"
                        socialshare-subject="Opus Time online Booking"
                        socialshare-body="Book an appointment in easy steps {{share_url}}"
                        socialshare-to="">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
            </ul>
            <h6>{{'OB.poweredBy' | translate:translationData}}</h6>
        </div>
    </div>
</footer>