<header >
	<div class="container">
    	<div class="col-sm-6">
        	<h2 ng-if="!bookingInfo.logo">{{'OB.businessName' | translate:translationData}} : {{bookingInfo.company_name}}</h2>
            <img itemprop="image" ng-src="{{bookingInfo.logo}}" />
        </div>
        <div class="col-sm-6 custom-btn">
	        <button class="back" type="button" backButton ng-show="showBack">{{'button.back' | translate:translationData}}</button>
        	<button ng-show="showPrint" ng-click="email('sm')"><i class="fa fa-envelope" ></i> {{'button.email' | translate:translationData}}</button>
            <button ng-show="showPrint" ng-click="GetPdf()"><i class="fa fa-download" ></i> {{'button.PDF' | translate:translationData}}</button>
						<div class="col-sm-4">
							<select id="pref_lang" class="form-control">
			          <option value="en"> English </option>
			          <option value="fr"> français </option>
			          <option value="sp"> Spanish </option>
			        </select>
						</div>
				</div>
    </div>
</header>

<div class="loading OB_loading" ng-show="slowLoad">
  <div class="sidebar-load-bar animated slideInDown">
    <div class="sidebar-bar"></div>
    <div class="sidebar-bar"></div>
    <div class="sidebar-bar"></div>
  </div>
</div>
<script>
$('#pref_lang').change(function(){
  localStorage.setItem('preferredLang', $('#pref_lang').val());
  window.location.reload();
});

$(document).ready(function(){
  var selectedLang = localStorage.getItem('preferredLang');
  if(selectedLang != undefined){
    $('#pref_lang').val(selectedLang);
  }
});
</script>
