
<div class="header">
    <div class="cal_day">
        {{checked.format("DD")}}
    </div>
    <div class="cal_month">
        <i class="arrow-left" ng-click="previous()"></i>
        <span>{{month.format("MMMM, YYYY")}}</span>
        <i class="arrow-right" ng-click="next()"></i>
    </div>
</div>

<div class="week names">
    <span class="day">SUN</span>
    <span class="day">MON</span>
    <span class="day">TUE</span>
    <span class="day">WED</span>
    <span class="day">THU</span>
    <span class="day">FRI</span>
    <span class="day">SAT</span>
</div>
<div class="week" ng-repeat="week in weeks">

    
    <span class="day" ng-class="{disabled:!day.isavail, today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(checked)}" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}} </span>
</div>