<section class="working-area">
	<div class="container">
    	<div class="col-md-12">
        	<div class="cancel-con">
            	<h3>{{'OB.bookingCaceled.main_heading' | translate:translationData}}</h3>
                <h6>{{'OB.bookingCaceled.canceledSuccess' | translate:translationData}}</h6>
            </div>
        	<div class="location cancel-detail">
                <div class="location-con">
                	<div class="detail-container">
                        <div class="col-md-6">
                            <h3>{{'OB.bookingCaceled.bookAnother' | translate:translationData}}</h3>
                            <p>{{'OB.bookingCaceled.bookAnotherApp' | translate:translationData}}</p>
                        </div>
                        <div class="col-md-6">
                        	<a href="" ng-click="reCheck()">{{'OB.bookingCaceled.checkAvailableItems' | translate:translationData}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>