<section class="working-area">
    <div class="container">
        <div class="col-md-12">
            <div class="cancel-con confirmed">
                <h3>{{'OB.bookingConfirm.booking' | translate:translationData}} {{confirmMsg}}</h3>
                <h6>{{'OB.bookingConfirm.fantactic' | translate:translationData}}</h6>
            </div>
            <div class="location cancel-detail confirm-detail">
                <div class="location-con">
                    <div class="detail-container">
                        <div class="col-md-3">
                            <div class="inner-container">
                                <h5>{{'OB.reschedule.location' | translate:translationData}}</h5>
                                <ng-map class="hidden-print" draggable="false" disable-double-click-zoom="true" zoom-control="false" map-type-control="false" no-clear="false" scrollwheel="false" street-view-control="false" default-style="false" center="{{AppointmentInfo.business_info.full_address}}" map-lazy-load="{{googleMapsUrl}}"></ng-map>
                                <h4>{{AppointmentInfo.business_info.city}}</h4>
                                <h6>{{AppointmentInfo.business_info.name}}</h6>
                                <p>{{AppointmentInfo.business_info.full_address}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="inner-container">
                                <h5>{{AppointmentInfo.service_info.category}}</h5>
                                <h3>{{AppointmentInfo.service_info.service_name}}</h3>
                                <p class="time" ng-if="!AppointmentInfo.service_info.duration"><i class="ci watch"></i> {{AppointmentInfo.service_info.duration_time}} {{'OB.min' | translate:translationData}}</p>
                                <p class="long-lenght">{{AppointmentInfo.service_info.description}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="inner-container">
                                <h5>{{'OB.reschedule.practitioner' | translate:translationData}}</h5>
                                <!-- <div class="pre-img img">
                                    <img src="images/user.jpg" alt="">
                                </div> -->
                                <div class="">
                                    <h5 class="pre-name">{{AppointmentInfo.doctor_info.name}}</h5>
                                    <p>{{AppointmentInfo.doctor_info.designation}}</p>
                                </div>
                                <p class="long-lenght">{{AppointmentInfo.doctor_info.desc}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="inner-container add-to">
                                <h5>{{'OB.reschedule.time' | translate:translationData}}</h5>
                                <div class="time-content">
                                    <h5 class="pre-name"><i class="ci cal"></i> {{AppointmentInfo.appnt_date}}</h5>
                                    <h5 class="pre-name"><i class="ci watch"></i> {{AppointmentInfo.appnt_at}}</h5>
                                </div>
                                <div class="hidden-print">
                                <h5>{{'OB.bookingConfirm.addTo' | translate:translationData}}:</h5>
                                <a href="" ng-click="goToGoogleCal()">{{'OB.bookingConfirm.googleCalendar' | translate:translationData}}</a>
                                <a href="" ng-click="getIcal()">{{'OB.bookingConfirm.icalCalendar' | translate:translationData}}</a>
                                <a href="javascript:void(0)"
                                    socialshare
                                    socialshare-provider="facebook"
                                    socialshare-text={{share_config.text}}
                                    socialshare-description={{share_config.description}}
                                    socialshare-media={{share_media}}
                                    socialshare-type="feed"
                                    socialshare-url="{{share_config.url}}">
                                    {{'OB.shareOn' | translate:translationData}} <i class="fa fa-facebook"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 cancel-btns hidden-print ">
                            <button ng-click="backtoWebsite()">{{'OB.bookingConfirm.backToWebsite' | translate:translationData}}</button>
                            <button ng-click="printPage()">{{'button.print' | translate:translationData}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
       
<script type="text/ng-template" id="emailModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{'OB.enterEmail' | translate:translationData}}</h3>
    </div>
    <form name="other_email_form" ng-submit="other_email_form.$valid && sendEmail()" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <input type="email" name="other_email" ng-model="other_email" class="form-control" placeholder="{{'OB.enterEmail' | translate:translationData}}" required>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="submit">{{'button.ok' | translate:translationData}}</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</button>
        </div> 
    </form>
</script>
