<section class="working-area">
	<div class="container">
  	<div class="col-md-12">
    	<div class="location">
        <div class="location-con">
        	<h4>{{'OB.cancelApp.main_heading' | translate:translationData}}</h4>
          <form class="cancel-form" ng-submit="cancellation.$valid && cancelAppointment(appointment)" name="cancellation" novalidate>
            <div class="col-md-6">
            	<div class="form-group clearfix">
                <label class="col-sm-12 control-label">{{'OB.cancelApp.reasonforCancel' | translate:translationData}}</label>
                <div class="col-sm-12">
                </div>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="reason" value="Feeling better" ng-model="appointment.reason"><span></span> {{'OB.cancelApp.feelingBetter' | translate:translationData}}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="reason"  value="Feeling worse" ng-model="appointment.reason"> <span></span> {{'OB.cancelApp.feelingWorse' | translate:translationData}}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="reason"  value="Sick" ng-model="appointment.reason"><span></span> {{'OB.cancelApp.sick' | translate:translationData}}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="reason"  value="Away" ng-model="appointment.reason"><span></span> {{'OB.cancelApp.away' | translate:translationData}}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="reason"  value="Other" ng-model="appointment.reason"><span></span> {{'OB.cancelApp.other' | translate:translationData}}
                </label>
              </div>
            </div>
            <div class="col-md-6">
            	<div class="form-group">
                <label class="col-sm-12 control-label">{{'OB.cancelApp.additionalInfo' | translate:translationData}}</label>
                <div class="col-sm-12">
                  <textarea class="form-control" placeholder="" ng-model="appointment.notes"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-12 cancel-btns">
            	<button type="submit">{{'OB.cancelApp.cancelApp' | translate:translationData}}</button>
              <button ng-click="gotoReschedule()" type="button">{{'OB.cancelApp.rescheduleApp' | translate:translationData}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>