<section class="working-area">
	<div class="container">
    	<div class="col-md-12">
        	<div class="location">
            	<ul class="top-icn">
                	<li class="active"><i class="ci step1"></i></li>
                	<li class="active"><i class="ci step2"></i></li>
                	<li class="active"><i class="ci step3"></i></li>
                	<li class="active"><i class="ci step4"></i></li>
                	<li><i class="ci step5"></i></li>
                </ul>
                <h4>{{'OB.selectTime' | translate:translationData}}</h4>
                <div class="location-con dates">
                	<div class="col-md-6 calendar-con">
                    	<!--
                        <div class="hv-con">
                        	<i class="hv-morning"></i>
                    		<i class="hv-evening"></i>
                    		<i class="hv-afternoon"></i>
                        <div>
                        -->
                    	<div >
                            <calendar selected="day" checked="checked" dayavailability="dayavailability"></calendar>
                        </div>
                    </div>
                    <div class="col-md-6 clear-this">
                    <div class="dates-con" ng-if="!dayavailability">
                        <h4> {{'OB.chooseDate' | translate:translationData}}</h4>
                    </div>
                    	<div class="dates-con" ng-if="dayavailability">
                            <div class="col-md-12">
                                <strong>
                                	<h6>{{'OB.morning' | translate:translationData}}</h6>
                                </strong>
                                <div class="day-con">
                                	<a ng-click="ChooseTime(time)" ng-repeat="time in dayavailability.time_slots.morning">{{time[0]}}<span ng-if="time[1]"><span ng-hide="dayavailability.hide_end_time">-{{time[1]}}</span></span></a>
                                    <p ng-if="dayavailability.time_slots.morning.length==0" class="text-center">{{'OB.noTimeSlot' | translate:translationData}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                            	<strong>
                                	<h6>{{'OB.afternoon' | translate:translationData}}</h6>
                                </strong>
                                <div class="day-con">
                                	<a ng-click="ChooseTime(time)" ng-repeat="time in dayavailability.time_slots.afternoon">{{time[0]}}<span ng-if="time[1]"><span ng-hide="dayavailability.hide_end_time">-{{time[1]}}</span></span></a>
                                    <p ng-if="dayavailability.time_slots.afternoon.length==0" class="text-center">{{'OB.noTimeSlot' | translate:translationData}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h6>{{'OB.evening' | translate:translationData}}</h6>
                                <div class="day-con">
                                	<a ng-click="ChooseTime(time)" ng-repeat="time in dayavailability.time_slots.evening">{{time[0]}}<span ng-if="time[1]"><span ng-hide="dayavailability.hide_end_time">-{{time[1]}}</span></span></a>
                                    <p ng-if="dayavailability.time_slots.evening.length==0" class="text-center">{{'OB.noTimeSlot' | translate:translationData}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 btm_msg" ng-if="bookingInfo.time_sel_info != null">
                        <p>{{bookingInfo.time_sel_info}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>