<section class="working-area">
	<div class="container">
    	<div class="col-md-12">
        	<div class="location" ng-if="BusinessList.length > 0">
            	<ul class="top-icn">
                	<li class="active"><i class="ci step1"></i></li>
                	<li><i class="ci step2"></i></li>
                	<li><i class="ci step3"></i></li>
                	<li><i class="ci step4"></i></li>
                	<li><i class="ci step5"></i></li>
                </ul>
                <h4>{{'OB.selectLocation' | translate:translationData}}</h4>
                <div class="location-con">
                	<div class="col-md-4" ng-repeat-start="business in BusinessList">
                    	<div class="inner-container">
                            <h5>{{business.city}}</h5>
                            <ng-map draggable="false" disable-double-click-zoom="true" zoom-control="false" map-type-control="false" no-clear="false" scrollwheel="false" street-view-control="false" default-style="false" center="{{business.full_address}}"  map-lazy-load-params="{{googleMapsUrl}}"></ng-map>
                            <h6 class="headStyle">{{business.name}}</h6>
                            <p class="paraStyle" ng-if="business.address">{{business.full_address}}</p> 
                            <a ui-sref="service({businessId:business.id})">{{'button.select' | translate:translationData}}</a>
                         </div>
                    </div>
                    <div ng-repeat-end ng-if="$middle && 0 === ($index + 1) % 3" class="clearfix"></div>
                </div>
            </div>
            <p ng-if="BusinessList.length < 1">{{error}}</p>
        </div>
    </div>
</section>