<section class="working-area">
	<div class="container">
    	<div class="col-md-12">
        	<div class="location">
            	<ul class="top-icn">
                	<li class="active"><i class="ci step1"></i></li>
                	<li class="active"><i class="ci step2"></i></li>
                	<li class="active"><i class="ci step3"></i></li>
                	<li><i class="ci step4"></i></li>
                	<li><i class="ci step5"></i></li>
                </ul>
                <h4>{{PractitionersList.length > 0 ? 'OB.selectPractitioner' : 'OB.noPractitionar' | translate:translationData}}</h4>
                <div class="location-con pre-step">
                	<div class="col-md-4" ng-repeat-start="practitioner in PractitionersList">
                    	<div class="inner-container">
                        	<!-- <div class="pre-img">
                            	<img src="images/user.jpg" alt="">
                            </div> -->
                            <div class="paraStyle">
                            	<h5>{{practitioner.name}}</h5>
                                <p>{{practitioner.designation}}</p>
                                <p>{{practitioner.desc}}</p>
                            </div>
                            <a ui-sref="schedule({businessId:businessId,serviceId:serviceId, practitionerId:practitioner.id})">{{'button.select' | translate:translationData}}</a>
                        </div>
                    </div>
                    <div ng-repeat-end ng-if="$middle && 0 === ($index + 1) % 3" class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>