<section class="working-area">
	<div class="container">
    	<div class="col-md-12">
        	<div class="location">
            	<ul class="top-icn">
                	<li class="active"><i class="ci step1"></i></li>
                	<li class="active"><i class="ci step2"></i></li>
                	<li><i class="ci step3"></i></li>
                	<li><i class="ci step4"></i></li>
                	<li><i class="ci step5"></i></li>
                </ul>
                <h4>2. select a Service</h4>
                <div class="location-con">
                	<div class="col-md-4 list-container">
                    	<ul>
                        	<li>
                            	<a href="#">Osteopathy</a>
                            </li>
                        	<li>
                            	<a href="#">Osteopathy</a>
                            </li>
                        	<li>
                            	<a href="#">Osteopathy</a>
                            </li>
                        	<li>
                            	<a href="#">Osteopathy</a>
                            </li>
                        	<li>
                            	<a href="#" class="active">Osteopathy</a>
                            </li>
                        	<li>
                            	<a href="#">Osteopathy</a>
                            </li>
                        	<li>
                            	<a href="#">Osteopathy</a>
                            </li>
                        	<li>
                            	<a href="#">Osteopathy</a>
                            </li>
                        	<li>
                            	<a href="#">Osteopathy</a>
                            </li>
                        	<li>
                            	<a href="#">Osteopathy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 list-content">
                    	<div class="row">
                        	<div class="col-md-6">
                                <div class="inner-container services">
                                    <h5>podiatry</h5>
                                    <strong>Test</strong>
                                    <p class="time"><i class="ci watch"></i> 30 mins</p>
                                    <p>Lorem ipsum dolor sit amet, cetur sol adipiscing elit. In convallis sed nisl elit  Aenean vehicula dui vel iaculis dictum</p>
                                    <a href="#">Select</a>
                                 </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inner-container services">
                                    <h5>podiatry</h5>
                                    <strong>Test</strong>
                                    <p class="time"><i class="ci watch"></i> 30 mins</p>
                                    <p>Lorem ipsum dolor sit amet, cetur sol adipiscing elit. In convallis sed nisl elit  Aenean vehicula dui vel iaculis dictum</p>
                                    <a href="#">Select</a>
                                 </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inner-container services">
                                    <h5>podiatry</h5>
                                    <strong>Test</strong>
                                    <p class="time"><i class="ci watch"></i> 30 mins</p>
                                    <p>Lorem ipsum dolor sit amet, cetur sol adipiscing elit. In convallis sed nisl elit  Aenean vehicula dui vel iaculis dictum</p>
                                    <a href="#">Select</a>
                                 </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inner-container services">
                                    <h5>podiatry</h5>
                                    <strong>Test</strong>
                                    <p class="time"><i class="ci watch"></i> 30 mins</p>
                                    <p>Lorem ipsum dolor sit amet, cetur sol adipiscing elit. In convallis sed nisl elit  Aenean vehicula dui vel iaculis dictum</p>
                                    <a href="#">Select</a>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>