check process delayed_job pidfile /home/ubuntu/opustime/shared/pids/delayed_job.pid
  start program = "/bin/su - ubuntu -c 'cd /home/ubuntu/opustime/current/scripts && bash delayed_job.sh production start'"
  stop program =  "/bin/su - ubuntu -c 'cd /home/ubuntu/opustime/current/scripts && bash delayed_job.sh production stop'"
  group delayed_job
   if cpu > 50% for 2 cycles then alert
   if cpu > 70% for 5 cycles then restart
   if totalmem > 400.0 MB for 2 cycles then alert
   if totalmem > 500.0 MB for 3 cycles then restart
