check process faye_server pidfile /home/ubuntu/opustime/shared/pids/faye.pid
  start program = "/bin/su - ubuntu -c 'cd /home/ubuntu/opustime/current/scripts && bash faye.sh start'"
  stop program =  "/bin/su - ubuntu -c 'cd /home/ubuntu/opustime/current/scripts && bash faye.sh stop'"
  group faye
   if cpu > 50% for 2 cycles then alert
   if cpu > 70% for 5 cycles then restart
   if totalmem > 300.0 MB for 2 cycles then alert
   if totalmem > 400.0 MB for 3 cycles then restart
