 check process puma_server with pidfile /home/ubuntu/opustime/shared/pids/puma.pid
  start program = "/bin/su - ubuntu -c 'cd /home/ubuntu/opustime/current/scripts && bash puma.sh production start'"
  stop program =  "/bin/su - ubuntu -c 'cd /home/ubuntu/opustime/current/scripts && bash puma.sh production stop'"
  group puma
   if cpu > 50% for 2 cycles then alert
   if cpu > 70% for 5 cycles then restart
   if totalmem > 900.0 MB for 3 cycles then alert
   if totalmem > 1000.0 MB for 5 cycles then restart
