 check process sidekiq pidfile /home/ubuntu/opustime/shared/pids/sidekiq.pid
  start program = "/bin/su - ubuntu -c 'cd /home/ubuntu/opustime/current/scripts && bash sidekiq.sh production start'"
  stop program =  "/bin/su - ubuntu -c 'cd /home/ubuntu/opustime/current/scripts && bash sidekiq.sh production stop'"
  group sidekiq
   if cpu > 50% for 2 cycles then alert
   if cpu > 70% for 5 cycles then restart
   if totalmem > 900.0 MB for 2 cycles then alert
   if totalmem > 1024.0 MB for 3 cycles then restart
