<style>
    div.dataTables_paginate {
        margin: 22px;
    }
</style>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      SMS Number
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i> Home</li>
      <li class="active">SMS</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">SMS Number List</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered custom_table">
              <thead>
              <tr>
                <th>Company</th>
                <th>SMS No.</th>
                <th class="no_sort text-center">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @sms_numbers.each do |number| %>
                  <tr>
                    <td><%= number.company.company_name %></td>
                    <td><%= number.number %></td>
                    <td class="action_btns text-center">
                      <div class="btn-group">
                        <%= link_to "/sms_number/#{number.id}/edit", class: "btn btn-default", remote: true do %>
                            <i class="fa fa-pencil-square-o"></i>
                        <% end %>
                      </div>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <div class="col-md-4" id="sms_number_form"></div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
    });


</script>
