<dialog-panel header="header">
    <dialog-header header="header">
        <button class="cancel_btn" ng-click="hitCancel()">
            {{'button.cancel' | translate:translationData}}
        </button>
         <button class="save_btn" type="submit" form="CreateExpense" ng-if="!editEx">
            {{'button.save' | translate:translationData}}
        </button>
        <button class="save_btn" type="submit" form="CreateExpense" ng-if="editEx && expPerm.modify">
            {{'button.update' | translate:translationData}}
        </button>
    </dialog-header>
    <div class="navigate_arrow" ng-if="hv_next_pre">
        <div class="arrow_btn pre_btn">
            <a href="" ui-sref="expense.edit({'ex_id' : NewExpenses.prev})" ng-if="NewExpenses.prev != null"></a>
        </div>
        <div class="arrow_btn next_btn">
            <a href="" ui-sref="expense.edit({'ex_id' : NewExpenses.next})" ng-if="NewExpenses.next != null"></a>
        </div>
    </div>
    <div class="tab_contents">
        <div class="detail_con" ng-if="editEx">
            <h4>{{'expense.label_vendor' | translate:translationData}} : {{ExpenseDetail.vendor.name}}</h4>
            <div class="detail_content">
                <div class="row">
                    <div class="col-sm-4">
                        <h5>{{'expense.label_expense' | translate:translationData}} : {{ExpenseDetail.id}}</h5>
                        <h5>{{'expense.label_date' | translate:translationData}} : {{ExpenseDetail.expense_date}}</h5>
                        <h5>{{'expense.label_created_by' | translate:translationData}} : {{ExpenseDetail.created_by}}</h5>
                        <h5>{{'expense.label_category' | translate:translationData}} : {{ExpenseDetail.category.name}}</h5>
                    </div>
                    <div class="col-sm-4">
                        <h5>{{'expense.label_sub_total' | translate:translationData}} : {{ExpenseDetail.sub_amount}} </h5>
                        <h5>{{'expense.label_tax_amount' | translate:translationData}} : {{ExpenseDetail.tax_amount}}</h5>
                        <h5>{{'expense.label_total_amount' | translate:translationData}} : {{ExpenseDetail.total_expense}}</h5>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="note_con">
                            {{!ExpenseDetail.note? "Note" : ExpenseDetail.note}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form ng-submit="expenseForm.$valid && CreateExpenses(NewExpenses) " name="expenseForm" id="CreateExpense" class="products" name="CreateExpense" novalidate ng-if="createEdit">
            <div class="row trim_row">
                <div class="col-sm-6">
                    <div class="row trim_row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'expense.ExpenseDate' | translate:translationData}}</label>
                                <input type="text" ng-model="NewExpenses.expense_date" class="form-control cal" uib-datepicker-popup="{{format}}" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" placeholder="YYYY-MM-DD"  close-text="Close" ng-click="open($event)" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'expense.business' | translate:translationData}}</label>
                                  <select class="form-control" ng-model="NewExpenses.business_name" >
                                    <option ng-repeat="business in businessList" value="{{business.id}}">{{business.name}}</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'expense.label_vendor' | translate:translationData}}</label>
                                <md-content class="md-padding" >
                                   <md-autocomplete md-input-name="auto_vendor" md-selected-item="NewExpenses.vendor" md-search-text="searchVendortext" md-items="item in getVendorDataf(searchVendortext)" md-item-text="item.name" placeholder="{{'settings.placeholder_search' | translate:translationData}}" md-min-length="1">
                                      <span md-highlight-text="searchVendortext">{{item.name}}</span>
                                      <md-item-template>
                                        <span md-highlight-text="searchVendortext" md-highlight-flags="^i">{{item.name}}</span>
                                      </md-item-template>
                                      <md-not-found>
                                          {{'expense.no_matching' | translate:translationData}} "{{searchVendortext}}" {{'expense.wereFound' | translate:translationData}}
                                      </md-not-found>
                                    </md-autocomplete>
                                  </md-content>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'expense.label_category' | translate:translationData}}</label>
                                <md-content class="md-padding" >
                                   <md-autocomplete md-input-name="auto_category" md-selected-item="NewExpenses.category" md-search-text="searchCategorytext" md-items="item in getCategoryDataf(searchCategorytext)" md-item-text="item.name" placeholder="{{'settings.placeholder_search' | translate:translationData}}" md-min-length="1">
                                      <span md-highlight-text="searchCategorytextname">{{item.name}}</span>
                                      <md-item-template>
                                        <span md-highlight-text="searchTextp" md-highlight-flags="^i">{{item.name}}</span>
                                      </md-item-template>
                                      <md-not-found>
                                          {{'expense.no_matching' | translate:translationData}} "{{searchCategorytext}}" {{'expense.wereFound' | translate:translationData}}
                                      </md-not-found>
                                    </md-autocomplete>
                                  </md-content>
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>{{'expense.totalExpense' | translate:translationData}}</label>
                            <input step="0.01"   type="number" class="form-control" ng-model="NewExpenses.total_expense" ng-change="CalculateTax()" required/>
                          </div>
                        </div>
                        <div class="col-sm-6" ng-if="quickBookData.is_connected">
                          <div class="form-group">
                              <label>{{'expense.Quickbook_Expense' | translate}}</label>
                              <select class="form-control" ng-model="NewExpenses.expense_account_ref">
                                  <option ng-repeat="expenseData in quickBookData.data[0].Expense" value="{{expenseData.Id}}">{{expenseData.Name}}</option> 
                              </select>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row trim_row">
                        <div class="col-sm-4">
                            <div class="form-group">
                              <label>{{'expense.label_tax' | translate:translationData}}</label>
                              <select class="form-control" ng-model="NewExpenses.tax" ng-change="CalculateTax()">
                                <option value="">{{'label.not_available' | translate:translationData}}</option>
                                <option ng-repeat="tax in taxList" value="{{tax.id}}">{{tax.name}} ({{tax.amount}}%)</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                              <label>{{'expense.label_tax_amount' | translate:translationData}} <i class="ic info info-hover bottom taxAmount"> <span class="ng-binding">{{'expense.label_tax_amount_info' | translate:translationData}}</span> </i> </label>
                              <input type="text" class="form-control" ng-model="NewExpenses.tax_amount" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group notes-box">
                              <label>{{'product.label_note' | translate:translationData}}</label>
                              <textarea ng-model="NewExpenses.note" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="ng-binding">{{'expense.isThisExpense' | translate:translationData}} <i class="ic info info-hover"> <span class="ng-binding">{{'expense.isThisExpense_info' | translate:translationData}}</span> </i> </label>
                        <div class="radio_con">
                            <div class="col-sm-1">
                                <label>
                                  <input type="radio" ng-model="NewExpenses.include_product_price" name="stock_level" value = "true" checked="checked">
                                  <span></span> {{'expense.label_yes' | translate:translationData}}
                                </label>
                            </div>
                            <div class="col-sm-1">
                                <label class="ng-binding">
                                  <input type="radio" ng-model="NewExpenses.include_product_price" name="stock_level" value ="false" >
                                  <span></span> {{'expense.label_no' | translate:translationData}}
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="table-responsive table_view" ng-if="NewExpenses.include_product_price == 'true'">
                    <table class="table table-hover" ng-if="true">
                        <thead>
                            <tr>
                                <th>{{'expense.product' | translate:translationData}}</th>
                                <th>{{'expense.unitCost' | translate:translationData}}</th>
                                <th>{{'expense.quantity' | translate:translationData}}</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ExpenseProduct in NewExpenses.expense_products_attributes">
                              <td class="search-td"><md-content class="md-padding">
                                  <md-autocomplete
                                      md-selected-item="ExpenseProduct.name"
                                      md-search-text="searchTextp"
                                      md-items="item in ProductsListf(searchTextp)"
                                      md-item-text="item.name"
                                      placeholder="{{'settings.placeholder_search' | translate:translationData}}"
                                      md-min-length="1"> <span md-highlight-text="searchText">{{item.name}}</span>
                                    <md-item-template> <span md-highlight-text="searchTextp" md-highlight-flags="^i">{{item.name}}</span> </md-item-template>
                                    <md-not-found> {{'expense.no_matching' | translate:translationData}} "{{searchTextp}}" {{'expense.wereFound' | translate:translationData}} </md-not-found>
                                  </md-autocomplete>
                                </md-content></td>
                              <td class="small-input"><div> 
                                   <input type="text" class="form-control" ng-model="ExpenseProduct.unit_cost_price">
                                 </div></td>
                              <td class="small-input"><input type="text" class="form-control" ng-model="ExpenseProduct.quantity"></td>
                              <td class=""><a href="" class="remove" ng-click="removeExpenseProduct($index)"><i class="ic cross"></i> {{'expense.remove' | translate:translationData}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="" class="add-btn" ng-click="addExpenseProduct();"><i class="ic add"></i> {{'expense.addProduct' | translate:translationData}}</a> </div>
                </div>
            </div>
        </form>
    </div>
</dialog-panel>
