<div class="dashboard-con settings">
   <div class="top-container">
      <div class="top-links product-search" ng-class="{'col-md-12' : !expPerm.create, 'col-md-9' : expPerm.create}">
         <div class="top-links-container ng-scope">
            <ul class="open-nav ng-scope">
               <li><a href="" class="ng-binding">{{'expense.main_heading' | translate:translationData}}</a></li>
            </ul>
         </div>
         <div class="top-links-container ng-scope top-search-con searchPayment">
            <input type="text" class="form-control" ng-model="pagingData.fromFilter" ng-change="expenseLogs(pagingData)"  ng-hide="hideSearch" placeholder="{{'expense.search.placeholder' | translate:translationData}}"/>
            <button type="submit" ng-click="clearLogs()" ng-show="pagingData.fromFilter!=''"><i class="fa fa-times"></i></button>
            <!-- <button type="submit" ng-hide="hideSearch"><i class="fa fa-search"></i></button> -->
         </div>
      </div>
      <div class="col-md-3 col-xs-4 top-btn cart-btn text-right" ng-if="expPerm.create"> <span style="cursor: pointer;" ui-sref="expense.new">{{'expense.add_exp' | translate:translationData}}</span>
         <button class="save add_expense" type="button" ui-sref="expense.new"><i class="fa fa-credit-card"></i></button>
      </div>
   </div>
   <div class="col-md-12 col-sm-12 form-content no_topbar" ng-scrollbars>
      <div class="product-con">
         <div class="text-center noRecord" ng-if="noRecordFount">
            <h4>{{'expense.noMatchFound' | translate:translationData}}</h4>
         </div>
         <div class="text-center noRecordToDisplay " ng-if="ExpenseList == null">
            <i></i>
            <h4><span>"{{'communication.oops' | translate:translationData}}! </span> {{'communication.no_info' | translate:translationData}}"</h4>
         </div>
         <div ng-repeat="Expense in ExpenseList" class="listing_con" ng-click="editExpense(Expense.id)">
            <div class="productsdetails product-detailDe">
               <div class="col-sm-2">
                  <span>{{'expense.label_date' | translate:translationData}}</span>
                  <samp class="capText" ng-if="Expense.expense_date!=null"> : {{Expense.expense_date}}</samp>
                  <samp class="capText" ng-if="Expense.expense_date==null"> : N/A</samp>
               </div>

               <div class="col-sm-3">
                  <span>{{'expense.label_vendor' | translate:translationData}}</span>
                  <samp class="capText" ng-if="Expense.vendor!=null"> : {{Expense.vendor}}</samp>
                  <samp class="capText" ng-if="Expense.vendor==null"> : N/A</samp> 
                </div>

               <div class="col-sm-3">
                  <span>{{'expense.label_category' | translate:translationData}}</span>
                  <samp class="capText" ng-if="Expense.category!=null"> : {{Expense.category}}</samp>
                  <samp class="capText" ng-if="Expense.category==null"> : N/A</samp>
               </div>

               <div class="col-sm-2">
                  <span>{{'expense.label_amount' | translate:translationData}}</span>
                  <samp class="capText" ng-if="Expense.total_expense!=null"> : {{Expense.total_expense}}</samp>
                  <samp class="capText" ng-if="Expense.total_expense==null"> : N/A</samp>
               </div>
               
               <div class="col-sm-2 text-right">
                  <button class=""  ng-click="expenseDelete('sm', Expense.id, $event)" ng-if="expPerm.delete">
                     <i class="fa fa-trash"></i>
                  </button>
               </div>
            </div>
         </div>
<!--          <div class="text-right" ng-if="ExpenseDetail.pagination.total_pages>1">
            <nav>
               <ul class="pagination pagination-sm">
                  <li ng-class="{disabled: ExpenseDetail.pagination.previous_url == null}"> <a href aria-label="Previous" ng-click="hitPrev()"> <span aria-hidden="true">&laquo;</span> </a> </li>
                  <li ng-repeat="pages in pagging" ng-class="{ active : ExpenseDetail.pagination.page == pages.pageNo}"> <a href ng-bind="pages.pageNo" ng-click="nextPage(pages.pageNo)"></a> </li>
                  <li  ng-class="{disabled: ExpenseDetail.pagination.next_url == null}"> <a href="" aria-label="Next" ng-click="hitNext()"> <span aria-hidden="true">&raquo;</span> </a> </li>
               </ul>
            </nav>
         </div> -->
         <div class="text-right" ng-if="pagingData.TotalItems > 30">
            <div class="row" ng-controller="PagePaginationController" ng-show="showGrid">
               <div class="col-lg-12 col-sm-12 col-md-12">
                  <div class="col-lg-12 side_filter">
                     <label style="border-right: none;">Page Size&nbsp;&nbsp;
                     <select ng-model="pager.pageSize" ng-options="pageNo for pageNo in pager.pageSizeValues" ng-change="onSelectPageSize(pagingData, pager.pageSize)" class="paging-select" ng-disabled="pager.currentPage == pager.numPages" style="width: 50px; height: 25px;"></select>
                     </label>
                  </div>
                  <div class="col-lg-10 col-sm-10 col-md-10">
                  <pagination total-items="pager.totalItems" ng-model="pager.currentPage" max-size="pager.maxSize" items-per-page="pager.pageSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pager.numPages" ng-change="onSelectPage(pagingData, pager.currentPage)">
                  </pagination>
                  </div>
                  <div ng-init="initPager(pagingData);"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="newView" ui-view></div>
<!-- Modal --> 
<script type="text/ng-template" id="DeleteModal.html">
   <div class="modal-body confirm-body">
   <div class="confirm">
       <p>{{'expense.confirmDelete' | translate:translationData}}</p>
       <a href="" ng-click="okdelete()">{{'button.confirm' | translate:translationData}}</a>
       <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
     </div>
   </div>
</script>