<dialog-panel header="header">
    <dialog-header header="header">
        <button class="cancel_btn" ng-click="hitCancel()">
            {{'button.cancel' | translate:translationData}}
        </button>
         <button class="send_btn" type="submit" form="smsForm">
            {{'patient_detail.Send' | translate:translationData}}
        </button>
    </dialog-header>
    <form ng-submit="smsForm.$valid && sendMsg(send)" style="height:100%;" id="smsForm"  name="smsForm" novalidate>
        <div class="sendTo" ng-class="{'onlyone' : onlyOne}">
            <label>{{'communication.to' | translate}}</label>
            <div class="chips_con" ng-if="!onlyOne">
                <md-content class="md-padding multiple-sel" layout="column">
                  <md-chips ng-model="messageSendTo" md-autocomplete-snap md-require-match="true">
                    <md-autocomplete
                        md-min-length="1"
                        md-selected-item="selectedItem"
                        md-search-text="searchTextp"
                        md-items="item in ContactListf(searchTextp)"
                        md-item-text="item.name"
                        placeholder="Search" ng-click="ContactListf()">
                      <span md-highlight-text="searchText">{{item.name}} ({{item.contact}})</span>
                    </md-autocomplete>
                    <md-chip-template>
                      <span>
                        <em>{{$chip.name}} {{$chip.contact}}</em>
                      </span>
                    </md-chip-template>
                  </md-chips>
                </md-content>
            </div>
            <div class="one_contact" ng-if="onlyOne">
                {{patientNo.name}} {{patientNo.number}}
            </div>
        </div>
        <div class="tab_contents sms_popover">
            <div class="left_side_pop">
                <div class="row trim_row">
                    <div class="col-sm-4" ng-if="tempData.tabs.practitioner && tempData.practitioners.length!=0">
                        <div class="form-group">
                            <label style="margin-bottom:5px">{{'sms.Practitiner' | translate:translationData}}</label>
                            <select class="form-control" ng-options="prac.id as prac.name for prac in tempData.practitioners" ng-model="send.prac"></select>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="tempData.tabs.business && tempData.locations.length!=0">
                        <div class="form-group">
                            <label style="margin-bottom:5px">{{'expense.business' | translate:translationData}}</label>
                            <select class="form-control" ng-options="bus.id as bus.name for bus in tempData.locations" ng-model="send.business"></select>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="tempData.tabs.contact && tempData.contacts.length!=0">
                        <div class="form-group">
                            <label style="margin-bottom:5px">{{'patient_detail.Contact' | translate:translationData}}</label>
                            <select class="form-control" ng-options="con.id as con.name for con in tempData.contacts" ng-model="send.contact"></select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12" ng-class="{'hv_filters' : trimBox}">
                        <div class="form-group">
                            <label>{{'sms.Write_Message' | translate:translationData}}</label>
                            <text-angular ng-model="send.message" class="message_box" ta-target-toolbars='myToolbar'></text-angular>
                        </div>
                    </div>
                </div>
                
                <div class="message_history" ng-if="onlyOne" ng-class="{'trim_box' : trimBox}">
                    <label>{{'sms.History' | translate:translationData}}</label>
                    <div class="inner_history" ng-scrollbars rebuild-on-resize>
                        <ul>
                            <li ng-repeat="history in patientNo.conversation" ng-class="{'send' : history.direction == 'outbound'}">
                                <div class="mess_con">
                                    <div ng-bind-html="history.sms_body"></div>
                                    <i class="fa fa-info" aria-hidden="true" ng-if="history.status == 'Failed'" title="Message sent failed"></i>
                                    <span>{{history.sent_time}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right_side_pop">
                <div class="form-group">
                    <label>{{'sms.Select_Templates' | translate:translationData}}</label>
                </div>
                <div class="templates_coll" ng-scrollbars rebuild-on-resize>
                    <ul>
                        <li  ng-repeat="template in allTemplates" ng-click="bingMessage(template)">
                            <h5>{{template.template_name}}</h5>
                            <p ng-bind-html="template.body"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</dialog-panel>
