<dialog-panel header="header">
    <dialog-header header="header">
        <button class="cancel_btn" ng-click="hitCancel()">
            {{'button.cancel' | translate:translationData}}
        </button>
    </dialog-header>
    <form style="height:100%;">
        <div class="sendTo onlyone">
            <label>To</label>
            <div class="one_contact">
            {{patientNo.name}} {{patientNo.number}}
            </div>
        </div>
        <div class="tab_contents">
            <div class="left_side_pop" style="width:100%; overflow:hidden;">         
                <div class="message_history" style="height:100%;">
                    <label>{{'sms.History' | translate:translationData}}</label>
                    <div class="inner_history" ng-scrollbars rebuild-on-resize>
                        <ul>
                            <li ng-repeat="history in patientNo.conversation" ng-class="{'send' : history.direction == 'outbound'}">
                                <div class="mess_con">
                                    <div ng-bind-html="history.sms_body"></div>
                                    <i class="fa fa-info" aria-hidden="true" ng-if="history.status == 'Failed'" title="Message sent failed"></i>
                                    <span>{{history.sent_time}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</dialog-panel>
