<dialog-panel header="header">
    <dialog-header header="header">
        <button class="cancel_btn" ng-click="hitCancel()">
            {{'button.cancel' | translate:translationData}}
        </button>
         <button class="save_btn" type="submit" form="productForm" ng-if="!editProduct">
            {{'button.save' | translate:translationData}}
        </button>
        <button class="save_btn" type="submit" form="productForm" ng-if="editProduct && editPro && proPerm.modify">
            {{'button.update' | translate:translationData}}
        </button>
        <button class="save_btn" type="submit" form="StockForm" ng-if="editProduct && stockAdjustForm">
            {{'button.update' | translate:translationData}}
        </button>
    </dialog-header>
    <div class="navigate_arrow" ng-if="hv_next_pre">
        <div class="arrow_btn pre_btn">
            <a href="" ui-sref="products.edit({'pro_id' : product.previous_product})" ng-if="product.previous_product"></a>
        </div>
        <div class="arrow_btn next_btn">
            <a href="" ui-sref="products.edit({'pro_id' : product.next_product})" ng-if="product.next_product"></a>
        </div>
    </div>
    <div class="top_tabbing tabbing_menu" ng-if="editProduct">
        <div class="col" ng-class="{'col-sm-6' : !proPerm.stock, 'col-sm-4' : proPerm.stock}">
            <a href="" ng-click="openStockTable()" ng-class="{'active' : stockAdjust}"><i class="icon stock_adjust"></i> <span>{{'product.label_stock_adjust' | translate:translationData}}</span></a>
        </div>
        <div class="col" ng-class="{'col-sm-6' : !proPerm.stock, 'col-sm-4' : proPerm.stock}">
            <a href="" ng-click="openProduct()" ng-class="{'active' : editPro}"><i class="icon product_icn"></i> {{'product.btn_product' | translate:translationData}}</a>
        </div>
        <div class="col col-sm-4" ng-if="proPerm.stock">
            <a href="" ng-click="openStock()" ng-class="{'active' : stockAdjustForm}"><i class="icon stock_adjust"></i> {{'product.btn_stock' | translate:translationData}}</a>
        </div>
    </div>
    <div class="tab_contents" ng-class="{'have_tabs' : editProduct}">
        <div class="detail_con" ng-if="editProduct">
            <h4>{{product.name}}</h4>
            <div class="detail_content">
                <div class="row">
                    <div class="col-sm-4">
                        <h5>{{'product.label_item' | translate:translationData}} : {{product.item_code}}</h5>
                        <h5>{{'product.label_serial' | translate:translationData}} : {{product.serial_no}}</h5>
                        <h5>{{'product.label_supplier' | translate:translationData}} : {{product.supplier}}</h5>
                        <h5>{{'product.label_ex' | translate:translationData}} : {{product.price}}</h5>
                    </div>
                    <div class="col-sm-4">
                        <h5>{{'product.label_tax' | translate:translationData}} : <span ng-if="product.tax"  ng-repeat="taxes in taxList | filter:{id : product.tax}">{{taxes.name}} ({{taxes.amount}}%)<span></h5>
                        <h5>{{'product.label_cost' | translate:translationData}} : {{product.cost_price}} </h5>
                        <h5>{{'product.label_stock' | translate:translationData}} : {{product.stock_number}}</h5>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="note_con">
                            {{!product.note ? 'Note' : product.note}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form ng-submit="productForm.$valid && AddProduct(product)" id="productForm" class="products" name="productForm" novalidate ng-if="editPro && createEdit">
            <div class="row trim_row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>{{'product.label_pro_name' | translate:translationData}}</label>
                        <input id="name" class="form-control" type="text" ng-model="product.name" name="name" required/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>{{'product.label_supplier' | translate:translationData}}</label>
                        <input class="form-control" type="text" ng-model="product.supplier" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>{{'product.label_serial' | translate:translationData}}</label>
                        <input type="text" class="form-control" ng-model="product.serial_no" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>{{'product.label_item' | translate:translationData}}</label>
                        <input type="text" class="form-control" ng-model="product.item_code"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row trim_row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'product.label_price' | translate:translationData}}</label>
                                <input type="text" class="form-control" ng-model="product.price" required/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'product.label_tax' | translate:translationData}}</label>
                                <select class="form-control Tax" ng-model="product.tax" ng-change="resetButton(product.tax)">
                                    <option value="">{{'label.not_available' | translate:translationData}}</option>
                                    <option ng-repeat="tax in taxList" value="{{tax.id}}">{{tax.name}} ({{tax.amount}}%)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="checkbox new_checkbox">
                            <label>
                              <input type="checkbox" ng-model="product.include_tax" ng-disabled="product.tax == '' || product.tax == null"><span></span>{{'product.label_tax_option' | translate:translationData}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>{{'product.label_cost' | translate:translationData}}</label>
                        <input type="text" class="form-control" ng-model="product.cost_price"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>{{'product.label_stock' | translate:translationData}}</label>
                        <input type="text" class="form-control" ng-model="product.stock_number" ng-if="!showStocktext"/>
                        <p ng-if="showStocktext" class="stock_level">{{product.stock_number}}</p>
                    </div>
                </div>
                <div class="col-sm-6 note-prod">
                    <div class="form-group notes-box">
                        <label>{{'product.label_note' | translate:translationData}}</label>
                        <textarea ng-model="product.note" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-sm-3" ng-if="quickBookData.is_connected">
                    <div class="form-group tax-amount">
                        <label>{{'products.quickBookExpense' | translate:translationData}}</label>
                        <select class="form-control" ng-model="product.expense_account_ref">
                            <option ng-repeat="expenseData in quickBookData.data[0].Expense" value="{{expenseData.Id}}">{{expenseData.Name}}</option> 
                        </select>
                    </div>
                </div>
                <div class="col-sm-3" ng-if="quickBookData.is_connected">
                    <div class="form-group tax-amount">
                        <label>{{'products.quickBookIncome' | translate:translationData}}</label>
                        <select class="form-control" ng-model="product.income_account_ref">
                            <option ng-repeat="incomeData in quickBookData.data[1].Income" value="{{incomeData.Id}}">{{incomeData.Name}}</option> 
                        </select>
                    </div>
                </div>
             </div>
        </form>

        <form ng-submit="StockForm.$valid && UpdateStock(Stock, product.id)" id="StockForm" name="StockForm" class="products remove-top" novalidate ng-if="stockAdjustForm">
            <div class="row trim_row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{'product.label_which_way' | translate:translationData}}</label>
                        <div class="radio_con">
                            <div class="col-sm-6">
                                <label>
                                  <input type="radio" ng-model="Stock.stock_level" name="stock_level" value="increasing"><span></span> {{'product.label_increase' | translate:translationData}}
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="ng-binding">
                                  <input type="radio" ng-model="Stock.stock_level" name="stock_level" value="decreasing"><span></span> {{'product.label_decrease' | translate:translationData}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{'product.label_note' | translate:translationData}}</label>
                        <input type="text" ng-model="Stock.note" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>What type of stock change is it</label>
                        <select ng-if="Stock.stock_level == 'increasing'" class="form-control" ng-model="Stock.stock_type" ng-init="Stock.stock_type = 'Stock Purchase'">
                            <option>
                                 {{'product.label_type' | translate:translationData}}
                            </option>
                            <option value="Stock Purchase">{{'product.label_type_option1' | translate:translationData}}</option>
                            <option value="Returned">{{'product.label_type_option2' | translate:translationData}}</option>
                            <option value="Other">{{'product.label_type_option3' | translate:translationData}}</option>
                        </select>
                        <select class="form-control" ng-if="Stock.stock_level == 'decreasing'" ng-model="Stock.stock_type" ng-init="Stock.stock_type = 'Damaged'">
                            <option value="Damaged">{{'product.label_type_option4' | translate:translationData}}</option>
                            <option value="Out of Date">{{'product.label_type_option5' | translate:translationData}}</option>
                            <option value="Item Sold">{{'product.label_type_option6' | translate:translationData}}</option>
                            <option value="Other">{{'product.label_type_option3' | translate:translationData}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label ng-if="Stock.stock_level == 'increasing'">{{'product.label_howmany_increasing' | translate:translationData}}</label>
                        <label ng-if="Stock.stock_level == 'decreasing'">How many are you decreasing it by?</label>
                        <input type="text" ng-model="Stock.quantity" class="form-control" />
                    </div>
                </div>
            </div>
        </form>

        <div ng-if="ProductStocks.length == 0 && stockAdjust" class="noStockAvail">
            {{'product.noStock' | translate:translationData}} 
            <a href="" ng-click="openProduct()">{{'product.editingPro' | translate:translationData}}</a>
        </div>
        <div class="table-responsive table_view" ng-if="stockAdjust && ProductStocks.length != 0" style="margin-top:20px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{'product.table_heading_adjust_type' | translate:translationData}}</th>
                        <th>{{'product.table_heading_quantity' | translate:translationData}}</th>
                        <th>{{'product.table_heading_adjust_at' | translate:translationData}}</th>
                        <th>{{'product.table_heading_adjust_by' | translate:translationData}}</th>
                        <th>{{'product.table_heading_notes' | translate:translationData}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stockAdjustments in ProductStocks">
                        <td>{{stockAdjustments.stock_type}}</td>
                        <td>{{stockAdjustments.quantity}}</td>
                        <td>{{stockAdjustments.adjusted_at}}</td>
                        <td>{{stockAdjustments.adjusted_by}}</td>
                        <td>{{stockAdjustments.note}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</dialog-panel>
