<div class="dashboard-con settings">
	<div class="top-container">
      <div class="top-links product-search" ng-class="{'col-md-12' : !proPerm.create, 'col-md-9' : proPerm.create}">
        <div class="top-links-container ng-scope">
              <ul class="open-nav ng-scope">
                <li>
                  <a ng-click="AddProductHide()" href="" class="ng-binding">{{'product.main_heading' | translate:translationData}}</a>
                  <a ng-show="Addproduct" href=""  style="color:#ae3652"> / {{'Product.add_product' | translate:translationData}}</a>
                </li>
              </ul>
        </div> 
        <div class="top-links-container ng-scope top-search-con searchPayment">
              <input type="text" class="form-control" ng-model="pagingData.fromFilter" ng-change="productLogs(pagingData)" placeholder="{{'product.main_search_placeholder' | translate:translationData}}" ng-disable="disable_search"/>
              <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
              <button type="submit" ng-click="clearLogs()" ng-show="pagingData.fromFilter!=''"><i class="fa fa-times"></i></button>
        </div>     
      </div>
      <div class="col-md-3 col-xs-3 top-btn cart-btn text-right" ng-show="AddProductBtn" ng-if="proPerm.create">
        <span ui-sref="products.new" style="cursor: pointer;">{{'product.label_add_product' | translate:translationData}}</span><button class="save ng-binding ic-product" type="button" ui-sref="products.new"><i class="fa fa-cart-plus"></i></button>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 form-content no_topbar" ng-scrollbars>
        <div class="text-center noRecord" ng-if="noRecordFount">
          <h4>{{'product.noMatchFound' | translate:translationData}}</h4>
        </div>

        <div class="text-center noRecordToDisplay " ng-if="ProductsList == null">
            <i></i>
            <h4><span>"{{'communication.oops' | translate:translationData}} </span> {{'communication.no_info' | translate:translationData}}"</h4>
        </div>

        <div class="product-con">
          <div ng-repeat="product in ProductsList" class="listing_con" ng-click="editProduct(product.id)">

            <div class="productsdetails product-detailDe">
              <div class="col-sm-2" ng-if="product.item_code">
                <span>({{product.item_code}})</span> 
                <spam class="capText">{{product.name}}</samp>
              </div>
              <div class="col-sm-2" ng-if="!product.item_code">
                <span>(N/A)</span>
                <spam class="capText">{{product.name}}</samp>
              </div>

              <div class="col-sm-2" ng-if="product.supplier!=null">
                <span>{{'product.label_supplier' | translate:translationData}}</span> 
                <spam class="capText"> : {{product.supplier}} </samp>
              </div>
              <div class="col-sm-2" ng-if="product.supplier==null">
                <span>{{'product.label_supplier' | translate:translationData}}</span> 
                <spam> : N/A</samp>
              </div>

              <div class="col-sm-2">
                <span>{{'product.label_ex' | translate:translationData}}</span> : {{product.price_exc_tax}}
              </div>

              <div class="col-sm-2">
                <span>{{'product.label_inc' | translate:translationData}}</span> : {{product.price_inc_tax}}
              </div>

              <div class="col-sm-4 text-right">
                <button class="pro-value" ng-if="product.stock_number"><i class="basket"></i> {{product.stock_number}}</button>

                <button class="" ng-click="productDelete('sm', product.id, $event)" ng-if="proPerm.delete"><i class="fa fa-trash"></i></button>
              </div>

            </div>
        </div>

<!--       <div class="text-right" ng-if="ProductsDetail.pagination.total_pages>1">
            <nav>
              <ul class="pagination pagination-sm">
                <li ng-class="{disabled: ProductsDetail.pagination.previous_url == null}">
                  <a href aria-label="Previous" ng-click="hitPrev()">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li ng-repeat="pages in pagging" ng-class="{ active : ProductsDetail.pagination.page == pages.pageNo}">
                   <a href ng-bind="pages.pageNo" ng-click="nextPage(pages.pageNo)"></a>
                </li>
                <li  ng-class="{disabled: ProductsDetail.pagination.next_url == null}">
                  <a href="" aria-label="Next" ng-click="hitNext()">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
        </div> -->
        <div class="" ng-if="pagingData.TotalItems > 30">
          <div class="row" ng-controller="PagePaginationController" ng-show="showGrid">
             <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="col-lg-12 side_filter">
                   <label style="border-right: none;">Page Size&nbsp;&nbsp;
                   <select ng-model="pager.pageSize" ng-options="pageNo for pageNo in pager.pageSizeValues" ng-change="onSelectPageSize(pagingData, pager.pageSize)" class="paging-select" ng-disabled="pager.currentPage == pager.numPages" style="width: 50px; height: 25px;"></select>
                   </label>
                </div>
                <div class="col-lg-10 col-sm-10 col-md-10">
                <pagination total-items="pager.totalItems" ng-model="pager.currentPage" max-size="pager.maxSize" items-per-page="pager.pageSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pager.numPages" ng-change="onSelectPage(pagingData, pager.currentPage)">
                </pagination>
                </div>
                <div ng-init="initPager(pagingData);"></div>
             </div>
          </div>
       </div>
    </div>
  </div>
</div>
<div class="newView" ui-view></div>

<!-- Modal -->
<script type="text/ng-template" id="DeleteModal.html">
    <div class="modal-body confirm-body">
        <div class="confirm">
            <p>{{'product.confirmDelete' | translate:translationData}}</p>
            <a href="" ng-click="okdelete()">{{'button.confirm' | translate:translationData}}</a>
            <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
        </div>
    </div>
</script>