<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Payment History</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>

            <table id="payment_history" class="display" data-source="<%= payment_history_path(format: :json) %>">
              <thead>
              <tr>
                <th>Sr. No</th>
                <th>Amount Paid</th>
                <th>Transaction Type</th>
                <th>DateTime of Purchase</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

<script>

    var oTable;
    $(document).ready(function () {
        oTable = $('#payment_history').dataTable({
            "language": {
                "processing": "<img src='../assets/reload.gif'>"
            },
            "processing": true,
            "serverSide": true,
            "bStateSave": true,
            "ajax": $('#payment_history').data('source'),
            "pagingType": "full_numbers",
            'columns': [
                {'sortable': true, 'searchable': true},
                {'sortable': true, 'searchable': true},
                {'sortable': true, 'searchable': true},
                {'sortable': true, 'searchable': true}

            ]
        });
    });

</script>

