<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Subscription History</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>

            <table id="user_approvals" class="display" data-source="<%= subscription_history_path(format: :json) %>">
              <thead>
              <tr>
                <th>Sr. No</th>
                <th>Plan Name</th>
                <th>Plan Amount</th>
                <th>No. of Doctors</th>
                <th>Transaction Type</th>
                <th>DateTime of Purchase</th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

<script>

    var oTable;
    $(document).ready(function () {
        oTable = $('#user_approvals').dataTable({
            "language": {
                "processing": "<img src='../assets/reload.gif'>"
            },
            "processing": true,
            "serverSide": true,
            "bStateSave": true,
            "ajax": $('#user_approvals').data('source'),
            "pagingType": "full_numbers"
//            'columns': [
//                {'sortable': false, 'searchable': false},
//                {'sortable': false, 'searchable': false},
//                {'sortable': false, 'searchable': false},
//                {'sortable': false, 'searchable': false},
//                {'sortable': false, 'searchable': false},
//                {'sortable': false, 'searchable': false}
//            ]
        });
    });


</script>

