<dialog-panel header="header">
    <dialog-header header="header">
        <button class="cancel_btn" ui-sref="payment" ng-if="!$stateParams.patient_id && !$stateParams.invoice_id && !$state.includes('appointment') && !$state.includes('invoice')">
            {{'button.cancel' | translate:translationData}}
        </button>
        <button class="cancel_btn" ui-sref-opts="{reload: true}" ui-sref="patient-detail({'patient_id' : $stateParams.patient_id})" ng-if="$stateParams.patient_id">
           {{'button.cancel' | translate:translationData}}
        </button>
        <button class="cancel_btn" ui-sref="invoice" ng-if="$stateParams.invoice_id && !$state.includes('appointment')">
            {{'button.invoice.cancel' | translate:translationData}}
        </button>
        <button class="cancel_btn" ui-sref="appointment" ng-if="$state.includes('appointment')">
            {{'button.cancel' | translate:translationData}}
        </button>
         <button class="save_btn" type="submit" form="PaymentForm" ng-if="!editPayment">
            {{'button.save' | translate:translationData}}
        </button>
        <button class="save_btn" type="submit" form="PaymentForm" ng-if="editPayment && editPaymentForm">
            {{'button.update' | translate:translationData}}
        </button>
        <button class="delete_btn" form="PaymentForm" ng-if="$stateParams.patient_id && $stateParams.payment_id" ng-click="PaymentDelete('sm', $stateParams.payment_id, $event)">
            {{'button.delete' | translate:translationData}}
        </button>
        <button class="save_btn" type="button" ng-click="doEditPayment()" ng-if="editPayment && !editPaymentForm && !Payment.code">
            {{'button.edit' | translate:translationData}}
        </button>
        <button class="print_btn" form="newContacts" ng-if="editPayment" ng-click="PrintPayment(PaymentDetails.id)">
            {{'button.print' | translate:translationData}}
        </button>
    </dialog-header>
    <div class="navigate_arrow" ng-if="!$stateParams.patient_id && !$state.includes('invoice') && !$state.includes('appointment')">
      <div class="arrow_btn pre_btn">
        <a href="" ui-sref="payment.edit({'payment_id' : PaymentDetails.prev})" ng-if="PaymentDetails.prev != null"></a>
      </div>
      <div class="arrow_btn next_btn">
        <a href="" ui-sref="payment.edit({'payment_id' : PaymentDetails.next})" ng-if="PaymentDetails.next != null"></a>
      </div>
    </div>
    <div class="tab_contents">
      <div class="detail_con" ng-if="editPayment && !editPaymentForm">
        <div class="detail_content">
            <div class="row">
                <div class="col-sm-4">
                  <h4>{{'payment.main_heading' | translate:translationData}} #{{PaymentDetails.id}}</h4>
                  <h5>{{'payment.date' | translate:translationData}} : {{PaymentDetails.payment_date | date}}</h5>
                  <h5><span>{{'payment.patient' | translate:translationData}}</span> : <a href="" ui-sref="patient-detail({'patient_id':PaymentDetails.patient.id})" class="text-capitalize">{{PaymentDetails.patient.title}} {{PaymentDetails.patient.first_name}} {{PaymentDetails.patient.last_name}}</a></h5>
                  <h5 ng-repeat="Paymenttype in PaymentDetails.payment_history.paid_payment_amount_list">
                    {{Paymenttype.payment_type_name}}: $ {{Paymenttype.paid_money}}
                  </h5>
                  <h5>{{'payment.total' | translate:translationData}} : $ {{PaymentDetails.payment_history.total_amount}}</h5>
                </div>
                <div class="col-sm-4 pad-set-3">
                  <h4>{{'payment.paymentApplied' | translate:translationData}}</h4>
                  <div ng-repeat="invoicelisting in PaymentDetails.invoices_history.invoice_listing">
                    <h5 ng-if="!invoicelisting.invoice_status">
                       #{{invoicelisting.invoice_id}} - $ {{invoicelisting.applied_amount}} (Deleted)
                    </h5>
                    <h5 ng-if="invoicelisting.invoice_status" class="printBtns_con">
                      <a ui-sref="invoice.view({invoice_id:invoicelisting.invoice_id})">#{{invoicelisting.invoice_id}}</a> - $ {{invoicelisting.applied_amount}}
                      <div class="pull-right printBtns">
                        <a href="" ng-click="printInvoice(invoicelisting.invoice_id)"><i class="fa fa-print"></i><span>{{'button.print' | translate:translationData}}</span></a>
                        <a ng-show="PaymentDetails.patient.email_to_patient != null" href="" ng-click="emailPatient(invoicelisting.invoice_id)"><i class="fa fa-envelope-o"></i><span class="ng-binding">Email</span></a>
                      </div>
                    </h5>
                  </div>
                  <h5 ng-if="PaymentDetails.invoices_history.invoice_listing.length == 0">There is no any invoice</h5>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                  <h4>&nbsp;</h4>
                  <div class="note_con">
                      {{!PaymentDetails.notes? "Note" : PaymentDetails.notes}}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="payment_topbar" ng-if="editPaymentForm">
      <div class="col-sm-4 text-left">
        <p><span>${{Totalremaining}}</span> {{'payment.remaining' | translate:translationData}}</p>
      </div>
      <div class="col-sm-8 text-right">
        <p>{{'payment.outstanding' | translate:translationData}}: ${{Outstandings}} // {{'payment.payementApplied' | translate:translationData}}: ${{PaymentApplied}} <big ng-if="CreditApplied!=0 && CreditApplied!=''"> // {{'payment.creditApplied' | translate:translationData}} : ${{CreditApplied}}</big></p>
      </div>
    </div>
    <form ng-submit="PaymentForm.$valid && CreatePayment(Payment)" id="PaymentForm" class="products contact"  name="PaymentForm" novalidate ng-show="editPaymentForm" >
        <div class="row trim_row">
            <div class="col-sm-3">
                <div class="form-group auto-complete-typehead">
                    <label>{{'payment.patient' | translate:translationData}}</label>
                    <input type="text" class="form-control search_box focus_me" placeholder="{{'appointment.searchPatient' | translate:translationData}}" typeahead="patients as patients.first_name +' '+patients.last_name for patients in PatientListData | filter:$viewValue | limitTo:30" typeahead-input-formatter="formatLabel($model)" ng-model="Payment.patient" typeahead-on-select="GetInvoiceDetails($item)" autofocus required="required">
                    <p style="color:green; position:absolute; top:0; right:7.5px;" ng-if="ApplyInvoicesData.rest_invoices.credit_account!=null && ApplyInvoicesData.rest_invoices.credit_account!= 0"><small>{{'payment.accountCredit' | translate:translationData}} {{ApplyInvoicesData.rest_invoices.credit_account}}</small></P>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>{{'payment.business' | translate:translationData}}</label>
                    <select class="form-control" tabindex="0" ng-model="Payment.business"  ng-options="BussinessLists.id as BussinessLists.name for BussinessLists in BussinessList">
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{'payment.paymentDate' | translate:translationData}}</label>
                    <p class="input-group">
                      <input type="text" ng-model="Payment.payment_date" class="form-control" uib-datepicker-popup="{{format}}"  is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" placeholder="YYYY-MM-DD" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div>
            <div class="col-sm-2">
              <div class="row trim_row">
                <div class="col-sm-5 range-slct">
                  <div class="form-group">
                    <label>{{'communication.time' | translate:translationData}}</label>
                    <select class="form-control" tabindex="0" ng-model="Payment.payment_hr">
                      <option ng-repeat="n in range(00,23)">{{n}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2 text-center time_to ">
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <span>{{'communication.to' | translate:translationData}}</span>
                  </div>
                </div>
                <div class="col-sm-5 range-slct">
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <select class="form-control" tabindex="0" ng-model="Payment.payment_min">
                      <option ng-repeat="n in range(00,59)">{{n}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <table class="payment_table">
                <thead>
                  <tr>
                  <th>{{'payment.paymentType' | translate:translationData}}</th>
                  <th>{{'payment.amountPaid' | translate:translationData}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="PaymentTypes in Payment.payment_types_payments_attributes">
                    <td class="col-sm-6">
                      <div class="form-group">
                        <select class="form-control" ng-model="PaymentTypes.payment_type_id" ng-change="selectPaymentType(PaymentTypes.payment_type_id, $index)">
                          <option class="ng-binding" value="">{{'payment.selectPaymentType' | translate:translationData}}</option>
                          <option ng-disabled="isdisabled(Payments.payment_type_id)" ng-repeat="Payments in paymentList" value="{{Payments.payment_type_id}}">{{Payments.name}}</option>
                        </select>
                      </div>
                    </td>
                    <td class="col-sm-6">
                      <div class="row">
                        <span class="col-sm-6">
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon">$</div>
                              <input type="text" ng-disabled="!PaymentTypes.payment_type_id" class="form-control" ng-blur="CalAmount()" ng-model="PaymentTypes.amount">
                            </div>
                          </div>
                        </span>
                        <span class="col-sm-6 span-totalPrice">
                          <div class="form-group total-price"  ng-click="RemovePaymentType($index)">
                          <span class="remove">
                            <a href="" >
                              <i class="fa fa-times-circle-o"> </i> {{'payment.remove' | translate:translationData}}
                            </a>
                          </span>
                        </div>
                      </div>
                     </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="button-table">
                      <button type="Button" class="btn btn-black addPay-btn" ng-click="AddPayment()"><i class="fa fa-plus-circle"></i> {{'payment.add_payment' | translate:translationData}}</button>
                    </td>
                    <td class="paymentTotal">
                      <span class="pull-left">{{'payment.total_payment' | translate:translationData}}</span>
                      <span class="pull-right">$ {{AmountPaid}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>{{'payment.notes' | translate:translationData}}</label>
                <textarea class="form-control" ng-model="Payment.notes" style="height: 85px;"> </textarea>
              </div>
            </div>

            <div class="col-sm-12 gray-text">
              <h4 style="margin-bottom:10px;">{{'payment.applyToInvoice' | translate:translationData}}</h4>
            </div>
            <div class="col-sm-12">
              <div class="table-responsive table_view">
                <table ng-if="Payment.invoices_payments_attributes.length > 0" class="table table-hover">
                  <thead>
                    <tr>
                    <th>{{'payment.invoice' | translate:translationData}}#</th>
                    <th>{{'payment.issueDate' | translate:translationData}} </th>
                    <th>{{'payment.practitioner' | translate:translationData}}</th>
                    <th>{{'payment.invoiceTotal' | translate:translationData}}</th>
                    <th>{{'payment.amountOutstanding' | translate:translationData}}</th>
                    <th ng-if="ApplyInvoicesData.rest_invoices.credit_account!=null && ApplyInvoicesData.rest_invoices.credit_account!= 0" >{{'payment.account_Credit' | translate:translationData}}</th>
                    <th>{{'payment.paymentAmount' | translate:translationData}}</th>
                    <th>{{'payment.remaining' | translate:translationData}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="Invoices in Payment.invoices_payments_attributes">
                      <td>
                        <div class="gray-text" ng-model="Invoices.invoice_id">
                          {{Invoices.invoice_id}}
                        </div>
                      </td>
                      <td>
                        <div ng-model="Invoices.issue_date">
                          {{Invoices.issue_date}}
                        </div>
                      </td>
                      <td>
                        <div ng-model="Invoices.practitioner">
                          {{Invoices.practitioner}}
                        </div>
                      </td>
                      <td>
                        <div ng-model="Invoices.invoice_total">
                          {{Invoices.invoice_total}}
                        </div>
                      </td>
                      <td>
                        <div ng-model="Invoices.amount_outstanding">
                          {{Invoices.amount_outstanding}}
                        </div>
                      </td>
                      <td ng-if="ApplyInvoicesData.rest_invoices.credit_account!=null && ApplyInvoicesData.rest_invoices.credit_account!= 0">
                        <div class="discount-box">
                          <input type="text" ng-blur="CalCredits($index)"  class="form-control pull-left" placeholder="$" ng-model="Invoices.credit_amount">
                        </div>
                      </td>
                      <td>
                        <div class="discount-box">
                          <input type="text" ng-change="CalPayments($index)" ng-model-options="{updateOn: 'blur'}" class="form-control pull-left" placeholder="$" ng-model="Invoices.amount">
                        </div>
                      </td>
                      <td >
                        <div ng-model="Invoices.amount_remaining">
                          {{Invoices.amount_remaining | number:'2'}}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p ng-if="Payment.invoices_payments_attributes.length < 1"><small>{{'payment.no_open_invopice' | translate:translationData}}</small><p>
              <p style="color:Green" ng-if="unallocated==true"><small>${{UnallocatedCredit}} {{'payment.unallocatedFrom' | translate:translationData}}</small><p>
            </div>
        </div>
    </form>
  </div>
</dialog-panel>