<div class="dashboard-con settings">
  <div class="top-container">
    <div class="col-md-9 col-xs-9 top-links product-search">
      <div class="top-links-container ng-scope">
        <ul class="open-nav ng-scope">
          <li><a href="" class="ng-binding" ng-click="$state.go('payment.list')">{{'payment.main_heading' | translate:translationData}}</a>
        </ul>
      </div> 
      <div class="top-links-container ng-scope top-search-con">
        <input type="text" class="form-control" ng-change="paymentSearch(FilterPayments)" ng-model="FilterPayments" placeholder="{{'payment.search_placeholder' | translate:translationData}}"/>
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div class="col-md-3 col-xs-3 top-btn cart-btn text-right" > <span style="cursor: pointer;"   ui-sref="payment.new">{{'payment.add_payment' | translate:translationData}}</span>
      <button class="save ng-binding" type="submit" ui-sref="payment.new" ><i class="fa fa-users"></i></button>
    </div>
</div>
<div class="form-content no_topbar" ng-scrollbars ng-scrollbars-config="lazyloadConfig" lazyload="a()">
  <div class="text-center noRecord" ng-if="noRecordFount">
        <h4>{{'payment.noMatchFound' | translate:translationData}}</h4>
    </div>
    <div class="text-center noRecordToDisplay " ng-if="noModule">
        <i></i>
        <h4><span>"{{'communication.oops' | translate:translationData}} </span> {{'communication.no_info' | translate:translationData}}"</h4>
    </div>
    <div class="clearfix" ></div>
  <div class="product-con">
  <!-- List  -->
    <div class="invoice-list-page">
      <div ng-repeat="Payments in PaymentList.payment" class="listing_con" ng-click="editPaymentDetail(Payments.id)">
        <div class="productsdetails">
          <div class="col-sm-2">
            <span>{{'payment.main_heading' | translate:translationData}}#</span>
            : {{Payments.id}}
          </div>
          <div class="col-sm-4">
            <span>{{'payment.patient' | translate:translationData}}</span>
            : {{Payments.patient.first_name}} {{Payments.patient.last_name}}
          </div>
          <div class="col-sm-2">
            <span>{{'payment.date' | translate:translationData}}</span>
            : {{Payments.payment_date | date}}
          </div>
          <div class="col-sm-4 text-right">
          <button class="pro-value auto_wid">{{'payment.total' | translate:translationData}} : {{Payments.paid_amount}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right" ng-if="PaymentList.pagination.total_pages>1">
        <nav>
          <ul class="pagination pagination-sm">
            <li ng-class="{disabled: PaymentList.pagination.previous_url == null}">
              <a href aria-label="Previous" ng-click="hitPrev()">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="pages in pagging" ng-class="{ active : PaymentList.pagination.page == pages.pageNo}">
               <a href ng-bind="pages.pageNo" ng-click="nextPage(pages.pageNo)"></a>
            </li>
            <li  ng-class="{disabled: PaymentList.pagination.next_url == null}">
              <a href="" aria-label="Next" ng-click="hitNext()">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
<!-- Modal -->
<script type="text/ng-template" id="DeleteModal.html">
  <div class="modal-body confirm-body">
    <div class="confirm">
      <p>{{'payment.confirmDelete' | translate:translationData}}</p>
      <a href="" ng-click="okdelete()">{{'button.confirm' | translate:translationData}}</a>
      <a href="" ng-click="cancel()">{{'button.cancel' | translate:translationData}}</a>
    </div>
  </div>
</script>

