<div class="dashboard-con settings">
<div class="top-container">
  <div class="col-md-9 col-xs-9 top-links product-search">
    <div class="top-links-container ng-scope">
      <ul class="open-nav ng-scope">
        <li><a href="" class="ng-binding" ng-click="$state.go('payment.list')">{{'payment.main_heading' | translate:translationData}}</a><span style="color:#b93e5b" > / {{'payment.editPayment' | translate:translationData}}</span>
        </li>
      </ul>
    </div>
  </div>
 
  <div class="col-md-3 col-xs-3 top-btn" >
    <button type="submit" form="PaymentForm" class="save">{{'button.update' | translate:translationData}}</button>
    <button type="button" class="cancel" ng-click="$state.go('payment.list')"  >{{'button.cancel' | translate:translationData}}</button>
  </div>
</div>
<div class="form-content" ng-scrollbars>
   <form ng-submit="PaymentForm.$valid && UpdatePayment(Payment)" id="PaymentForm" class="products contact"  name="PaymentForm" novalidate >
<div class="col-md-12 payment_form resposive-layout">
    <div class="col-sm-6">
     <div class="row resposive-layout">
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{'payment.patient' | translate:translationData}}</label>
                 <md-content class="md-padding" >
                               <md-autocomplete 
                               md-input-name="auto_patient"
                                md-selected-item="Payment.patient"
                                md-selected-item-change="GetInvoiceDetails(Payment.patient)"
                                md-search-text="searchPatienttext"
                                md-items="item in PatientListDataf(searchPatienttext)"
                                md-item-text="item.first_name + ' ' + item.last_name"
                                placeholder="Search"
                                md-min-length="1">
                               <span md-highlight-text="searchText">{{item.first_name}}  {{item.last_name}}</span>
                               <md-item-template>
                                   <span md-highlight-text="searchTextp" md-highlight-flags="^i">{{item.first_name}} {{item.last_name}}</span>
                               </md-item-template>
                                <md-not-found>
                                      {{'expense.no_matching' | translate:translationData}} "{{searchPatienttext}}" {{'expense.wereFound' | translate:translationData}}
                                    </md-not-found>

                        </md-content>
                          <p style="color:green" ng-if="ApplyInvoicesData.rest_invoices.credit_account!=null && ApplyInvoicesData.rest_invoices.credit_account!= 0"><small>{{'payment.accountCredit' | translate:translationData}} {{ApplyInvoicesData.rest_invoices.credit_account}}</small></P>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{'payment.business' | translate:translationData}}</label>
                   <select class="form-control" tabindex="0" ng-model="Payment.business"  ng-options="BussinessLists as BussinessLists.name for BussinessLists in BussinessList">
                   </select>
            </div>
        </div>
         <div class="col-sm-12">
              <label>{{'payment.paymentDate' | translate:translationData}}</label>

         </div>  

          <div class="col-sm-6">
             <div class="form-group">
            <p class="input-group">
              <input type="text" ng-model="Payment.payment_date" class="form-control" uib-datepicker-popup="{{format}}"  is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" placeholder="YYYY-MM-DD" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
         </div>
        </div> 

        <div class="col-sm-3">
        <span class="arrow-count"> - </span>
            <div class="form-group">                
                <select class="form-control" tabindex="0" ng-model="Payment.payment_hr">
                     <option ng-repeat="n in range(00,23)">{{n}}</option>
                </select>
            </div>
        </div>
        
        <div class="col-sm-3">
         <span class="arrow-count"> : </span>
            <div class="form-group">               
                <select class="form-control" tabindex="0" ng-model="Payment.payment_min">
                      <option ng-repeat="n in range(00,59)">{{n}}</option>
                </select>
            </div>
        </div>
            <div class="col-sm-12">
            <table class="total-list">
        <thead>
            <tr>            
            <th>{{'payment.paymentType' | translate:translationData}}</th>
            <th>{{'payment.amountPaid' | translate:translationData}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="PaymentTypes in Payment.payment_types_payments_attributes">
                <td class="col-sm-6">
                        <div class="form-group">
                    <select class="form-control" ng-model="PaymentTypes.payment_type_id"  ng-options="p.payment_type_id as p.name for p in paymentList">
                     <option class="ng-binding" value="">{{'payment.selectPaymentType' | translate:translationData}}</option>
                    </select>
                </div>
                </td>
                
                <td class="col-sm-6">
                <div class="row">
                <span class="col-sm-6">
                    <div class="form-group">
                    <label>$ </label>
                   <input type="text" ng-disabled="!PaymentTypes.payment_type_id" class="form-control"  ng-blur="CalAmount()"    ng-model="PaymentTypes.amount">
                </div>
                </span>
                <span class="col-sm-6">
                    <div class="form-group total-price"  ng-click="RemovePaymentType($index)">                   
                    <span class="remove"> 
                        <a href="" >
                        <i class="fa fa-times-circle-o"> </i> {{'payment.remove' | translate:translationData}}</a>
                    </span>
                </div>
                </span>
                </div>
                </td>
            </tr>
            <tr>
            <td class="button-table">
                    <button type="Button" class="btn btn-black" ng-click="AddPayment()"><i class="fa fa-plus-circle"></i> {{'payment.add_payment' | translate:translationData}}</button>
                    </td>
                <td><span class="pull-left">{{'payment.total_payment' | translate:translationData}}</span> <span class="pull-right">{{AmountPaid}}</span></td>
                </tr>
            
            
        </tbody>
        
        
    </table>
            </div>
        
    </div>
    </div>  
    <div class="col-sm-6">
       <div class="row">
           <div class="col-sm-12">
                <div class="form-group notes-box">
                    <label>{{'payment.notes' | translate:translationData}}</label>
                    <textarea class="form-control" ng-model="Payment.notes"> </textarea>
                </div>
            </div>
         <div class="col-sm-12">
             <div class="error-show">
                <h1 ng-if="showRemaining!=true">{{'payment.error' | translate:translationData}}</h1>
                <h1 ng-if="showRemaining">${{Totalremaining}} {{'payment.remaining' | translate:translationData}}</h1>
                <p></p>
                <p>{{'payment.outstanding' | translate:translationData}} : $ {{Outstandings}} </p>
                <p>{{'payment.payementApplied' | translate:translationData}} : ${{PaymentApplied}}</p>
            </div>
        </div>
       
    </div>
    </div>

      <div class="col-sm-12 gray-text">
     <h4>{{'payment.applyToInvoice' | translate:translationData}}</h4>
    </div>

     <div class="col-sm-12">
    <table ng-if="Payment.invoices_payments_attributes.length > 0" class="total-list">
      <thead>                
        <tr>
        <th>{{'payment.invoice' | translate:translationData}}#</th>
        <th>{{'payment.issueDate' | translate:translationData}} </th>
        <th>{{'payment.practitioner' | translate:translationData}}</th>
        <th>{{'payment.invoiceTotal' | translate:translationData}}</th>
        <th>{{'payment.amountOutstanding' | translate:translationData}}</th>
         <th ng-if="ApplyInvoicesData.rest_invoices.credit_account!=null && ApplyInvoicesData.rest_invoices.credit_account!= 0" >{{'payment.account_Credit' | translate:translationData}}</th>
        <th>{{'payment.paymentAmount' | translate:translationData}}</th>
        <th>{{'payment.remaining' | translate:translationData}}</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="Invoices in Payment.invoices_payments_attributes">

          <td>
            <div class="form-group gray-text" ng-model="Invoices.invoice_id">
                {{Invoices.invoice_id}}
              </div>
          </td>
          <td>
          <div class="form-group" ng-model="Invoices.issue_date">
                 {{Invoices.issue_date}}
                </div>
          </td>
          <td>
            <div class="form-group" ng-model="Invoices.practitioner">
                  {{Invoices.practitioner}}
                </div>
            
          </td>
          <td>
            <div class="form-group" ng-model="Invoices.invoice_total">
                   <p>{{Invoices.invoice_total}}</p>
                </div>
          </td>
                <td>
                    <div class="form-group" ng-model="Invoices.amount_outstanding">
                   <p>{{Invoices.amount_outstanding}}</p>
                </div>                    
                </td>
                 <td ng-if="ApplyInvoicesData.rest_invoices.credit_account!=null && ApplyInvoicesData.rest_invoices.credit_account!= 0">
                      <div class="form-group discount-box">
                    <input type="text" ng-blur="CalCredits($index)"  class="form-control pull-left" placeholder="$" ng-model="Invoices.credit_amount">   
                     </div>
                </div>                    
                </td>
          <td>
            <div class="form-group discount-box">
                    <input type="text" ng-change="CalPayments($index)" ng-model-options="{updateOn: 'blur'}"  class="form-control pull-left" placeholder="$" ng-model="Invoices.amount">                    
                </div>
          </td>
          <td >
              <div class="form-group" ng-model="Invoices.amount_remaining">
                   <p>{{Invoices.amount_remaining}}</p>
                </div> 
          </td>
        </tr>
        
      </tbody>
    </table>
    <p></p>
    <p ng-if="Payment.invoices_payments_attributes.length < 1"><small>{{'payment.no_open_invopice' | translate:translationData}}</small><p>

      <p style="color:Green" ng-if="unallocated==true"><small>${{UnallocatedCredit}} {{'payment.no_open_invopice' | translate:translationData}}</small><p>

     
</div>
</form>
  </div> 
  <style>
.form-control{width:100% !important;}
</style>