<div class="dashboard-con settings">
<div class="top-container">
  <div class="col-md-9 col-xs-9 top-links product-search">
    <div class="top-links-container ng-scope">
      <ul class="open-nav ng-scope">
        <li><a href="" class="ng-binding" ng-click="$state.go('payment.list')">{{'payment.main_heading' | translate:translationData}}</a><span style="color:#b93e5b" > / {{'payment.add_new_payment' | translate:translationData}}</span></li>
      </ul>
    </div>
  </div>
 
  <div class="col-md-3 col-xs-3 top-btn" >
    <button type="submit" form="PaymentForm" class="save">{{'button.save' | translate:translationData}}</button>
    <button ng-if="!newInvoiceId" type="button" class="cancel" ng-click="$state.go('payment.list')"  >{{'button.cancel' | translate:translationData}}</button>
    <button ng-if="newInvoiceId" type="button" class="cancel" ng-click="$state.go('invoice.view', {'invoice_id': newInvoiceId })"  >{{'button.cancel' | translate:translationData}}</button>
  </div>
</div>
<div class="form-content" ng-scrollbars>
   <div ng-include="'templates/payment/payment-form.html'"></div>
</div>

<style>
.form-control{width:100% !important;}
</style>