<!DOCTYPE html>
<html ng-app="adminLogs">
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag 'application_v3', media: 'all' %>
  <%= javascript_include_tag 'logs.js' %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<%= yield %>
</body>
</html>